<div class="row">
    <div class="col-lg-3 col-xs-12">
        <input type="hidden" class="tile-user" value="{{ current_identity.id }}" />
        <input type="hidden" class="tile-identity" value="{{ identity.id }}"/>

        <div class="tile-image" ></div>
        <img class="tile-badge {{ service_name }}-logo"  alt="{{ service_name }}" src="{{ STATIC_URL }}images/{{ service_name }}/logo.png" />


        {% if endpoint %}
        <p class="tile-title">{{ endpoint.value }}</p>
        <a data-endpoint-pk="{{ endpoint.pk }}" class="btn btn-knotis-action disconnect" href="{{ action.href }}"><span>Disconnect</span>
            {% else %}
            <p class="tile-title">{{ service_name|title }}<br>Account</p>
            <a class="btn btn-knotis-action connect-{{ service_name }}" href="{{ action.href }}">&nbsp<span>Connect</span>{% endif %}
            </a>
            </div>
    </div>
