<div class="grid-tile small-tile social-tile">
  <input type="hidden" class="tile-user" value="{{ current_identity.id }}" />
  <input type="hidden" class="tile-identity" value="{{ identity.id }}"/>
  <div class="tile-header">
    <div class="tile-image" >&nbsp;</div>
    <img class="tile-badge {{ service_name }}-logo"  alt="{{ service_name }}" src="{{ STATIC_URL }}images/{{ service_name }}/logo.png" />
  </div>
  <div class="tile-body">
    <p class="tile-title">{{ service_name|title }}<br>Account</p>
    <a class="btn btn-knotis-action connect-{{ service_name }}" href="{{ action.href }}">&nbsp<span>Connect</span>&nbsp;</a>
  </div>
  <div class="tile-footer">
    &nbsp;
  </div>
</div>
