{% extends 'knotis/layout/master.html' %}
{% load render_template_fragment %}
{% block title %}Knotis - Social Media Settings{% endblock title %}
{% block first %}{% endblock first %}
{% block header %}
  {% render_fragment header %}
{% endblock header %}
{% block content %}
<div class="container-fluid">
  <div class="row-fluid main-row">
    <div class="span2">
      {% render_fragment nav_side %}
    </div>
    <div class="span10 grid">
      {% render_fragment social_integrations_grid %}
    </div>
  </div>
</div>
{% endblock content %}
{% block footer %}{% endblock footer %}
{% block last %}{% endblock last %}

