{% extends 'master.html' %}

{% block title %}Knotis - Happy Hours{% endblock title %}

{% block content %}
<div id="content" class="back-offers section">
    <div class="curve">
        <div class="image-back">
            <div class="image-back">
                <div class="wrapper back-curve clear-fix">
                    <div class="column-map events-happy relative right">
                        <div class="content-popup content-popup-mail absolute radius-general log_in_popup">
                            <div class="content-popup-inset back-login radius-general clear-fix">
                                <form class="backend-setting" method="post">{% csrf_token %}
                                    <h3 class="clear-fix"><strong>Get notified when Happy Hour is live</strong></h3><div class="clean"></div>
                                    {% if feedback %}
                                    <p class="message-confirm margin-general-25 radius-general ">{{ feedback }}</p>
                                    {% endif %}
                                    {% if not success %}
                                    <ul>
                                        <li>
                                            <label>
                                                <input type="text" class="radius-general" placeholder="Your email address." name="{{ email_form.email.html_name }}" value="{% firstof email_form.email.value user.username '' %}" >
                                            </label>
                                        </li>
                                    </ul>
                                    <p class="txt-center">
                                        <input class="button radius-general" type="submit" name="submit" value="Keep me in the Kno!">
                                    </p>
                                    {% endif %}
                                    </form>
                                </div>
                        </div>
    
    
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
