{% load thumbnail %}
{% if images|length > 0 or is_manager %}
<div class="about-carousel">
    <div class="carousel-wrapper">
        <h1 class="sectionHeader">Photos</h1>
        <section>
            <div id="about_carousel" class="carousel slide center">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for index, _ in images %}
                    <li data-target="#about_carousel" data-slide-to="{{ index }}" {% if index == 0 %}class="active"{% endif %} style="list-style: none;"></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for index, image in images %}
                    {% thumbnail image.image.image '500x400' crop=image.crop as img %}
                    <div class="item {% if index == 0 %}active{% endif %}">
                        <div class="about-carousel-image" style="background:url('{{ img.url }}');background-size:cover;">
                            {% if is_manager %}
                            <a data-href="/api/v0/media/imageinstance/" data-method="delete" data-pk="{{ image.pk }}" class="delete-x"> x</a>
                            {% endif %}
                        </div>

                    </div>
                    {% endthumbnail %}
                    {% endfor %}
                </div>
                {% if is_manager %}<a class="upload-photo" data-business-id="{{ establishment_id }}">Upload Photos</a>{% endif %}
            </div>
        </section>
    </div>
</div>
{% endif %}
