{% if twitter_feed %}
<div class="twitterFeed">
    <div class="about-twitter">
        {% for tweet in twitter_feed %}
        <div class="tweet">
            <div class="container-fluid">
                <div class="row">
		    <div class='col-sm-12'>
			<img class="user pull-left" src="{{ tweet.user.profile_image_url }}"/>
                        <p class="tweet-text text-left">{{ tweet.text }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

