{% load thumbnail %}
{% load render_template_fragment %}
<div class="profileIndividual">
    <div class="container-fluid mainContent">
        {% thumbnail profile_banner.image.image '1920x500' crop=profile_banner.crop as header %}
        <div class="hero" data-id='id-data-profile-cover' style="background-image: url('{{ header.url }}');background-size: 100% 100%;">
        {% empty %}
        <div class="hero" data-id='id-data-profile-cover'>
        {% endthumbnail %}
            <div class="col-lg-12 col-xs-12 columns">
                <div class="individualHeader">
                    {% thumbnail profile_badge.image.image '120x120' crop=profile_badge.crop as img %}
                    <img src="{{ img.url }}" data-id='id-data-profile-badge' class="{% if is_owner %}change-profile-badge-link{% endif %}"/>
                    {% empty %}
                    <img width="120" height="120" data-id='id-data-profile-badge' src="{{ default_profile_logo_uri }}" class="{% if is_owner %}change-profile-badge-link{% endif %}" />
                    {% endthumbnail %}
                    <h1>{{ identity.name }}</h1>
                </div>
            </div>
        </div>

            {% if is_owner %}
                <div class="adminBtns">
                    <div class="col-lg-3 col-xs-4">
                        <a class="change-profile-cover-link">Upload Cover</a>
                    </div>
                </div>
            {% endif %}
            <div class="profileContent">
                <section>
                    <div id="about-me">
                        {% if is_owner %}
                        <a class="edit_about">Edit</a>
                        <a class="close_edit_about" style="display: none;">Close without Saving</a>
                        {% endif %}
                        
                        {% if is_owner %}
                        Username:
                        <form 
                            class="aboutMeForm"
                            action="/id/update_individual/"
                            method="post">
                            {% csrf_token %}
                            <label for="individual-name">Name:</label>
                            <input name="individual_name"
                                   type="text"
                                   placeholder="Enter your name here..."
                                   value="{{ identity.name }}" />

                            <input type="hidden" name="identity_id" value="{{ identity.id }}"/>
                            <input id="submit-business-info" type="submit" value="Save" />
                        </form>
                        {% endif %}

                        <div class="viewable toggleable">
                            <div class="about-me">
                            Username: {{ identity.name }} <a class="edit_about">Edit</a>
                            </div>
                        </div>
                    </div>
                </section>
            
                {% if tiles %}
                    <div id="">Tracking Business</div>
                    {% for tile in tiles %}
                        {{ tile }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div id="id-identity-id" data-identity-id="{{ identity.id }}"></div>
</div>
