search:
    #image: elasticsearch
    build: setup/docker/elasticsearch
    volumes:
        - data/elasticsearch:/data/elasticsearch
db:
    #image: spotify/cassandra
    build: setup/docker/cassandra/
    # This is broken on some systems.
    volumes:
        - data/cassandra:/var/lib/cassandra

web:
    image: knotis/web
    volumes:
        - web:/srv/knotis/web
        - data/media:/srv/knotis/app/media
    links:
        - db
        - search
    environment:
        - KNOTIS_ENVIRONMENT_MODULE=docker_env
    command: sh -c './start.sh'

ambassador:
    image: svendowideit/ambassador
    links:
        - web
    ports:
        - "8000:8000"
        - "80:80"
