
.aboutMeForm input {
    border: 1px solid #E6E6E6;
    background: none repeat scroll 0% 0% #FFF;
    padding: 12px;
    border-radius: 3px;
    display: inline-block;
    margin: 10px 0px;
}

.aboutMeForm label {
    font-family: "LatoReg",sans-serif;
    font-size: 14px;
    padding: 10px 20px;
}

.aboutMeForm  {
    width: 50%;
}
