{% if actions %}
{% if actions|length > 1 %}
<div class="btn-group">
  <button{% for key, value in primary_action.data.iteritems %}
            data-param-{{ key }}="{{ value }}"{% endfor %}
            data-toggle="dropdown"
            class="btn dropdown-toggle {{ css_class }}"
            href="{{ primary_action.href }}">{{ primary_action.title }}<span class="caret"></span></button>
  <ul class="dropdown-menu">
    {% for action in actions %}
    <li>
      <a 
         href="{{ action.href }}"{% for key, value in action.data.iteritems %}
         data-{{ key }}="{{ value }}"{% endfor %}>{{ action.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% else %}
{% with action=actions.0 %}
<button{% for key, value in action.data.iteritems %}
          data-param-{{ key }}="{{ value }}"{% endfor %}
          data-method="{{ action.method }}"
          class="btn {{ css_class }}"
          href="{{ action.href }}">&nbsp<img class="action-icon" src="{{ STATIC_URL }}knotis/img/action_icon.png" /><span class="hide">{{ action.title }}</span>&nbsp;</button>
{% endwith %}
{% endif %}
{% else %}
<p class="tile-no-action" >&nbsp;</p>
{% endif %}
