{% if actions %}
    {% for action in actions %}
    <form action="{{action.href}}" method="{{ action.method }}" data-id="action-button">
            {% csrf_token %}
            {% for key, value in action.data.iteritems %}
            <input type="hidden" value="{{ value }}" name="{{ key }}">
            {% endfor %}
            <input type="hidden" value="{{ action.method }}" name="method">
            <input class="{{ css_class }}" type="submit" value="{{ action.title }}" data-id="form-button">
    </form> 
    {% endfor %}
{% endif %}
