{% extends 'knotis/layout/base.html' %}
{% load render_template_fragment %}

{% block header %}
<!-- Primary Navigation -->

<nav class="nav navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid text-center">

        <div class="row">
            <div class="col-lg-3 col-xs-4">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-submenu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="col-lg-6 col-xs-4">
                <div class="logo">
                    <a href="/" data-target-id="main-content" ><img src="{{ STATIC_URL }}knotis/img/knotis_logo_nav.png" alt="Knotis"/></a>
                </div>
            </div>

            {% if user.is_authenticated %}
            {% render_fragment identity_switcher %}
            {% else %}
            <div class="collapse navbar-collapse">
                <div id="auth-controls" class="col-lg-3 col-xs-4">
                    <a href="/login/" class="btn btn-primary btn-lg logIn modal-link" data-modal-id="auth-modal">
                        Log In
                    </a>
                    <a href="/signup/" class="btn btn-primary btn-lg signUp modal-link" data-modal-id="auth-modal">
                        Sign Up
                    </a>
                </div>
            </div>
            {% endif %}

            <!-- Search Form -->
            <div class="col-lg-3 col-xs-4">
                {% render_fragment search_bar %}
            </div>
            <!-- // End Search Form -->
            <div class="col-lg-12 col-xs-12">
                <div class="collapse navbar-collapse" id="nav-submenu">
                    <nav id="menu" class="panel" role="navigation">
                        <ul class="sidebar-nav">
                            <li><a href="/businesses/" data-target-id="main-content" ><span class="circle"><i class="icon-business"></i></span><span class="sidebar-label">Businesses</span></a></li>
                            <li><a href="/offers/" data-target-id="main-content" ><span class="circle"><i class="icon-offers"></i></span><span class="sidebar-label">Offers</span></a></li>
                            {% if current_identity.identity_type == IdentityTypes.INDIVIDUAL %}
                            <li><a href="/my/followers/" data-target-id="main-content"><span class="circle"><i class="icon-followers"></i></span><span class="sidebar-label">Following</span></a></li>
                            <li><a href="/my/purchases/" data-target-id="main-content"><span class="circle"><i class="icon-promotions"></i></span><span class="sidebar-label">Purchases</span></a></li>
                            {% endif %}
                            {% if current_identity.identity_type == IdentityTypes.ESTABLISHMENT %}
                            <li><a a href="/id/{{ current_identity.pk }}/" data-target-id="main-content" ><span class="circle"><i class="icon-profile-male"></i></span><span class="sidebar-label">Profile</span></a></li>
                            <li><a href="/my/offers/"><span class="circle"><i class="icon-promotions"></i></span><span class="sidebar-label">Promotions</span></a></li>
                            <li><a href="/my/followers/" data-target-id="main-content"><span class="circle"><i class="icon-followers"></i></span><span class="sidebar-label">Followers</span></a></li>
                            <li><a href="/my/customers" data-target-id="main-content" ><span class="circle"><i class="icon-customers"></i></span><span class="sidebar-label">Customers</span></a></li>
                            <li><a href="/my/redemptions/" data-target-id="main-content" ><span class="circle"><i class="icon-redeem"></i></span><span class="sidebar-label">Redemption</span></a></li>
                            <li><a href="/settings/" data-target-id="main-content"><span class="circle"><i class="icon-settings"></i></span><span class="sidebar-label">Settings</span></a></li>
                            {% endif %}
                            {% if current_identity.identity_type == IdentityTypes.SUPERUSER %}
                            <li><a href="/admin/" data-target-id="main-content"><span class="circle"><i class="icon-settings"></i></span><span class="sidebar-label">Admin Tools</span></a></li>
                            {% endif %}
                            <li><a href="/support/" class="modal-link"><span class="circle"><i class="icon-support"></i></span><span class="sidebar-label">Support</span></a></li>
                        </ul>
                    </nav>

                    <!-- Sidebar -->
                    <div class="sideBar-mobile">
                        <div id="sidebar-wrapper">        
                            <ul class="sidebar-nav">
                                <li><a href="/businesses/" data-target-id="main-content" ><span class="circle"><i class="icon-business"></i></span><span class="sidebar-label">Businesses</span></a></li>
                                <li><a href="/offers/" data-target-id="main-content" ><span class="circle"><i class="icon-offers"></i></span><span class="sidebar-label">Offers</span></a></li>
                                {% if current_identity.identity_type == IdentityTypes.INDIVIDUAL %}
                                <li><a href="/my/followers/" data-target-id="main-content"><span class="circle"><i class="icon-followers"></i></span><span class="sidebar-label">Following</span></a></li>
                                <li><a href="/my/purchases/" data-target-id="main-content"><span class="circle"><i class="icon-promotions"></i></span><span class="sidebar-label">Purchases</span></a></li>
                                {% endif %}
                                {% if current_identity.identity_type == IdentityTypes.ESTABLISHMENT %}
                                <li><a a href="/id/{{ current_identity.pk }}/" data-target-id="main-content" ><span class="circle"><i class="icon-profile-male"></i></span><span class="sidebar-label">Profile</span></a></li>
                                <li><a href="/my/offers/"><span class="circle"><i class="icon-promotions"></i></span><span class="sidebar-label">Promotions</span></a></li>
                                <li><a href="/my/followers/" data-target-id="main-content"><span class="circle"><i class="icon-followers"></i></span><span class="sidebar-label">Followers</span></a></li>
                                <li><a href="/my/customers" data-target-id="main-content" ><span class="circle"><i class="icon-customers"></i></span><span class="sidebar-label">Customers</span></a></li>
                                <li><a href="/my/redemptions/" data-target-id="main-content" ><span class="circle"><i class="icon-redeem"></i></span><span class="sidebar-label">Redemption</span></a></li>
                                <li><a href="/settings/" data-target-id="main-content"><span class="circle"><i class="icon-settings"></i></span><span class="sidebar-label">Settings</span></a></li>
                                {% endif %}
                                {% if current_identity.identity_type == IdentityTypes.SUPERUSER %}
                                <li><a href="/admin/" data-target-id="main-content"><span class="circle"><i class="icon-settings"></i></span><span class="sidebar-label">Admin Tools</span></a></li>
                                {% endif %}
                                <li><a href="/support/" class="modal-link"><span class="circle"><i class="icon-support"></i></span><span class="sidebar-label">Support</span></a></li>
                            </ul>
                        </div>
                        <div class="sidebar-overlay"></div>
                    </div>
                    <!-- // End SideBar -->

                </div>
            </div>
        </div>
    </div>
</nav>
<!-- // End Primary Navigation -->
</div>
{% endblock header %}

{% block navigation %}
{% render_fragment nav_side %}
{% endblock navigation %}

{% block content %}
{% if content %}
<div id="main-content" class="contentBlock">{{ content }}</div>
{% else %}
{{ block.super }}
{% endif %}
{% endblock content %}

{% block modal %}
{% if modal_content %}
{{ modal_content }}
{% else %}
{{ block.super }}
{% endif %}
{% endblock modal %}
