{% extends 'knotis/layout/base.html' %}
{% load render_template_fragment %}

{% block header %}
<!-- Primary Navigation -->

<nav class="nav navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-4 col-xs-4 navBtn">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-submenu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Search Form -->
            <div class="col-lg-4 col-xs-4 searchForm">
                {% render_fragment search_bar %}
            </div>
            <!-- // End Search Form -->

            <div class="col-lg-4 col-xs-4">
                <div class="logo">
                    <a href="/" data-target-id="main-content" ><img src="{{ STATIC_URL }}knotis/img/knotis_logo_nav.png" alt="Knotis"/></a>
                </div>
            </div>

            {% if user.is_authenticated %}
            <div class="col-lg-4 col-xs-4">
                {% render_fragment identity_switcher %}
            </div>
            {% else %}

            <div class="collapse navbar-collapse">
                <div id="auth-controls" class="col-lg-3 col-xs-4">
                    <a href="/login/" class="btn btn-primary btn-lg logIn modal-link" data-modal-id="auth-modal">
                        Log In
                    </a>
                    <a href="/signup/" class="btn btn-primary btn-lg signUp modal-link" data-modal-id="auth-modal">
                        Sign Up
                    </a>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="collapse navbar-collapse" id="nav-submenu">
                    <div class="sidebar-mobile">{% render_fragment nav_side %}</div>
                </div>
            </div>
        </div>

    </div>
</nav>
<!-- // End Primary Navigation -->
</div>
{% endblock header %}

{% block navigation %}
{% render_fragment nav_side %}
{% endblock navigation %}

{% block content %}
{% if content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div id="main-content" class="contentBlock">{{ content }}</div>
        </div>
    </div>
</div>
{% else %}
{{ block.super }}
{% endif %}
{% endblock content %}

{% block modal %}
{% if modal_content %}
{{ modal_content }}
{% else %}
{{ block.super }}
{% endif %}
{% endblock modal %}
