<div class="grid" >
  <div class="row-fluid grid-mixed">
    <div class="span4">
      <div class="thumbnail">
	    <img src="http://placehold.it/480x466" />
	    <div class="caption">
	      <p>BIG OFFER</p>
	    </div>
      </div>
    </div>
    <div class="span8">
      <div class="row-fluid">
	    <div class="thumbnail">
	      <img src="http://placehold.it/180x100" />
	      <div class="caption">
	        <p>SMALL OFFER</p>
	      </div>
	    </div>
	    <div class="thumbnail">
	      <img src="http://placehold.it/180x100" />
	      <div class="caption">
	        <p>SMALL OFFER</p>
	      </div>
	    </div>
	    <div class="thumbnail">
	      <img src="http://placehold.it/180x100" />
	      <div class="caption">
	        <p>SMALL OFFER</p>
	      </div>
	    </div>
	    <div class="thumbnail">
	      <img src="http://placehold.it/180x100" />
	      <div class="caption">
	        <p>SMALL OFFER</p>
	      </div>
	    </div>
	    <div class="thumbnail">
	      <img src="http://placehold.it/180x100" />
	      <div class="caption">
	        <p>SMALL OFFER</p>
	      </div>
	    </div>
	    <div class="thumbnail">
	      <img src="http://placehold.it/180x100" />
	      <div class="caption">
	        <p>SMALL OFFER</p>
	      </div>
	    </div>
	    <div class="thumbnail">
	      <img src="http://placehold.it/180x100" />
	      <div class="caption">
	        <p>SMALL OFFER</p>
	      </div>
	    </div>
	    <div class="thumbnail">
	      <img src="http://placehold.it/180x100" />
	      <div class="caption">
	        <p>SMALL OFFER</p>
	      </div>
	    </div>
      </div>
    </div>
  </div>
</div>
