{% load render_template_fragment %}
<div class="navbar navbar-fluid-top knotis-header">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/"></a>
      <div class="nav-collapse collapse">
	    <div class="search-bar span4">
	      {% render_fragment search_bar %}
	    </div>
        <ul class="nav pull-right auth-links">
          {% if user.is_authenticated %}
          {% render_fragment identity_switcher %}
          {% else %}
          <li><a href="http://maps.knotis.com">Maps</a></li>
          <li><a id="login" class="modal-link" data-modal-id="auth-modal" data-modal-width="633px" href="/auth/login/">Login</a></li>
          <li><button id="sign-up" class="modal-link btn btn-primary" data-modal-id="auth-modal" data-modal-width="633px" href="/auth/signup/">Sign Up</button></li>
          {% endif %}
	    </ul>
      </div>
    </div>
  </div>
</div>
<div class="knotis-header-spacing"></div>
<a id="support-link" href="support" style="position: fixed; bottom: 0px; right: 0px; padding: 10px;">Support</a>
