{% extends 'knotis/layout/master_email.html' %}
{% load render_template_fragment %}
{% load thumbnail %}
{% block browser_link %}{{ browser_link }}{% endblock browser_link %}
{% if email_type == 'html' %}

    {% block header %}
        <h1 style="text-align: center;">
            <span style="color:#696969;font-size:24px;line-height:30px;">Purchase confirmed!</span>
        </h1>
    {% endblock %}

    {% block content %}
        {% thumbnail offer_image.image.image '563x246' cropbox=offer_image.crop as image %}
        <img align="center" alt="" src="{{ BASE_URL }}{{ image.url }}" width="563" style="max-width:563px; padding-bottom: 0; display: inline !important; vertical-align: bottom; border-radius: 4px;" class="mcnImage">
        {% endthumbnail %}
        <br />
        <br />

        <div style="text-align: center;">
            <span style="font-size:18px;color:#808080">
                <span style='color:#808080'>You bought <strong>{{ offer_title }}</strong> from <strong>{{ business_name }}</strong></span>
                    <br /><br />
                    <strong style='color:#808080'>Redemption Code</strong>
                    <br />{{ redemption_code }}
                    <br /><br />
                    <strong>Date Purchased</strong>
                    <br /><span style='color:#808080'>{{ payment_date }}</span>
                    <br /><br />
                    <strong style='color:#808080'>Expiration Date</strong>
                    <br /><span style='color:#808080'>09/14/16</span>
                    <br /><br />
                    <strong style='color:#808080'>Total Spent</strong>
                    <br /><span style='color:#808080'>${{ price|floatformat:2 }}</span>
                </span>
        </div>

    {% endblock content %}

    {% block action %}
        <a class="mcnButton " title="View my purchase" href="{{ BASE_URL }}/my/purchases/" target="_self" style="font-weight: normal;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">View my purchase</a>
    {% endblock %}

    {% block help_text %}
        <em><a href="{{ BASE_URL }}/support">Help!</a> I didn't order this.</em>
    {% endblock %}

{% endif %}

{% if email_type == 'text' %}
    {% block text_content %}
    Here's your receipt from {{ business_name }}
    To view this email in a browser click {{ browser_link }} .

    Hi {{ transaction.owner.name }}!
    Congratulations on your purchase from {{ business_name }}.
    Your order number is {{ order_number }}.

    -----------------------------------------------------------

    Order Details:
    Payment Method:
    {{ payment_method }}

    Paid on:
    {{ payment_date }}

    Product Name: {{ product_name }}
    Shop: {{ business_name }}@ {{ business_url }}
    Transaction ID: {{ transaction_id }}
    Price: ${{ price|floatformat:2 }}

    -----------------------------------------------------------

    If you were not involved in this transaction, please
    forward this email to support@knotis.com.

    Thanks,

    The Knotis Team

    {% endblock text_content %}
{% endif %}
