{% extends 'knotis/layout/master_email.html' %}
{% load render_template_fragment %}
{% load thumbnail %}
{% block browser_link %}{{ browser_link }}{% endblock browser_link %}

{% if email_type == 'html' %}

  {% block subject %}You sold something to {{ customer_name }}{% endblock subject %}

  {% block additional_css %}
  div.center {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .cover {
    color: white;
  }

  img.logo {
    margin-top: 50px;
    width: 170px;
    height: 170px;
    vertical-align: middle;
    border: 0;
    -webkit-border-radius: 500px;
    -mox-border-radius: 500px;
    border-radius: 500px;
  }
  {% endblock additional_css %}

  {% block content %}
  <h1>You sold something to {{ customer_name }}</h1>
  
  <div class="cover center" style="background: url('{{ business_cover_url }}'); max-width: 500px; text-align: center;">
    <center>
      <img class="logo" src="{{ business_logo_url }}" />
      <h2 class="header" style="color: white;">{{ business_name }}</h2>
    <center>
  </div>

    <p>Hi {{ transaction.owner.name }}!<br />
    Congratulations on your sale to {{ customer_name }}.<br /><br />
    The redemption code for this transaction is {{ redemption_code }}.
    </p>
    <hr />
    <h2>Order Details</h2>
    <hr />
    <p>
      <strong>Payment Method</strong><br />
      {{ payment_method }}
    </p>
    <p>
      <em>Paid on {{ payment_date }}</em>
    </p>
    <hr />
    <br />
    {% thumbnail offer_image.image.image '240x240' crop=offer_image.crop as image %}
    <img src="{{ image.url }}"><br />
    {% endthumbnail %}
    <a href="{{ BASE_URL }}/offers/{{ transaction.offer.pk }}/">{{ transaction.offer.title }}</a><br />
    <br />
    Shop: <a href="{{ business_url }}">@{{ business_name }}</a><br />
    Transaction ID: {{ transaction_id }}<br />
    Price: ${{ price }}<br />
    <br />
    <hr />
    <h2>Questions?</h2>
    <hr />
    <p style="text-align: center;">If you suspect any suspicious activity with this transaction, please<br />
    forward is email to support@knotis.com.
    <br />
    Thanks,<br /><br />
    The Knotis Team
    <br />
    <br />

  {% endblock content %}
  {% endif %}
  
  {% if email_type == 'text' %}
  {% block text_content %}
Here's your receipt from {{ business_name }}
To view this email in a browser click {{ browser_link }} .
  
Hi {{ transaction.owner.name }}!
Congratulations on your sale to {{ customer_name }}.
The redemption code for this transaction is {{ redemption_code }}.
  
-----------------------------------------------------------
 
Order Details:
  
Payment Method: 
{{ payment_method }}

Paid on: 
{{ payment_date }}

Product Name: {{ product_name }}
Shop: {{ business_name }}@ {{ business_url }}
Transaction ID: {{ transaction_id }}
Quantity: {{ quantity }}
Price: ${{ price }}

-----------------------------------------------------------

Questions?
If you have questionss about this order,
please contact the customer directly.

{{ message_customer_link }}

If you were not involved in this transaction, please
forward this email to support@knotis.com.

Thanks,

The Knotis Team

{% endblock text_content %}
{% endif %}
