
{% extends 'knotis/layout/master_email.html' %}
{% load render_template_fragment %}
{% block browser_link %}{{ browser_link }}{% endblock browser_link %}
{% if email_type == 'html' %}

  {% block subject %}Here's your receipt from {{ business_name }}{% endblock subject %}

  {% block additional_css %}
  div.center {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .cover {
    color: white;
  }

  img.logo {
    margin-top: 50px;
    width: 170px;
    height: 170px;
    vertical-align: middle;
    border: 0;
    -webkit-border-radius: 500px;
    -mox-border-radius: 500px;
    border-radius: 500px;
  }
  {% endblock additional_css %}

  {% block content %}
  <h1>Here's your receipt from {{ business_name }}</h1>
  
  <div class="cover center" style="background: url('{{ business_cover_url }}'); max-width: 500px;">
    <center>
      <img class="logo" src="{{ business_logo_url }}" />
      <h2 class="header">{{ business_name }}</h2>
    <center>
  </div>
  <p>Hi {{ username }}!<br />
  Congratulations on your purchase from {{ business_name }}.<br /><br />
  Your order number is {{ order_number }}.
  </p>
  <hr />
  <h2>Order Details</h2>
  <hr />
  <p>
  <strong>Payment Method</strong><br />
  {{ payment_method }}
  </p>
  <p>
    <strong>Billing Address</strong><br />
    {{ billing_name }}<br />
    {{ billing_address }}
  </p>
  <p>
    <em>Paid on {{ payment_date }}</em>
  </p>
  <p>
    <strong>Shipping Address</strong>
    {{ shipping_name }}<br />
    {{ shipping_address }}
  </p>
  <hr />
  <br />
  <img src="{{ product_img_url }}"><br />
  <a href="{{ product_link }}">{{ product_name }}</a><br />
  <br />
  Shop: <a href="{{ business_url }}">@{{ business_name }}</a><br />
  Transaction ID: {{ transaction_id }}<br />
  Quantity: {{ quantity }}<br />
  Price: {{ price }}<br />
  <br />
  <hr />
  <h2>Order Total</h2>
  <hr />
  <div class="order-total">
    <label for="item-total">Item Total:</label>
    <span class="item-total">{{ item_total }}</span><br />
    
    <label for="shipping">Shipping:</label>
    <span class="shipping">{{ shipping }}</span><br />
    
    <label for="sales-tax">Sales Tax:</label>
    <span class="sales-tax">{{ sales_tax }}</span><br />
    
    <label for="total">Total: </label>
    <span class="total">{{ total }}</span><br />
  </div>
  <hr />
  <h2>Questions?</h2>
  <hr />
  <strong>If you have questions about this order,<br />
  please contact the seller directly.</strong>
  <br />
  <br />
  <a class="button" href="{{ message_seller_link }}">Send Seller A Message</a>
  <br />
  <br />
  <hr />
  <p>If you were not involved in this transaction, please<br />
  forward this email to support@knotis.com and we will<br />
  investigate right away.
  <br />
  Thanks,<br /><br />
  The Knotis Team
  <br />
  <br />

  {% endblock content %}
{% endif %}

{% if email_type == 'text' %}
{% block text_content %}
Here's your receipt from {{ business_name }}
To view this email in a browser click {{ browser_link }} .

Hi {{ username }}!
Congratulations on your purchase from {{ business_name }}.
Your order number is {{ order_number }}.

-----------------------------------------------------------

Order Details:
Payment Method: 
{{ payment_method }}

Billing Address: 
{{ billing_name }}
{{ billing_address }}

Paid on: 
{{ payment_date }}

Shipping Address:
{{ shipping_name }}
{{ shipping_address }}


Product Name: {{ product_name }}
Shop: {{ business_name }}@ {{ business_url }}
Transaction ID: {{ transaction_id }}
Quantity: {{ quantity }}
Price: {{ price }}

-----------------------------------------------------------

Order Total

Item Total: {{ item_total }}
Shipping: {{ shipping }}
Sales Tax: {{ sales_tax }}
Total: {{ total }}

-----------------------------------------------------------

Questions?
If you have questions about this order,
please contact the seller directly.

{{ message_seller_link }}

If you were not involved in this transaction, please
forward this email to support@knotis.com and we will
investigate right away.

Thanks,

The Knotis Team

{% endblock text_content %}
{% endif %}
