{% extends 'knotis/layout/master_email.html' %}
{% load render_template_fragment %}
{% load thumbnail %}
{% block browser_link %}{{ browser_link }}{% endblock browser_link %}
{% if email_type == 'html' %}

{% block subject %}Here's your receipt from {{ business_name }}{% endblock subject %}

{% block additional_css %}
div.center {
width: 100%;
padding: 0;
margin: 0;
overflow: hidden;
}

.cover {
color: white;
}

img.logo {
margin-top: 50px;
width: 170px;
height: 170px;
vertical-align: middle;
border: 0;
-webkit-border-radius: 500px;
-mox-border-radius: 500px;
border-radius: 500px;
}
{% endblock additional_css %}

{% block content %}
<h1>Here's your receipt from {{ business_name }}</h1>

{% thumbnail business_banner.image.image '500' crop=business_banner.crop as image %}
<div class="cover center" style="background: url('{{ image.url }}'); max-width: 500px;">
  {% empty %}
  <div class="cover center" style="background: url('{{ STATIC_URL_ABSOLUTE }}knotis/identity/img/default_profile_banner_{{ profile_banner_color|default:'darkgrey' }}.png'); max-width: 500px;">
    {% endthumbnail %}
    {% thumbnail business_badge.image.image '170x170' crop=business_badge.crop as image %}
    <img class="logo" src="{{ image.url }}" />
    {% endthumbnail %}
  </div>
  <p>Hi {{ transaction.owner.name }}!<br />
    Congratulations on your purchase from {{ business_name }}.<br /><br />
    Your redemption code is {{ redemption_code }}.
  </p>
  <hr />
  <h2>Order Details</h2>
  <hr />
  <p>
    <strong>Payment Method</strong><br />
    {{ payment_method }}
  </p>
  <p>
    <em>Paid on {{ payment_date }}</em>
  </p>
  <hr />
  <br />
  {% thumbnail offer_image.image.image '240x240' crop=offer_image.crop as image %}
  <img src="{{ image.url }}"><br />
  {% endthumbnail %}
  <a href="{{ offer_link }}/">{{ transaction.offer.title }}</a><br />
  <br />
  Shop: <a href="{{ business_url }}">@{{ business_name }}</a><br />
  Transaction ID: {{ transaction_id }}<br />
  Price: ${{ price }}<br />
  <br />
  <hr />
  <h2>Questions?</h2>
  <hr />
  <strong>If you have questions about this order,<br />
    please contact the seller directly.</strong>
  <br />
  <br />
  <br />
  <hr />
  <p>If you were not involved in this transaction, please<br />
    forward this email to support@knotis.com.<br />
    <br />
    Thanks,<br /><br />
    The Knotis Team
    <br />
    <br />

    {% endblock content %}
    {% endif %}

    {% if email_type == 'text' %}
    {% block text_content %}
    Here's your receipt from {{ business_name }}
    To view this email in a browser click {{ browser_link }} .

    Hi {{ transaction.owner.name }}!
    Congratulations on your purchase from {{ business_name }}.
    Your order number is {{ order_number }}.

    -----------------------------------------------------------

    Order Details:
    Payment Method:
    {{ payment_method }}

    Paid on:
    {{ payment_date }}

    Product Name: {{ product_name }}
    Shop: {{ business_name }}@ {{ business_url }}
    Transaction ID: {{ transaction_id }}
    Price: ${{ price }}

    -----------------------------------------------------------

    If you were not involved in this transaction, please
    forward this email to support@knotis.com.

    Thanks,

    The Knotis Team

    {% endblock text_content %}
    {% endif %}
