{% load render_template_fragment %}
{% load thumbnail %}
<div class="grid-tile small-tile identity-tile">
  <input id="id-transaction-pk" type="hidden" class="tile-identity" value="{{ transaction.pk }}"/>
  <input id="id-transaction-context" type="hidden" class="tile-identity" value="{{ transaction.transaction_context }}"/>
  <div class="tile-header">
    {% thumbnail banner_image.image.image 'x135' crop=banner_image.crop as image %}
    <div class="tile-image" style="background-image: url('{{ image.url }}');">&nbsp;</div>
    {% empty %}
    <div class="tile-image" style="background-image: url('{{ STATIC_URL }}knotis/identity/img/default_profile_banner_{{ profile_banner_color|default:"darkgrey" }}.png')" >&nbsp;</div>
    {% endthumbnail %}
    {% thumbnail badge_image.image.image '80x80' crop=badge_image.crop as image %}
    <img class="tile-badge" src="{{ image.url }}" />
    {% empty %}
    <img class="tile-badge"  alt="{{ identity.name }}" src="{{ STATIC_URL }}knotis/identity/img/profile_default.png" />
    {% endthumbnail %}
  </div>
  <div class="tile-body">
    {% if show_offer_info %}
    <p class="tile-title">{{ transaction.offer.title }}</p>
    {% else %}
    <p class="tile-title">{{ identity.name }}</p>
    {% endif %}
    {% if transaction.transaction_type == TransactionTypes.PURCHASE %}
    {% if redeem %}
    <button data-transaction-id="{{ transaction.pk }}" class="btn btn-primary action redeem-offer">Redeem</button>
    {% endif %}
    {% endif %}
  </div>
  <div class="tile-footer">
    {% if transaction.transaction_type == TransactionTypes.PURCHASE %}
    {{ transaction.redemption_code|default:'&nbsp;' }}
    {% else %}&nbsp;{% endif %}
  </div>
</div>
