{% load thumbnail %}

        <div class="col-lg-4 col-xs-12 offerItem">
            <a href="/offer/detail/{{ offer.pk }}/" class="modal-link">
                <div class="busCover">
                    {% thumbnail banner_image.image.image 'x153' crop=banner_image.crop as image %}
                    <img src="{{ image.url }}" alt="{{ identity.name }}"/>
                    {% empty %}
                    <img class="tile-image"  alt="{{ identity.name }}" src="http://placekitten.com/240/161/" />
                    {% endthumbnail %}
                    <div class="overlay"></div>
                </div>
            </a>
            <div class="transactionContent">
                <div class="row">
                    <div class="col-lg-10 col-xs-10">
                        {% thumbnail badge_image.image.image '80x80' crop=badge_image.crop as image %}
                        <img class="busLogo" src="{{ image.url }}" alt="{{ offer.title }}"/>
                        {% empty %}
                        <img class="tile-badge" src="http://placekitten.com/80/80/" />
                        {% endthumbnail %}
                    </div>
                    <div class="col-lg-1 col-xs-1">
<!-- 
                       <div class="dropdown">
                            <a data-toggle="dropdown" href=""><img class="iconMore" src="/assets/img/icon_more_offerItem.png"/></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li><a href="">Extra Link</a></li>
                            </ul>
                        </div>
-->
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        {% if show_offer_info %}
                        <h1>{{ transaction.offer.title }}</h1>
                        {% else %}
                        <h1>{{ identity.name }}</h1>
                        {% endif %}
                        {% if transaction.transaction_type == TransactionTypes.PURCHASE %}
                        {% if redeem %}
                        <button data-transaction-id="{{ transaction.pk }}" class="btn btn-primary action redeem-offer">Redeem</button>
                        {% else %}
                        <button data-transaction-id="{{ transaction.pk }}" class="btn btn-primary action print-voucher">View Printable Voucher</button>
                        {% endif %}
                        {% endif %}
                    </div>
                    <div>
                        {% if transaction.transaction_type == TransactionTypes.PURCHASE %}
                        {{ transaction.redemption_code|default:'&nbsp;' }}
                        {% else %}&nbsp;{% endif %}
                    </div>
                </div>
            </div>
        </div>
