<div class="container-fluid">
    <div class="row-fluid create-header">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h1>Creating New Offer</h1>

                    <div class="offerSteps">
                        <ul>
                            <li class="stepOne">Choose Type</li>
                            <li class="stepTwo">Enter Details</li>
                            <li class="stepThree">Photo &amp; Location</li>
                            <li class="stepFour">Duration &amp; Social</li>
                            <li class="stepFive">Final Review</li>
                        </ul>
                    </div>

                    <button type="button" class="modalCancel pull-left btn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>