<script type="text/javascript">
    // TODO: Figure out better implementation of this
    $(document).ready(function() {
    $('.offerSteps li').removeClass('active');
    $('.stepFive').addClass('active');
    });
</script>


<div class="offerForm offerPreview">
    <div class="row">
        {{ offer_tile_preview }} 

        <p>
            Based on the Promotion you created,
            you can expcet to receive the following
            revenue per customer:
        </p>

        <p class="knotis-price-big">
            {{ summary_revenue_customer }}
        </p>


        <p>
            By using our service, we have
            saved you the following
            estimated amount:
        </p>

        <p class="knotis-price-big">
            {{ summary_savings }}
        </p>

        <p>
            We anticipate this Promotion
            generating you the
            following revenue:
        </p>

        <p class="knotis-price-big">
            {{ summary_revenue_total }} <span class="knotis-price-big-help">({{ summary_estimated_sales }} sales)</span>
        </p>

        <div class="row-fluid" >
            <div class="small-space"></div>
            <form id="offer-summary-form" action="{{ offer_finish_form.form_action }}" method="{{ offer_finish_form.form_method }}" >{% csrf_token %}
                {{ offer_finish_form.id }}
                {{ offer_finish_form.published }}

                <div class="offer-form-nav">
                    <button type="button" class="btn wizard-back"><span class="icon-arrow-left"></span> Go Back</button>
                    <button id="id-submit-details" type="submit" class="btn btn-primary continue">Publish Promotion</button>
                    <button id="id-save-for-later" type="button" class="btn btn-primary">Save For Later</button>
                </div>

            </form>
        </div>
    </div>
</div>
<script src="{{ STATIC_URL }}knotis/merchant/js/offer_edit_summary.js"></script>
