<script type="text/javascript">
    // TODO: Figure out better implementation of this
    $(document).ready(function() {
        $('.offerSteps li').removeClass('active');
        $('.stepOne').addClass('active');
    });
</script>


<div class="offerForm">
    <form class="form-horizontal" id="{{ form.form_id }}" action="{{ form.form_action }}" method="{{ form.form_method }}" >{% csrf_token %}
        <input type="hidden" name="{{ form.owner.html_name }}" value="{{ form.owner.value|default_if_none:current_identity.id }}" />
        <input type="hidden" name="{{ form.offer_id.html_name }}" value="{{ form.offer_id.value|default_if_none:'' }}" />
        <div class="control-group errors" data-id="form-errors">
        </div>
        <div class="control-group">
            <label class="control-label">Select Promotion Type</label>

            <span id="id-offer-discount"{% if form.product_type|default_if_none:ProductTypes.CREDIT == ProductTypes.CREDIT %} class="hide"{% endif %} >Discount (<span id="discount-percent">50</span>%)</span>
            
            <div class="controls">
                <input id="id-credit-product-input" class="radio" name="{{ form.product_type.html_name }}" type="radio" value="{{ ProductTypes.CREDIT }}"{% if form.product_type.value|default_if_none:ProductTypes.CREDIT == ProductTypes.CREDIT %} checked{% endif %} />
                <input class="span1" name="{{ form.credit_price.html_name }}" type="text" value="{{ form.credit_price.value|default_if_none:"20" }}"{% if form.product_type.value|default_if_none:ProductTypes.CREDIT != ProductTypes.CREDIT %} disabled{% endif %} />
                <span>for</span>
                <input class="span1" name="{{ form.credit_value.html_name }}" type="text" value="{{ form.credit_value.value|default_if_none:"40" }}"{% if form.product_type.value|default_if_none:ProductTypes.CREDIT != ProductTypes.CREDIT %} disabled{% endif %} />
            </div>
        </div>
        <div class="control-group productPhys">
            <div class="controls">
                <input id="id-physical-product-input"  class="radio" name="{{ form.product_type.html_name }}" type="radio" value="{{ ProductTypes.PHYSICAL }}"{% if form.product_type.value == ProductTypes.PHYSICAL %} checked{% endif %} />
                <input name="{{ form.product_title.html_name }}" value="{{ form.product_title.value|default_if_none:'' }}" type="text" placeholder="Product"{% if form.product_type.value != ProductTypes.PHYSICAL %} disabled{% endif %}  />
            </div>
        </div>
        <div class="control-group physical{% if form.product_type.value != ProductTypes.PHYSICAL %} hide{% endif %}">
            <label class="control-label">Enter Cost</label>
            <div class="controls">
                <input class="span1" name="{{ form.product_price.html_name }}" type="text" value="{{ form.product_price.value|default_if_none:"20" }}"{% if form.product_type.value != ProductTypes.PHYSICAL %} disabled{% endif %} />
                <label class="control-label">Discounted Vwalue</label>
            </div>
            <div class="controls">
                <input class="span1"  name="{{ form.product_value.html_name }}" type="text" value="{{ form.product_value.value|default_if_none:"40" }}"{% if form.product_type.value != ProductTypes.PHYSICAL %} disabled{% endif %} />
                <label class="control-label">Regular Price (Retail Value)</label>
            </div>
        </div>
        <div class="control-group offer-quantity{% if form.offer_unlimited.value %} hide{% endif %}">
            <div class="controls">
                <input class="span1 product" name="{{ form.offer_stock.html_name }}" type="text" placeholder="Enter Quantity"{% if form.offer_unlimited.value %} disabled{% endif %} />
            </div>
        </div>

        <div class="control-group">
            <div class="controls unlimitedInput">
                <input id="id-unlimited-input"  class="radio" name="{{ form.offer_unlimited.html_name }}" type="checkbox" value="unlimited"{% if form.offer_unlimited.value %} checked{% endif %} />
                <label class="control-label label-unlimited">Unlimited</label>
            </div>
        </div>
        <div class="offer-form-nav">
            <button id="id-submit-product" type="submit" class="btn btn-primary continue">Continue <span class="icon-arrow-right"></span></button>
            </nav>
    </form>
</div>
<script src="{{ STATIC_URL }}knotis/merchant/js/edit_product_price.js"></script>
