{% if twitter_has_feed or yelp_has_feed %}
    <h1 class="sectionHeader">Reviews/Ratings
        {% if twitter_has_feed %}
            <a class="twitter" href="{{ twitter.uri }}">
                <img class="space away" src="/static/knotis/identity/img/twittericon-colored27x27.png" alt="Twitter"></img>
            </a>
        {% endif %}

        {% if facebook.value %}
            <a class="facebook" href="{{ facebook.uri }}">
                <img class="space away" src="/static/knotis/identity/img/facebookicon-colored27x27.png" alt="Facebook"></img>
            </a>
        {% endif %}

        {% if yelp_has_feed %}
            <a class="updateable-endpoint yelp" href="{{ yelp.uri }}">
                <img class="space away" src="/static/knotis/identity/img/yelpicon-colored27x27.png" alt="Yelp"></img>
            </a>
        {% endif %}
    </h1>

    <section>
        <div id="AboutFeedTabContent" class="tab-content">
            {% if twitter_has_feed %}
                <div class="twitter tab-pane active">{{ twitter_markup }}</div>
            {% endif %}

            {% if yelp_has_feed %}
                <div class="yelp tab-pane {% if not twitter_has_feed %}active{% endif %}">{{ yelp_markup }}</div>
            {% endif %}
        </div>
    </section>

{% endif %}
