{% if twitter_feed %}
<div class="twitterFeed">
    <div class="about-twitter">
        {% for tweet in twitter_feed %}
        <div class="tweet">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <img class="user" src="{{ tweet.user.profile_image_url }}"/>
                    </div>
                    <div class="col-lg-6">
                        <p class="tweet-text">{{ tweet.text }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

