<script type="text/javascript">
    // TODO: Figure out better implementation of this
    $(document).ready(function() {
        $('.offerSteps li').removeClass('active');
        $('.stepThree').addClass('active');
    });
</script>

<div class="offerForm">
    <form class="form-horizontal" id="{{ form.form_id }}" action="{{ form.form_action }}" method="{{ form.form_method }}" >{% csrf_token %}
        {{ form.offer }}
        <div id="photos" class="control-group">
            <label class="control-label">Photos</label>
            {{ form.photo }}
            <div class="controls">
                <div class="small-space"></div>
                <a id="add_offer_photo" href="#addphoto" >&plus; Add a photo</a>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Offer Location</label>
            {{ form.locations }}
            <div class="controls">
                <div class="small-space"></div>
                <a href="#addlocation" >&plus; Add a location</a>
            </div>
        </div>
        <div class="offer-form-nav">
            <button type="button" class="pull-left btn wizard-back"><span class="icon-arrow-left"></span> Go Back</button>
            <button id="id-submit-details" type="submit" class="pull-right btn btn-primary continue">Continue <span class="icon-arrow-right"></span></button>
        </div>
    </form>
</div>
<script src="{{ STATIC_URL }}knotis/merchant/js/edit_photos_location.js" ></script>
