<form class="form-horizontal" id="{{ form.form_id }}" action="{{ form.form_action }}" method="{{ form.form_method }}" >{% csrf_token %}
  {{ form.offer }}
  <div class="control-group">
    <label class="control-label">When to send offer</label>
    <div class="controls">
      <div id="id-start-time" class="input-append date">
        {% with form.start_time.value|default_if_none:'' as start_time %}
        <input data-format="MM/dd/yyyy HH:mm:ss PP" class="add-on" type="text" name="{{ form.start_time.html_name }}" value="{% if start_time %}{{ start_time|date }} {{ start_time|time }}{% endif %}" placeholder="Start Time" />
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
        {% endwith %}
      </div>
    </div>
    <div class="controls" >
        {% with form.end_time.value|default_if_none:'' as end_time %}
      <div id="id-end-time" class="input-append date{% if form.start_time.value and not form.end_time.value %} hide{% endif %}">
        <input class="add-on" data-format="MM/dd/yyyy HH:mm:ss PP" type="text" name="{{ form.end_time.html_name }}" value="{% if end_time %}{{ end_time|date }} {{ end_time|time }}{% endif %}" placeholder="End Time"{% if form.start_time.value and not form.end_time.value %} disabled{% endif %} />
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
        {% endwith %}
      </div>
    </div>
    <div class="controls">
      {{ form.no_time_limit }} <span class="help-text">No time limit - run until it sells</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Where to send offer</label>
    {{ form.publish }}
  </div>
  <div>
    <button type="button" class="pull-left btn wizard-back">Back</button>
    <button type="button" class="pull-left btn" data-dismiss="modal">Delete Offer</button>
    <button id="id-submit-details" type="submit" class="pull-right btn btn-primary">Next</button>
    <button type="button" class="pull-right btn btn-primary">Save &amp; Preview</button>
  </div>
</form>
