<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>Select an Image to Upload</h3>
</div>
<div class="modal-body">
  <form id="id-upload-form"  method="post">{% csrf_token %}
    <div id="file-uploader">
      <noscript>
        <p>Please enable JavaScript to use file uploader.</p>
        <!-- or put a simple form for upload here -->
      </noscript>
    </div>
    <script>
    </script>
    <div id="object-id" data-object-id="{{ object_id }}" class="hide" ></div>
  </form>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
</div>
