{% extends 'master.html' %}

{% block title %}Knotis - What is Knotis?{% endblock title %}

{% block content %}
<div id="content" class="back-deals">
    <div class="curve">
    	<div class="wrapper clear-fix">
        	<div class="box-deals box-border left">
            	<h3 class="margin-general"><strong>What is Knotis?</strong></h3>
            	<div class="txt-size margin-general static-content">
					<p><strong>For Consumers</strong><br/>
                        knotis, (pronounced "noh-tis") is your wallet's new best friend. Saving you time and money, knotis will not only introduce you to new and old businesses alike, but will also make planning evenings with friends or loved ones easier than ever before.</p> 
                    <p><strong>For Businesses</strong><br>
                        knotis, ("pronounced "noh-tis") gives you the tools to create, promote and track live social promotions. Allow your customers, both old and new, to be more aware of your deals, events, coupons and happy hour specials. We've put Daily Deals, Social Promotions and Mobile Marketing all in one place and under your control. Feel the power!</p>
                    <a href="/howitworks/">How it works</a>					
                </div>
        	</div>
        	<div class="box-border colum-width right">
            	<div class="padding-contact">
            		<h3><strong>Business Owners</strong></h3>
            		<p class="txt-size margin-general-25">
						Please visit our merchant center for help documentation and / or frequently asked questions. Otherwise, feel free to email us at <a href="mailto:support@knotis.com">support@knotis.com</a>
					</p>
					<h3><strong>Press Inquiries</strong></h3>
					<p class="txt-size">Please send press inquiries to <a href="mailto:press@knotis.com">  press@knotis.com</a></p>
				</div>
			</div>
		</div>
    </div>
</div>
{% endblock content%}
