<div class="upgrade">
    <p class="txt-center">
        {% if user_profile.is_business_owner %}
        {% if 1 == user_profile.account_type %}
        <a href="/business/tickets/">Forever Free<br/> ({% firstof user_tickets '0' %} Tickets)</a>
        {% else %}
        <a href="#">knotis<br/> Premium</a>
        {% endif %}
        {% else %}
        {% if not user.is_staff %}
        <a href="#">knotis<br />user</a>
        {% else %}
        <a href="#">knotis <br />admin</a>
        {% endif %}
        {% endif %}
    </p>
</div>
