{% extends 'master.html' %}

{% block title %}Knotis.com - Create Business{% endblock title %}

{% block content %} 

<div>
    <p id="feedback"></p>
</div>

<p>
    Create a business
</p>

<form method="post" action="/api/business/create/">{% csrf_token %}
    <div>
        {{ form.as_p }}
    </div>
    <p>
        <input type="submit" name="create_business_submit" value="Create Business" />
        <input id="create_ajax" type="button" name="create_business_ajax" value="Create Business AJAX"/ >
    </p>
</form>

<script type="text/javascript">
    $(function(){
        $('#create_ajax').click(function(click_event){
        
            var data = {
                user: $('#id_user').val(),
                backend_name: $('#id_backend_name').val(),
                business_name: $('#id_business_name').val(),
                avatar: $('#id_avatar').val(),
                hours: $('#id_hours').val()
            };

            $.ajax({
                url: '/api/business/create/',
                type: 'POST',
                data: data,
                // dataType: 'json',
                success: function(data, status, jq_xhr) {
                    $('#feedback').html('<h3>Business Created</h3>');
                },
                error: function(jq_xhr, status, error) {
                    $('#feedback').html(jq_xhr.responseText);
                }
            });
                
            click_event.stopPropagation();
            return false; 
        });
    });
</script>
{% endblock content %}
