{% extends 'master.html' %}

{% load thumbnail %}

{% block title %}Knotis - Edit Business Profile{% endblock title %}

{% block content %}
<div id="content" class="back-deals">
<div class="curve">
<div class="wrapper clear-fix relative">
    {% include 'account_notifications.html' %}
    <div class="box-deals box-border left">
        <!--PAGE TITLE-->
        <h2 class="backend">
            <strong>{% if offer %}Edit Deal{% else %}New Deal{% endif %}</strong> 
            {% if offer and offer.published %}
            <a href="/offer/{{ offer.id }}" target="_blank">View Deal</a>
            {% endif %}
        </h2>
        <!--Show Notification div is any info exists to show-->
        {% include 'feedback.html' with feedback=feedback %}
        <!--Show option to share deal if deal already exists -->
        {% if deal and deal.published %}
        <ul class="social deal-helper clear-fix margin-general">
                <li class="deal-social-helper">Ready to promote this deal? Select Facebook, Twitter or Email to share this deal now.</li>
                <li>
                    <a href="http://www.facebook.com/sharer.php?u={{ BASE_URL }}/offer/{{ offer.id }}" target="_blank">
                    <img src="{{ STATIC_URL }}/images/layouts/shared-facebook.png" title="Share Facebook" alt="Shared Facebook"/>
                    </a>
                </li>
                <li>
                    <a href="#"> 
                        <a href="http://twitter.com/intent/tweet?url={{ BASE_URL }}/offer/{{ offer.id }}">
                            <img src="{{ STATIC_URL }}/images/layouts/shared-twitter.png" title="Shared Twitter" alt="Shared Twitter"/>
                        </a>
                    </a>
                </li>
                <li class="mail">
                    <a href="mailto:?subject=Check out this deal on Knotis&body=Hi there,%0D%0A%0D%0AI saw this on Knotis and I liked it so much I wanted to share it with you.%0D%0A%0D%0Ahttp://{{ BASE_URL }} %0D%0A%0D%0A.">
                        E-mail
                    </a>
                </li>
            </ul>
        {% endif %}
        <!-- START PAGE FORM -->
        <form enctype="multipart/form-data" class="backend-setting edit-deal" data-id="{{ offer.id }}" method="post" id="update_deal">{% csrf_token %}
            <fieldset>
            <ul class="pass-user">
                <!--Value-->
                <li class="margin-general clear-fix">
                    <label class="left-side txt-size">Value</label>
                    <ul class="seat-deal radius-general clear-fix">
                        <!--REAL VALUE-->
                        <li class="seat-deal-column">
                            <label>Retail Price<div id="ht-24" class="help-icon vertical-align-super"></div></label>
                            <input class="radius-general" id="old_deal_input" 
                                value="{{ offer_form.price_retail.value }}" type="text" name="{{ offer_form.price_retail.html_name }}" placeholder="0"/>
                        </li>
                         <!--PRICE-->
                        <li class="seat-deal-column">
                            <label>Discount Price<div id="ht-23" class="help-icon vertical-align-super" ></div></label>
                            <input {% if offer.purchased > 0 %}disabled{% endif %} class="radius-general first" id="price_deal_input" 
                                value="{{ offer_form.price_discount.value }}" type="text" name="{{ offer_form.price_discount.html_name }}" placeholder="0"/>
                        </li>
                       <!--DISCOUNT-->
                        <li class="seat-deal-column">
                            <label>Discount</label>
                            <span class="discount_val"></span>
                        </li>                 
                    </ul>
                </li>
                <!--Units For Sale-->
                <li class="margin-general clear-fix">
                    <label class="left-side txt-size">Units For Sale</label>
                    <ul class="seat-deal radius-general clear-fix">
                        <!--UNITS-->
                        <li class="seat-deal-column">
                            <label># Units<div id="ht-25" class="help-icon vertical-align-super" ></div></label>
                            <input class="radius-general" name="{{ offer_form.stock.html_name }}" id="stock" value="{{ offer_form.stock.value }}" placeholder="Units" type="text"/>
                        </li>
                        <li class="seat-deal-column" style="width:50px">
                            <label style="text-align:center">OR</label>
                        </li>
                         <!--UNLIMITED CHECKBOX-->
                        <li class="seat-deal-column" style="width:100px">
                            <label>Unlimited<div id="ht-26" class="help-icon vertical-align-super" ></div></label>
                                <input class="radius-general" value="{{ offer_form.unlimited.value }}" {% if deal.unlimited %}checked{% endif %}  
                                        type="checkbox" style="margin-right:5px" name="{{ offer_form.unlimited.html_name }}" /> 
                        </li>
                    </ul>
                 </li>
                <!--Title-->
                <li class="clear-fix">
                    <label class="left-side txt-size">Title<div id="ht-27" class="help-icon float-right vertical-align-bottom" ></div></label>
                    <div class="title-set">
                        <input {% if offer.purchased > 0 %}disabled{% endif %} class="radius-general card" value="{{ offer_form.title_value.value }}" placeholder="Deal Title" type="text" name="{{ offer_form.title_value.html_name }}" id="title_deal_input"/>
                        <p class="generated-titles">Create your deal title above (or try one of the titles below)</p>
                        <!-- First Title Suggestion-->
                        <div class="seat-deal-02 clear-fix margin-general">
                            <input {% if offer.purchased > 0 %}disabled{% endif %} class="radius-general" value="1" placeholder="Title" {% if not offer or offer_form.title_type.value == 1 %}checked{% endif %} type="radio" name="{{ offer_form.title_type.html_name }}">
                            <p id="price_deal_radio" class="left label-new price_deal_radio">{% if offer %}{{ offer_form.price_discount.value }}{% else %}$20{% endif %}</p>
                            <p class="left label-new price_deal_radio">for</p>
                            <p id="old_deal_radio" class="left label-new">{% if offer %}{{ offer_form.price_retail.value }}{% else %}$40{% endif %}</p>
                            <p class="left label-new">at <b>{{ business.business_name.value }}</b></p>
                            <p id="title_deal_radio" class="label-new level clean">{% if offer %}{{ offer_form.title_value.value }}{% else %}Food and Drinks{% endif %}</p>
                        </div>
                        <!--Second Title Suggestion-->
                        <div class="seat-deal-02 clear-fix margin-general">
                            <input {% if offer.purchased > 0 %}disabled{% endif %} class="radius-general" {% if offer_form.title_type.value == 2 %}checked{% endif %} value="2" placeholder="Title" type="radio" name="{{ offer_form.title_type.html_name }}">
                            <p id="price_deal_radio2" class="left label-new price_deal_radio">{% firstof offer_form.price_discount.value '$20' %}</p>
                            <p class="left label-new price_deal_radio">for</p>
                            <p id="title_deal_radio2" class="left label-new">{% if offer %}{{ offer_form.title_value.value }}{% else %}Food and Drinks{% endif %}</p>
                            <p class="left label-new">at <b>{{ business.business_name.value }}</b></p>
                        </div>
                        <!--Third Title Suggestion-->
                        <div class="seat-deal-02 clear-fix margin-general">
                            <input id="title_deal_radio3_input" {% if offer.purchased > 0 %}disabled{% endif %}  class="radius-general" {% if offer_form.title_type.value == 3 %}checked{% endif %} value="3" placeholder="Title" type="radio" name="{{ offer_form.title_type.html_name }}">
                            <p id="title_deal_radio3" class="left label-new">{% if offer %}{{ offer_form.title_value.value }}{% else %}Food and Drinks{% endif %}</p>
                        </div>
                    </div>
                </li>
                <!--Start Date-->
                <li class="left title-set">
                    <label>
                        <span class="txt-size">Start Date<div id="ht-28" class="help-icon float-right vertical-align-bottom" ></div></span>
                        <input {% if offer.purchased > 0 %}disabled{% endif %} class="date radius-general left"
                            value="{{ offer_form.start_date.value }}"
                            type="text" name="{{ offer_form.start_date.html_name }}" placeholder="Start Date"
                            id="startdate">
                    </label>
                </li>
                <!--End Date-->
                <li class="left">
                    <label>
                        <span class="txt-size">End Date<div id="ht-29" class="help-icon float-right vertical-align-bottom" ></div></span>
                        <input class="date radius-general"
                            value="{{ offer_form.end_date.value }}"
                            type="text" name="{{ offer_form.end_date.html_name }}" placeholder="Finish Date"
                            id="enddate">
                    </label>
                </li>
                <!--Category-->
                <li class="categoryselect left">
                    <label class="left-side txt-size">Category<div id="ht-30" class="help-icon float-right vertical-align-bottom" ></div></label>
                    <select name="{{ offer_form.category.html_name }}">
                        {% for category in categories %}
                        <option value="{{ category.id }}" {% if offer_form.category.value == category.id %}selected{% endif%}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </li>
                <!--Description-->
                <li class="left">
                    <label>
                        <span class="txt-size">Description<div id="ht-31" class="help-icon float-right vertical-align-bottom" ></div></span>
                        <textarea class="radius-general" name="{{ offer_form.description_value.html_name }}" placeholder="Description">{{ offer_form.description_value.value }}</textarea>
                    </label>
                </li>
                <!--Restrictions-->
                <li class="left">
                    <label>
                        <span class="txt-size">Restrictions<div id="ht-32" class="help-icon float-right vertical-align-bottom" ></div></span>
                        <textarea class="radius-general extendedDescription" name="{{ offer_form.restrictions_value.html_name }}" placeholder="Custom Restrictions">{{ offer_form.restrictions_value.value }}</textarea>
                    </label>
                </li>
                <div class="clean"></div>
                <!--Image-->
                <fieldset style="border-bottom:0px">
                    <h2 class="backend"><strong>Deal Image</strong><div id="ht-33" class="help-icon vertical-align-baseline margin-sides" ></div></h2>
                    <div class="relative">
                        <p class="message-confirm margin-general-25 radius-general ">
                            One image per deal. For best results, please upload a square image no larger than 600 x 600 pixels.
                        </p>
                    </div>
                    <ul>
                        <input type="hidden" name="image" value="{{ offer.image }}"/>
                        {% if offer.image %}
                        <ul class="link-name images-gallery">
                            <ul class="link-name clear-fix radius-general">
                                <li class=" radius-general active clear-fix">
                                    {% thumbnail offer.image.image '30x30' as image %}
                                    <img alt="" src="{{ image.url }}" class="gallery"/>
                                    {% endthumbnail %}
                                    <a class="right delete radius-general delete-image-deal" href="#" data-id="{{ offer.id }}" data-cont="0">delete</a>
                                </li>
                            </ul>
                        </ul>
                        {% endif %}
                        <div class="clean"></div>
                    </ul>
                    <div id="uploader">
                        <input class="uploader radius-general" type="file" name="{{ offer_form.image_source.html_name }}" value="Upload Image"/>
                    </div>
                    <div class="clean"></div>
                </fieldset>
                <!--Location-->
                <fieldset class="last margin-general" style="border-bottom:0px">
                    <!--City-->
                    <h2 class="backend"><strong>Location of Deal</strong><div id="ht-34" class="help-icon vertical-align-baseline margin-sides" ></div></h2>
                    <div class="relative">
                        <p class="message-confirm margin-general-25 radius-general ">
                            Not your city or neighborhood? please tell us <a target="_blank" href="/contact/"> here</a>! Thanks!
                        </p>
                    </div>
                    <div class="clean"></div>
                    <li class="left">
                        <label>
                            <select name="{{ offer_form.city.html_name }}" id="citySelect" onchange="loadNeighbourhood();">
                                <option value="">Select City</option>
                                {% for city in cities %}
                                <option value="{{city.id }}" {% if offer_form.city.value == city.id or city.name|lower in business.address.value.value %}selected{% endif %}>{{ city.name }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </li>
                    <!--Neighborhood-->
                    <li class="left">
                        <label>
                            <select name="neighbourhoodId" id="neighbourhoodSelect">
                                <option value="" >All the City</option>
                                {% if offer_form.neighbourhood.value %}
                                {% for neighbourhood in neighbourhoods %}
                                <option value="{{ neighbourhood.id }}" {% if offer_form.neighbourhood.value == neighbourhood.id %}selected{% endif %}>{{neighbourhood.name}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </label>               
                    </li>
                    <!--Street Address-->
                    <li class="left title-set">
                            <input class=" radius-general" id="deal_address"
                                type="text" name="{{ offer_form.address_value.html_name }}" placeholder="Deal Address"
                                value="{% firstof offer_form.address_value.value business.address.value.value %}"/>
                            <p class="generated-titles">e.g. 845 106th Avenue NE, Bellevue, WA 98004</p>
                    </li>
                    <!--Map-->
                    {% if offer.address and offer.geo %}
                    <div class="clean"></div>
                    <script>
                        $(document).ready(function() {
                            var mapOptions = {
                                center : new google.maps.LatLng({{ offer.geo.latitude }}, {{ offer.geo.longitude }}),
                                icon: '{% if offer.image%}/images/thumb/33/33/{{ offer.image }}{% else %}{{ STATIC_URL }}/images/layouts/knotis-icon-rounded-map.png{% endif %}',
                                zoom:15,
                                mapTypeId : google.maps.MapTypeId.ROADMAP
                            };
                            map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions),
                            markers = [
                                new KnotisMarker({
                                    map:map,
                                    profile:1,
                                    position: new google.maps.LatLng({{ offer.geo.latitude }}, {{ offer.geo.longitude }}),
                                    icon: '{% if offer.image%}/images/thumb/33/33/{{ offer.image }}{% else %}{{ STATIC_URL }}/images/layouts/knotis-icon-rounded-map.png{% endif %}',
                                })
                            ];
                        });
                    </script>
                    <div id="map_canvas" class="margin-general" style="width:556px; height:300px;"></div>
                    {% endif %}
                </fieldset>
            </ul>
            </fieldset>
            <!--Form Submit-->
            <fieldset>
            <ul class="pass-user">  
                <li class="margin-general">
                        <input class="button radius-general" type="submit" value="Save Deal" name="update"/>
                        {% if not offer.published %}
                        <input style="margin-left:5px" class="button radius-general" type="submit" value="Publish" name="publish"/>
                        {% endif %}
                        {% if offer.purchased == 0 %}
                        <input class="button radius-general right" type="submit" value="Delete" name="delete"/>
                        {% endif %}
                </li>
            </ul>
            </fieldset>
        </form>
    </div>
<!--LOAD BACKEND DEAL MENU-->
{% include 'deal_menu.html' with current_page='create_offer' %}
</div>
</div>
</div>
{% endblock content %}
