<div id="footer">
    <div class="wrapper clear-fix">
        <ul class="left">
            <h5 class="txt-green margin-general"><strong>{{ footer_about }}</strong></h5>
            <li class="txt-size"> 
                <a class="txt-gray no-line" href="/about/" >{{ footer_about_knotis }}</a>
            </li>
            <li class="txt-size"> 
                <a class="txt-gray no-line" href="/howitworks/" >{{ footer_about_how }}</a>
            </li>
            <li class="txt-size"> 
                <a class="txt-gray no-line" href="/story/" >{{ footer_about_story }}</a>
            </li>
        </ul>
        <ul class="left">
            <h5 class="txt-green margin-general"><strong>{{ footer_account }}</strong></h5>
            <li class="txt-size"> 
                <a class="txt-gray no-line" href="/login/" >{{ footer_account_login }}</a>
            </li>
            <li class="txt-size"> 
                <a class="txt-gray no-line" href="/plans/" >{{ footer_account_create }}</a>
            </li>
            <li class="txt-size"> 
                <a class="txt-gray no-line" href="/profile/" >{{ footer_account_settings }}</a>
            </li>
        </ul>
        <ul class="left">
            <h5 class="txt-green margin-general"><strong>{{ footer_merchant }}</strong></h5>
            <li class="txt-size"> 
                <a class="txt-gray no-line" href="/login/" >{{ footer_merchant_login }}</a>
            </li>
            <li class="txt-size"> 
                <a class="txt-gray no-line" href="/offers/dashboard/" >{{ footer_merchant_deals }}</a>
            </li>
        </ul>
        <ul class="left">
            <h5 class="txt-green margin-general"><strong>{{ footer_contact }}</strong></h5>
            <li class="txt-size">
                <a class="txt-gray no-line" href="/inquire/" >{{ footer_contact_inquire }}</a>
            </li>
            <li class="txt-size">
                <a class="txt-gray no-line" href="/support/" >{{ footer_contact_support }}</a>
            </li>
        </ul>
        <ul class="left">
            <h5 class="txt-green margin-general"><strong>{{ footer_follow }}</strong></h5>
            <li class="txt-size facebook">
                <a class="txt-gray no-line" href="https://www.facebook.com/knotis" target="_blank">{{ footer_follow_facebook }}</a>
            </li>
            <li class="txt-size twitter">
                <a class="txt-gray no-line" href="https://www.twitter.com/knotis" target="_blank">{{ footer_follow_twitter }}</a>
            </li>
        </ul>
        <p class="clean txt-size privacy">{{ footer_copyright|safe }}</p>
    </div>
</div>
<div id="fb-root" data-app-id="<?= config_item('facebook_app_id'); ?>" data-sign-up-action="<?php echo site_url("user/facebook_login"); ?>"></div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25438470-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript" charset="utf-8">
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript" charset="utf-8">
    var feedback_widget_options = {};
    feedback_widget_options.display = "overlay";
    feedback_widget_options.company = "knotis";
    feedback_widget_options.placement = "left";
    feedback_widget_options.color = "#222";
    feedback_widget_options.style = "idea";
    var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>