{% extends 'master.html' %}

{% block title %}Knotis.com - Home{% endblock title %}

{% load thumbnail %}
{% block content %} 
<div class="header-bottom">
    <div class="curve curve01 curve02">
        <div class="wrapper back-curve clear-fix">
            <div class="column-text left">
                <h2 class="txt-white"><strong>{{ home_heading }}</strong></h2>
                <p>{{ home_blurb }}</p>
                {% if not user.is_authenticated %}
                <div class="box-border sig_in margin-general">
                    <a class="button radius-general clear-fix" title="{{ home_sign_up }}"
                       href="/signup/">{{ home_sign_up }}</a>
                </div>
                <div class="box-border sig_in sign-in-business">
                    <a class="button radius-general clear-fix" title="Sign Up &amp; Discover Great Deals"
                       href="/signup/">{{ home_feature }}</a>
                </div>
                {% endif %}
            </div>
            <div class="column-map right">
                <form class="principal" action="/search/" method="post" id="">
                    <ul class="clear-fix">
                        <li class="radius-general">
                            <div class="suggestionsBox" id="suggestions" style="display: none;">
                                <div class="suggestionList" id="autoSuggestionsList">
                                    &nbsp;
                                </div>
                            </div>
                            <label>
                                <input id="search" type="text" class="search radius-general" placeholder="{{ home_search_text }}" value="">
                            </label>
                        </li>
                        <li class="radius-general">
                            <a class="button radius-general txt-size link-search" name="link" href="">Search</a>
                        </li>
                    </ul>
                </form>
                <div class="map box-border">
                    <script>
                        $(document).ready(function() {
                            var mapOptions = {
                                center : new google.maps.LatLng(47.602227802480606, -122.30203628540039),
                                zoom: 15,
                                mapTypeId : google.maps.MapTypeId.ROADMAP
                            };
                            map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
                            markers = [
                                {% for offer in premium_offers %}
                                new KnotisMarker({
                                    map:map,
                                    title_var: '{{ offer.title_formatted }}',
                                    description_var: '{{ offer.description_100 }}',
                                    icon_var: '{{ offer.category.title_short }}',
                                    profile: 0,
                                    url_var: '{{ BASE_URL }}/offer/{{ offer.id }}/',
                                    position: new google.maps.LatLng('{{ offer.address.geo.lat }}', '{{ offer.address.geo.lon }}'),
                                    {% thumbnail offer.image.image '49x49' as image %}
                                    icon: '{{ image.url }}'
                                    {% empty %}
                                    icon: '{{ STATIC_URL }}images/layouts/knotis-icon-rounded-map.png'
                                    {% endthumbnail %}
                                }){% if forloop.counter != premium_offers|length %},
                                {% endif %}
                                {% endfor %}
                            ];
                            if (0 < markers.length){
                                var bounds = new google.maps.LatLngBounds(markers[0].getPosition(), markers[0].getPosition());
                                for (var i = 0; i < markers.length; i++) {
                                    bounds.extend(markers[i].getPosition());
                                }
                                map.fitBounds(bounds);
                            }
                        });
                   </script>
                   <span class="radius-general span-map" id="map_canvas">
                   </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content" class="content-home">
    <div class="wrapper">
        <h3 class="txt-center shadow-white divider">
            <strong><span>{{ home_special_deals }}</span></strong>
        </h3>
    </div>
    <div class="wrapper clear-fix">
        {% if premium_offers %}
        {% for offer in premium_offers %}
        <div class="box relative" style="width:222px">
            <div class="category cat-{{ offer.class }}"></div>
            <div class="ribbon-price"><p>{{ offer.savings }}%</p></div>
            <h4 class="circle shadow-white">
                <strong>
                    {% if user.city_name %}
                    {% if user.neighbourhood_name %}
                    {{ user.neighbourhood_name }}
                    {% else %}
                    {{ user.city_name}}
                    {% endif %}
                    {% else %}
                    ALL
                    {% endif %}
                </strong>
            </h4>

            <div class="box-bottom box-border">
                <div class="box-image-home relative">
                    <a href="<?=site_url("deal/profile/" . $row->id); ?>" title="<?=$row->title ?>"
                       alt="<?=$row->title ?>">
                       <img alt="{{ offer.business.name }}" src="{{ offer.business.image }}"/>
                    </a>
                </div>
                <div class="box-info">
                    <h5>
                        <strong><a href="/deal/{{ offer.id }}">
                        <strong><a href="/deal/{{ offer.id }}">
                            {{ offer.title_formatted }}
                        </a></strong>
                        </a></strong>
                    </h5>
                    <p>
                        <a class="txt-size margin-general clear-fix business-link business-buy" title="{{ offer.business.business_name.value }}"
                            href="/{{ offer.business.backend_name }}/" >
                            {{ deal.business.business_name.value }}
                        </a>
                    </p>
                    <p class="txt-size clean">
                        {% if offer.description %}
                        {{ offer.description.value }}
                        {% endif %}
                    </p>    
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}
