{% extends 'master.html' %}

{% block title %}Knotis - How It Works{% endblock title %}

{% block content %}
<div id="content" class="back-deals">
    <div class="curve">
    	<div class="wrapper clear-fix">
        	<div class="box-deals box-border left">
            	<h3 class="margin-general"><strong>How It Works</strong></h3>
            	<div class="txt-size margin-general static-content">
					<p>
					    <strong>For Consumers</strong><br/>It's simple. Sign up for a consumer account and start getting knotified today. With Daily Deals and Social Promotions like happy hours and events all in one place, consider it our job to keep you in the kno. Follow businesses to receive knotifications as they post new deals.
					</p>
                    <p>
                        <strong>For Businesses</strong><br/>It's simple. Sign up and begin creating your own social promotions today. The question: do you want to promote your own deals... or do you want us to do it for you? Upon signing up for a premium membership you receive an all access pass to the knotis train, allowing anyone and everyone within our network to easily find your deals, both through our website and our mobile app.
                    </p> 
                    <p>
                        Our Forever Free Plan gives you all the benefits of our paid account, except it's up to you to advertise your offers. Upon creating a deal, it will automatically go out through your social networks, (Facebook, Twitter, and E-mail/newsletter,) but will stop there. If you want to reach the masses, our premium account will pave the way for you. By utilizing our website and mobile app along with our social media sites, our network is now at your disposal.
                    </p>
                    <p>
                        knotis is designed for you, and will be the tool you need. If you're simply looking for a platform to create and share your own deals, sign up for our free account and start today. If business is slow and you're looking for a tool to ignite sales, our premium membership is just the plan for you. Either way, don't miss out. It's time to get knotis'd.
                    </p>					
					<p><center><img src="{{ STATIC_URL }}/images/bg-knotis-how-works.png" alt="What is Knotis"/></center></p>					
				</div>
        	</div>
        	<div class="box-border colum-width right">
            	<div class="padding-contact">
            		<h3><strong>Business Owners</strong></h3>
            		<p class="txt-size margin-general-25">
						Please visit our merchant center for help documentation and / or frequently asked questions. Otherwise, feel free to email us at <a href="mailto:support@knotis.com">support@knotis.com</a>
					</p>
					<h3><strong>Press Inquiries</strong></h3>
					<p class="txt-size">Please send press inquiries to <a href="mailto:press@knotis.com">  press@knotis.com</a></p>
				</div>
			</div>
		</div>
    </div>
</div>
{% endblock content%}
