{% extends 'master.html' %}

{% block title %}Knotis - Manage QR Code{% endblock title %}

{% block content %}
<div id="content" class="back-deals">
    <div class="curve">
        <div class="wrapper clear-fix relative">
            {% include 'account_notifications.html' %}
            <div class="box-deals box-border left">
                <h2 class="backend"><strong>Manage Qrcode Scans</strong><div id="ht-35" class="help-icon vertical-align-baseline margin-sides" ></div></h2>
                {% include 'feedback.html' with feedback=feedback %}
                <div class="relative closeinfo">
                    <div class="message-confirm margin-general-25 radius-general ">QR Code url
                        -> http://{{ BASE_URL }}/business/qrcode/</div>
                </div>
                <div class="clean"></div>
                <form class="backend-setting edit-deal" data-id="" method="post">
                    <ul class="qrcode-user">
                        <fieldset>
                            <h3 class="margin-general"><strong>Business Profile link</strong><div id="ht-36" class="help-icon vertical-align-baseline margin-sides" ></div></h3>
                            <h4 class="margin-general">Automatically send visitors to your Knotis Business Profile</h4>
                            <li class="clear-fix margin-general">
                                <label>
                                    <span class="txt-size">Business Profile link</span>
                                    <input type="radio" value="profile" name="qrcode" {% if business.qrcode_type == 'profile' %}checked{% endif %} />
                                    <input type="hidden" value="{{ business.id }}" name="merchantId"/>
                                </label>
                            </li>
                        </fieldset>
                        <fieldset>
                            <h3 class="margin-general"><strong>Link</strong><div id="ht-37" class="help-icon vertical-align-baseline margin-sides" ></div></h3>
                            <h4 class="margin-general">Configure an external link outside of Knotis. This link may be a
                                different business profile, a special promo page, a video on YouTube or other custom URL
                                you specify.</h4>
                            <li class="clear-fix margin-general ">
                                <label>
                                    <span class="txt-size">Link</span>
                                    <input type="radio" name="qrcode"
                                        value="link" {% if business.qrcode_type == 'link' %}
                                        checked{% endif %} />
                                </label>
                            </li>
                            <li class="clear-fix">
                                <label>
                                    <input class="radius-general"
                                        value="{% if business.qrcode_type == 'link' %}{{ business.qrcode_uri }}{% endif %}"
                                        placeholder="Enter the link – ie: http://www.google.com"
                                        type="text" name="link_content">
                                </label>
                            </li>
                        </fieldset>
                        <fieldset>
                            <h3 class="margin-general"><strong>Video</strong><div id="ht-38" class="help-icon vertical-align-baseline margin-sides" ></div></h3>
                            <li class="clear-fix margin-general">
                                <label>
                                    <span class="txt-size">Video</span>
                                    <input type="radio" name="qrcode"
                                        value="video" {% if business.qrcode_type == 'video' %}
                                        checked{% endif %} />
                                </label>
                            </li>
                            <li class="clear-fix ">
                                <label>
                                    <input class="radius-general"
                                        value="{% if business.qrcode_type == 'video' %}{{ business.qrcode_uri }}{% endif %}"
                                        placeholder="Enter the link to the video – ie: http://www.youtube.com"
                                        type="text" name="video_content">
                                </label>
                            </li>
                        </fieldset>
                        <fieldset>
                            <h3 class="margin-general"><strong>Deals</strong><div id="ht-39" class="help-icon vertical-align-baseline margin-sides" ></div></h3>
                            <h4 class="margin-general">Send visitors to one of your current Knotis Deals. Visitors will
                                be sent directly to the deal page where they will find details and discover how to
                                redeem a deal.</h4>
                            {% if offers %}
                            {% for offer in offers %}
                            <li class="clear-fix margin-general">
                                <label>
                                    <span class="txt-size">{{ offer.title }}<?= $deal->title ?></span>
                                    <input type="radio"
                                           name="qrcode" {% if business.qrcode_type == 'deal' and business.qrcode_uri == offer.id %}
                                           checked{% endif %}
                                           value="{{ offer.id }}"/> {% if offer.active %}[active]{% else %}[expired]{% endif %}
                                </label>
                            </li>
                            {% endfor %}
                            {% endif %}
                        </fieldset>
                        <li class="margin-general">
                            <label>
                                <input class="button radius-general" type="submit" name="saveQrcode" value="Set QR Link"/>
                            </label>
                        </li>
                        <fieldset>
                            <h3 class="margin-general"><strong>History</strong></h3>
                            {% if redirections %}
                            {% for redirection in redirections %}<br />
                                <div class="relative closeinfo">
                                    <div class="message-confirm margin-general-25 radius-general ">{{ redirection.uri }} ({{ redirection.hits }})</div>
                                </div>
                                <div class="clean"></div>
                            {% endfor%}
                            {% endif %}
                        </fieldset>
                    </ul>
                </form>
            </div>
            {% include 'deal_menu.html' %}
        </div>
    </div>
</div>
{% endblock content %}
