<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/default/global.css" />
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery/jquery.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery/plugins/render_data.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/home.js"></script>
  <title>{% block title %}Knotis.com{% endblock %}</title>
</head>

<body>
  {% include 'header.html' %}
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  {% include 'footer.html' %}
</body>
</html>