{% extends 'master.html' %}

{% block title %}Knotis - Deals{% endblock title %}

{% block content %}
<div id="content" class="back-deals">
    <div class="curve">
        <div class="wrapper clear-fix relative">
            {% include 'account_notifications.html' %}
            <div class="box-deals box-border left">
                <div class="clear-fix relative">
                    <ul class="filtering-bar filtering-bar-dash clear-fix  deallist_backend">
                        {% if user_profile.is_business_owner %}
                        <li class="txt-size"><a id="createdDealsA"  class="first active" href="#" data-filter="DealStatus_0">Created Deals</a></li>
                        <li class="txt-size"><a id="currentDealsA" href="#" data-filter="DealStatus_1">Current Deals</a></li>
                        <li class="txt-size"><a id="completedDealsA" href="#" data-filter="DealStatus_2">Completed Deals</a></li>
                        {% endif %}
                        <li class="txt-size"><a  href="#" class="{% if not user_profile.is_business_owner %}first active{% endif %}" data-filter="DealOrderStatus_0">Purchased</a></li>
                        <li class="txt-size"><a href="#" data-filter="DealOrderStatus_1">Used</a></li>
                    </ul>
                    <div id="ajaxBusy" class="absolute"><img src="{{ STATIC_URL }}/images/ajaxloading.gif" title="Loading" alt="loading"/> </div>
                </div>
                <div class="deal_list_backend">
                    {% include 'offers_list.html' with offers=offers %}
                </div>
            </div>
            {% include 'dashboard_menu.html' with current_page='offers_dashboard' %}
        </div>
    </div>
</div>
{% endblock content %}
