<div class="box-border colum-width-menu right no-padding ">
    <ul class="list-backend">
        <li class="search gradient-gray clear-fix">
            <label class="left">
                 <input class="" placeholder="Find offers by keyword" value="" id="search" type="text" onChange="document.links.link.href='/offers/keywords/' +this.value+ '';" />
            </label>
            <a class="gradient-gray search-deals left" name="link" href="">Search</a>
        </li>
        <li class="relative All">
            <a {% if not offer.category %}class="active"{% endif %} data-filter="actives" href="/offers/" >All Categories
                ({{ local_deals|length }})</a>
            {% if not offer.category %}<div class="arrow arrow-All"></div>{% endif %}
        </li>
        {% if categories %}
        {% for category in categories %}
        {% for key, value in category_offers %}
        {% if key == category.short_name %}
        <li class="relative {{ category.short_name }}">
            <a {% if category == offer.category %}class="active"{% endif %}  
                data-filter="all" 
                data-category_name="{{ category.short_name }}" 
                href="/offers/category/{{ category.id }}/" 
                data-category="{{ category.id }}">{{ category.name.value }} ({{ value|length }})</a>
                {% if offer.category == category %}<div class="arrow arrow-{{ category.short_name }}"></div>{% endif %}
        </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endif %}
    </ul>
</div>
