{% extends 'master.html' %}

{% block title %}Knotis - Offers{% endblock title %}

{% block content %}
<div id="content" class="back-offers">
    <div class="curve">
        <div class="wrapper relative content-slide">
            {% include 'offers_premium.html' with offers=offers_premium %}
        </div>
        <div class="wrapper clear-fix">
            <div class="box-offers box-border left relative">
                <div class="clear-fix">
                    <ul class="offers-filter-menu filtering-bar clear-fix left">
                        <li class="txt-size"><a class="active" href="#" data-filter="newest">New offers</a></li>
                        <li class="txt-size"><a href="#" data-filter="popular">Popular</a></li>
                        <li class="txt-size"><a href="#" data-filter="expiring">Expiring</a></li>
                    </ul>
                    <ul class="view-mode clear-fix right">
                        <li class="mode-list">
                            <a class=" gradient-gray active offer-mode-list" href="#">
                                <img alt="" src="{{ STATIC_URL }}images/layouts/knotis-mode-list.png">
                            </a>
                        </li>
                        <li class="mode-map">
                            <a class=" gradient-gray offer-mode-map" href="#">
                                
                                <img alt="" src="{{ STATIC_URL }}images/layouts/knotis-mode-map.png">
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="ajaxBusy" class="absolute"><img src="{{ STATIC_URL }}/images/ajaxloading.gif" title="Loading" alt="loading"/> </div>
                <div 
                    class="offer-content" 
                    data-href="{{ load_offers_href }}" 
                    data-query="{{ load_offers_query }}"
                    data-business="{{ load_offers_business }}"
                    data-city="{{ load_offers_city }}"
                    data-neighborhood="{{ load_offers_neighborhood }}"
                    data-category="{{ load_offers_category|capfirst }}"
                    data-premium="{{ load_offers_premium }}"
                    data-page="{{ load_offers_page }}" >
                    {% include 'offers_list.html' with offers=offers %}
                </div>
            </div>
                    <div class="box-border colum-width right {% if user_profile.notify_offers %}hide{% else %}notify{% endif %}">
                <a class=" button clear-fix txt-center radius-general button-receive{% if not user %} log_in{% endif %}" href="#">
                    <span>Receive new offers via email</span>
                </a>
            </div>
            {% include 'offers_menu.html' with categories=categories current_category=category query=query %}
        </div>
    </div>
</div>
{% endblock content %}
