{% extends 'master.html' %}

{% block title %}Knotis | Purchase Offer{% endblock title %}

{% block content %}
<div id="content" class="back-offers">
    <div class="curve">
        <div class="wrapper clear-fix">
            <div class="box-offers box-border left">
                <h2 class="backend"><strong>Buy your offer</strong></h2>
                <form action="{{ settings.PAYPAL_FORM_URL }}" method="post">
                    <div class="buy">
                        <ul class="title clear-fix">
                            <li class="offer">Offer</li>
                            <li class="quantity-print">Quantity</li>
                            <li class="quantity-print">Price</li>
                            <li class="quantity-print">Total</li>
                        </ul>
                        <ul class="offer-buy clear-fix">
                            <li class="offer">{{ offer.title_formatted }}</li>
                            <li class="quantity-print">
                                <label>
                                    <select name="quantity_1" id="selectquantity" data-money="{{ offer.price_discount }}" >
                                        {% for stock in offer.stock_values %}
                                        <option value="{{ stock }}" >{{ stock }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </li>
                            <li class="quantity-print"><span class="padd">${{ offer.price_discount_formatted }}</span></li>
                            <li class="quantity-print"><span
                                    class="padd"><strong>${{ offer.price_discount_formatted }}</strong></span></li>
                        </ul>
                        <div class="total clear-fix">
                            <p class="left">Total</p>
                            <p class="right"><strong>${{ offer.price_discount_formatted }}</strong></p>
                        </div>
                    </div>
                    <p class="margin-general"><label>
                        <input class="button radius-general" type="submit" value="Buy your offers">
                        <input type="hidden" value="{{ offer.id }}" name="offerId"/>
                    </label></p>
                    <input name="cmd" type="hidden" value="_cart" />
                    <input name="upload" type="hidden" value="1" />
                    <input name="business" type="hidden" value="{{ settings.PAYPAL_ACCOUNT }}" />
                    <input name="shopping_url" type="hidden" value="{{ settings.BASE_URL }}" />
                    <input name="currency_code" type="hidden" value="USD" />
                    <input name="return" type="hidden" value="/dashboard/offers/" />
                    <input name="notify_url" type="hidden" value="{{ settings.PAYPAL_NOTIFY_URL }}" />
                    <input name="rm" type="hidden" value="2" />
                    <input name="item_name_1" type="hidden" value="{{ offer.title_formatted }}" />
                    <input name="amount_1" type="hidden" id="amount_1" value="{{ offer.price_discount }}" />
                    <input type="hidden" name="handling_cart" value="{{ settings.PAYPAL_TRANSACTION_PRICE }}" />
                    <input type="hidden" name="item_number_1" value="{{ offer.id }}" />
                    <input type="hidden" name="custom" value="{{ custom_data }}" />
                </form>
            </div>
            <div class="box-border colum-width right">
                <div class="padding-contact">
                    <h3 class="margin-general"><strong>Some Questions?</strong></h3>
                    <a class="button radius-general clear-fix padding-general txt-center"
                       href="/contact/"><strong>Contact us</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
