{% extends 'master.html' %}

{% block title %}Knotis - Forgot your Password?{% endblock title %}

{% block content %}
<div id="content" class="back-deals">
    <div class="curve">
        <div class="wrapper clear-fix">
            <div class="box-deals box-border left">
                <h3 class="margin-general"><strong>Can't sign in? Forget your password?</strong></h3>
                <p class="txt-size margin-general-25">Enter your email address below and we'll send you password reset instructions.</p>
                <div class="search-deals-back radius-general">
                        <form method="post" id="forgotpassword">{% csrf_token %}
                            <label>
                                <input class="radius-general" type="text" placeholder="Enter your email address" value="{% firstof forgot_form.email.value '' %}" name="{{ forgot_form.email.html_name }}" id="mail">
                            </label>
                            <label>
                                <input class="button radius-general" type="submit" name="recovery" value="Recovery">
                            </label>
                        </form>
                    </div>
                {% if feedback %}
                <div class="message-confirm message-warn radius-general txt-size">{{ feedback }}</div>
                {% endif %}
            </div>
            <div class="box-border colum-width right">
                <div class="padding-contact">
                <h3><strong>Business Owners</strong></h3>
                <p class="txt-size margin-general-25">Please visit our merchant center for help documentation and / or frequently asked questions. Otherwise, feel free to email us at
                <a href="mailto:press@knotis.com">  press@knotis.com</a></p>
                <h3><strong>Press Inquiries</strong></h3>
                <p class="txt-size">Please send press inquiries to <a href="mailto:press@knotis.com">  press@knotis.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
