{% extends 'master.html' %}

{% block title %}Knotis | Print Unredeemed Offers{% endblock title%}

{% block content %}
<div id="content" class="back-offers">
    <div class="curve">
        <div class="wrapper">
            <div class="box-border box-print print-unredeemed-offers">
        	    <span class="right first">
            	  <a id="print-offers" href="#"> 
        		    <img class="print" src="{{ STATIC_URL }}images/layouts/print.png" />
        		  </a>
        	    </span>
                <div class="print-only break" >
                    <h1>Un-redeemed Offers for {{ business.business_name }}</h1>
                    <p>
                        The following list is a printable version of the most recent Un-Redeemed offers for your business. Please provide this list to the appropriate staff members or near your service stations for tracking how many Knotis vouchers are brought into your business location.
                    </p>
                    <p>
                        Customers may bring in their printed vouchers (which you should keep) or their smart phones to show you they have purchased the offer described below. A manager has approved this offer to be serviced, you may check with them for additional instructions. Once the service according to the promotion has been performed please match ticket numbers and initial next to the correct Ticket Number.
                    </p>
                    <p>
                        To fully Redeem and take a promotion out of the system, staff member or manager must log into your business Knotis account and click on the Redeem button for every Ticket Number serviced. We recommend you allow an on duty staff member to log-in to your Knotis account to Redeem Offer and take it out of the system as soon as service is provided. You may wait until the end of the business day but do know that the longer you wait to redeem a voucher the greater the chances of customers cheating and using a voucher twice (or more).
                    </p>
                </div>
                <h1>Un-redeemed Offers for {{ business.business_name.value }}</h1>
                <p>Manager: {{ business.user.first_name }} ({{ business.user.username }})</p>
                {% if offer_purchase_map %}
                {% for offer, purchases in offer_purchase_map.items %}
                <h2>{{ offer.title_formatted }}</h2>
                <p>{{ offer.description.value }}</p>
                <strong>Restrictions</strong>
                <p>{{ offer.restrictions.value }}</p>
                <strong>Price</strong>
                <p>${{ offer.price_discount_formatted }}</p>
                {% if purchases %}
                <div class="clear-fix clean reedem-code radius-general ">
                    <table>
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>Email Address</th>
                                <th>Ticket Number</th>
                                <th>Staff Initials</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for purchase in purchases %}
                            {% if purchase.unredeemed > 0 %}
                            <tr>
                              <td>{{ purchase.user.last_name }}</td>
                              <td>{{ purchase.user.first_name }}</td>
                              <td>{{ purchase.user.username }}</td>
                              <td>{{ purchase.transaction_context }}</td>
                              <td class="initials"></td>
                            </tr>                  
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" >
  $(function() {
    $('#print-offers').click(function(event) {
      window.print();
    });

    var sortTableRowsByColumn = function($table, index) {
      var $rows = $('tbody tr',$table);
      $rows.sort(function(a, b){
          var keyA = $.trim($('td:eq(' + index + ')',a).text().toLowerCase());
          var keyB = $.trim($('td:eq(' + index + ')',b).text().toLowerCase());
          if (keyA === keyB) { return 0; }
          return (keyA > keyB) ? 1 : -1;
      });
      $.each($rows, function(index, row){
        $table.append(row);
      });
    };
    var $table = $('.print-unredeemed-deals table');
    sortTableRowsByColumn($table, 2);
    sortTableRowsByColumn($table, 1);
    sortTableRowsByColumn($table, 0);
  });
</script>
{% endblock content %}
