{% extends 'master.html' %}

{% block title %}Knotis - Privacy Policy{% endblock title %}

{% block content %}
<div id="content" class="back-offers">
    <div class="curve">
    	<div class="wrapper clear-fix">
        	<div class="box-offers box-border left">
            	<div class="txt-size margin-general static-content">
             	    <h3 class="margin-general"><strong>Privacy Policy</strong></h3>
                    <p class="margin-general">This Privacy Policy (“Privacy Policy”) explains how knotis, Inc. (“knotis”) uses personal information (“Personal Information”) and applies to all new users who register on our site. If you do not agree to our practices, please do not register, subscribe, create an account, purchase an account or voucher, or otherwise interact with knotis at www.knotis.com (or our mobile applications)
                    </p>
                    <p class="margin-general-25">If you have any questions or concerns regarding our Privacy Policy, please contact us at support@knotis.com .</p>
                    <h4 class="margin-general-25">Collection of Personal Information</h4>
                    <p class="margin-general">
                        We ask you for Personal Information (including Contact Information, Relationship Information, and Financial Account Information) when you register, subscribe, create an account, purchase vouchers, or otherwise interact with the Site or contact Knotis. We also collect Transaction Information when you use our Site, which is all stored on Paypal.</p>
                    <p class="margin-general">Personal Information We Collect</p>
                    <p class="margin-general">
                        Personal Information is information that can be used to identify, locate, or contact an individual. It also includes other information that may be associated with Personal Information. We collect the following types of Personal Information:</p>
                    <ul class="margin-general-25 category-list">
                        <li><b>Contact Information</b> that allows us to communicate with you, such as your name, postal addresses, email addresses, social media website user account names, telephone numbers, or other addresses at which you receive communications from or on behalf of Knotis.</li>
                        <li><b>Relationship Information</b> that helps us to understand who you are and what types of offers you might like. This includes lifestyle information; location information related to your state/province, city, or neighborhood; areas of interest, the types of offers that interest you, information collected from social media interactions (such as via Facebook Connect); demographic information (e.g., birth date, age, gender); information about persons for whom you have purchased offer vouchers; and information about friends who refer you or who you have referred.</li>
                        <li><b>Transaction Information </b> about how you interact with Knotis - the offers you view, purchase and redeem; other information about how you use our Site, email, other communications, and applications; and how you interact with Knotis merchants, business partners, and service providers</li>
                        <li><b>Financial Account Information</b> as needed to process payments for offers that you buy, such as your credit or debit card number, expiration date, and card verification number.</li>
                        <li><b>Mobile Location Information</b> to help us offer you real-time offers nearby, if you have activated one of our mobile applications and permitted your mobile or other location-aware device to transmit location data.</li>
                    </ul>
                    <h4 class="margin-general-25">Use of Personal Information</h4>
                    <p class="margin-general">Knotis uses Personal Information to: </p>
                    <ul class="margin-general-25 category-list">
                        <li>Operate and improve our Site;</li>
                        <li>Provide customers with offers based on variables such as stated and anticipated customer interests, personal characteristics, or location;</li>
                        <li>Facilitate orders, including their purchase and redemption;</li>
                        <li>Evaluate eligibility of customers for certain offers, products or services;</li>
                        <li>Evaluate the types of offers, products or services that may be of interest to customers;</li>
                        <li>Track redemptions and perform other analytics;</li>
                        <li>Provide customer support, including to our merchants or business partners;</li>
                        <li>Fulfill requests for Knotis services;</li>
                        <li>Communicate and provide additional information that may be of interest to you about Knotis and our merchants and business partners, such as Knotis news, special offers and coupons, announcements, and marketing materials;</li>
                        <li>Send you reminders, technical notices, updates, security alerts and support and administrative messages service bulletins, or marketing;</li>
                        <li>Provide advertisements to you through the Site, email messages, text messages, applications, or other methods of communication;</li>
                        <li>Administer surveys, sweepstakes, contests, or other promotional activities or events sponsored by us or our partners; </li>
                        <li>Manage our everyday business needs such as Site administration, forum management, fulfillment, analytics, fraud prevention, enforcement of our corporate reporting obligations, Terms of Use or to comply with the law, and</li>
                        <li>Allow you to apply for a job, post a video or sign up for special offers from third parties through the Site</li>
                    </ul>
                    <h4 class="margin-general-25">Disclosure of Personal Information</h4>
                    <p class="margin-general-25">We will not disclose your Personal Information to third parties. However, we may also disclose information about you that is not personally identifiable to our merchants so they can learn from their promotions. For example, we may provide our merchants with reports that contain aggregated and statistical data about our users</p>
                    <h4 class="margin-general-25">Limiting Information</h4>
                    <p class="margin-general-25">We think that you benefit from a more personalized experience when we know more about you and the kinds of offers you like. However, you can limit the information you provide to Knotis, and you can limit the communications that Knotis sends to you.</p>
				</div>
        	</div>
        	<div class="box-border colum-width right">
            	<div class="padding-contact">
            		<h3><strong>Business Owners</strong></h3>
            		<p class="txt-size margin-general-25">
						Please visit our merchant center for help documentation and / or frequently asked questions. Otherwise, feel free to email us at <a href="mailto:support@knotis.com">support@knotis.com</a>
					</p>
					<h3><strong>Press Inquiries</strong></h3>
					<p class="txt-size">Please send press inquiries to <a href="mailto:press@knotis.com">  press@knotis.com</a></p>
				</div>
			</div>
		</div>
    </div>
</div>
{% endblock content%}
