<div class="signup_popup content-popup absolute radius-general">
    <div class="content-replace relative">
        <div class="content-popup-inset radius-general">
            <form action="/signup/" method="post" id="newuser">{% csrf_token %}
                <div class="clear-fix relative">
                    <h3><strong>{% if account_type == 'user' %}Sign up for Knotis deals!
                        {% else %}{% if account_type == 'foreverfree' %}Sign up - Forever Free Business Plan!
                        {% else %}{% if account_type == 'premium' %}Sign up - Monthly Unlimited Business Plan!
                        {% else %}Sign up{% endif %}{% endif %}{% endif %}</strong></h3>
                    <div class="close close_sig_in"></div>
                </div>
                <div class="replace">
                    <div class="clear-fix">
                        <div class="content-popup-left">
                            <ul>
                                <li>
                                    <label>
                                        {{ form.first_name }}
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        {{ form.last_name }}
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        {{ form.email }}
                                    </label>
                                </li>
    
                                <li>
                                    <label>
                                        {{ form.password }}
                                    </label>
                                    {% if account_type != 'user' %}
                                    <span class="arrow-hand"><img
                                            src="{{ STATIC_URL }}/images/layouts/arrow-hand.png"
                                            title="Loading" alt="loading"/></span>
                                    {% endif %}
                                </li>
                                <div class="clean"></div>
                                {{ form.account_type }}
                            </ul>
                            <p class="txt-size margin-general">By creating an account you agree to our Terms &amp; Conditions and Privacy Policy</p>
                            <p id="createP">
                                <input class="button radius-general" type="submit" value="Create">
                                <a class="txt-size close_sig_in" href="#">Cancel</a>
                            </p>
                            <p id="createdP" style="display:none">
                                <img src="{{ STATIC_URL }}/images/lightbox-ico-loading.gif" title="Loading" alt="loading"/>
                            </p>
                        </div>
    					<div id="facebook-login-container" class="box-facebook radius-general margin-general">
                            <p class="txt-size txt-center"><strong>Create your account with Facebook</strong></p>
                            <fb:login-button scope="email,user_about_me" autologoutlink="false">Sign up</fb:login-button>
                            <script type="text/javascript">if(typeof(FB)!="undefined") { FB.XFBML.parse(); }</script>
                        </div>
                        {% if account_type != 'user' %}
                        <div class="right toggle-if-business">
                            {{ form.business }}
                            <label class="txt-size" for="business"><strong>I am a Business Owner</strong></label>
                            {% if account_type == 'premium' %}
                            <label class="txt-size user-ticket clear-fix " ><strong>First month for free!</strong></label>
                            {% endif %}
    					</div>
    					{% endif %}
                    </div>
                    <div class="clean relative">
                        <div id="ajaxBusy" class="absolute"><img src="{{ STATIC_URL }}/images/ajaxloading.gif" title="Loading" alt="loading"/> </div>  
                    </div>
                    <p id="message-log" class="message-confirm message-error hide message-info radius-general txt-size"></p>
               </div>
           </form>
           <div class="resultsContainer"> </div>
       </div>
    </div>
</div>
