{% extends 'master.html' %}

{% block title %}Knotis - My Subscriptions{% endblock title %}

{% block content %}
<div id="content" class="back-deals">
    <div class="curve">
        <div class="wrapper clear-fix relative">
            {% include 'account_notifications.html' %}
            <div class="box-deals box-border left">
                <h2 class="backend"><strong>My Subscriptions</strong><div id="ht-40" class="help-icon vertical-align-baseline margin-sides" ></div></h2>
                {% if subscriptions %}
                {% for business in subscriptions %}
                <div class="line-bottom clear-fix margin-general-25 follow-<?= $cont; ?>">
                    <div class="clear-fix">
                        <div class="deals-image radius-general left relative">
                            <div class="category food"></div>
                            <img alt=""
                                 src="/images/business/72/72/{ business.id }}"
                                 class="image-knotis-thumb"/>
                        </div>
                        <div class="deals-txt left">
                            <h5><strong>{{ business.business_name }}</strong></h5>
                            <a class="txt-size margin-general clear-fix" href="http://maps.google.com/maps?q={{ business.address.value.value }}" target="_blank">See location on map</a>
                            <a class="more gradient-gray radius-general"
                               href="/{{ business.backend_name }}"
                               target="_blank" class="more radius-general">More info</a>
                        </div>
                        <div class=" radius-general right">
                            <input class="print button margin-general btn-unfollow  radius-general"
                                   type="button" target="_blank" data-cont="{{ forloop.counter0 }}"
                                   data-id="<?= $Business->id; ?>"
                                   value="Unsubscribe"/>
                        </div>
                    </div>
                    {% for offer in business.offers %}
                    <div class="clear-fix clean reedem-code radius-general ">
                        <p class="txt-size deals-business"><a
                                href="/offer/{{ offer.id }}"
                                target="_blank">{{ offer.title }}</a></p>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
                {% else %}
                <div class="relative closeinfo">
                    <div class="close-message absolute"></div>
                    <div class="message-confirm margin-general-25 radius-general ">You are not following any businesses.</div>
                </div>
                <div class="clean"></div>
                {% endif %}
            </div>
            {% include 'deal_menu.html' with current_page='subscriptions' %}
        </div>
    </div>
</div>
{% endblock content %}
