{% extends 'master.html' %}

{% block title %}Knotis - Customer Support Center{% endblock title %}

{% block content %}
<div id="content" class="back-deals">
    <div class="curve">
    	<div class="wrapper clear-fix">
        	<div class="box-deals box-border left">
            	<h3 class="margin-general"><strong>Customer Support Center</strong></h3>
            	<div class="txt-size margin-general static-content">
					For immediate help, please checkout our <a href="http://knotis.assistly.com" target="_blank">customer support center</a>.					
				</div>
        	</div>
        	<div class="box-border colum-width right">
            	<div class="padding-contact">
            		<h3><strong>Business Owners</strong></h3>
            		<p class="txt-size margin-general-25">
						Please visit our merchant center for help documentation and / or frequently asked questions. Otherwise, feel free to email us at <a href="mailto:support@knotis.com">support@knotis.com</a>
					</p>
					<h3><strong>Press Inquiries</strong></h3>
					<p class="txt-size">Please send press inquiries to <a href="mailto:press@knotis.com">  press@knotis.com</a></p>
				</div>
			</div>
		</div>
    </div>
</div>
{% endblock content%}
