{% extends 'master.html' %}

{% block title %}Knotis - User Profile{% endblock title %}

{% block content %}
<div id="content" class="back-deals">
    <div class="curve">
        <div class="wrapper clear-fix relative">
            {% include 'account_notifications.html' %}
            <div class="left">
                {% include 'feedback.html' with feedback=feedback %}
                <div class="box-deals box-border">
                    <h2 class="backend"><strong>My profile</strong></h2>
                    <form class="backend-setting" method="post">{% csrf_token %}
                        <fieldset>
                            <h1 class="margin-general" style="font-size:14px"><strong>Contact Info</strong></h1>
                            <ul>
                                <li >
                                    <label>
                                        <span class="txt-size">{{ profile_form.first_name.label }}</span>
                                        <input class="search radius-general first-name" style="margin-left:5px" value="{{ profile_form.first_name.value }}" type="text"
                                               name="{{ profile_form.first_name.html_name }}" placeholder="{{ profile_form.first_name.label }}">
                                    </label>
                                </li>
                                <li >
                                    <label>
                                        <span class="txt-size">{{ profile_form.last_name.label }}</span>
                                        <input class="search radius-general" style="margin-left:5px" value="{{ profile_form.last_name.value }}" type="text" 
                                            name="{{ profile_form.last_name.html_name }}" placeholder="{{ profile_form.last_name.label }}">
                                    </label>
                                </li>
                                <li >
                                <h1 class="margin-general" style="font-size:14px"><strong>E-mail preferences</strong></h1>
                                </li>
                                <li >
                                    <label class="clear-fix margin-general">
                                        <input type="checkbox" value="1"
                                               name="{{ profile_form.notify_announcements.html_name }}"{% if profile_form.notify_announcements.value %}
                                               checked{% endif %} ><span class="txt-size">Send me important service announcements</span>
                                    </label>
                                </li>
                                <li >
                                    <label class="clear-fix margin-general">
                                        <input type="checkbox" value="1"
                                               name="{{ profile_form.notify_offers.html_name }}"{% if profile_form.notify_offers.value %}
                                               checked{% endif %} ><span class="txt-size">Notify me when new deals go live</span>
                                    </label>
                                </li>
                                <li >
                                    <label class="clear-fix margin-general">
                                        <input type="checkbox" value="1"
                                               name="{{ profile_form.notify_events.html_name }}"{% if profile_form.notify_events.value %}
                                               checked{% endif %} ><span class="txt-size">Notify me when new events are announced</span>
                                    </label>
                                </li>
                            </ul>
                        </fieldset>
                        <input class="button radius-general" type="submit" name="save_profile" value="Save profile">
                    </form>
                </div>
                {% if user and not user.is_staff and not user_profile.is_business_owner %}
                <div class="box-deals box-border" style="margin-top:7px">
                    <form class="backend-setting" method="post">{% csrf_token %}
                        <fieldset>
                            <h3 class="margin-general"><strong>Do you own a business?</strong></h3>
                            <ul>
                                <li class="margin-general">
                                    <label class="clear-fix margin-general">
                                        <input 
                                            type="checkbox" 
                                            value="1" 
                                            name="{{ business_form.business_owner.html_name }}"{% if user_profile.is_business_owner %}
                                            checked{% endif %} ><span class="txt-size">Yes! I have a business and I want a business profile in knotis</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input class="button radius-general" type="submit" name="activate_business" value="Save Role">
                                    </label>
                                </li>
                                <div class="clean"></div>
                            </ul>
                        </fieldset>
                    </form>
                </div>
                {% endif%}    
                <div class="box-deals box-border" style="margin-top:7px">
                    <form class="backend-setting" method="post">{% csrf_token %}
                        <fieldset>
                            <h3 class="margin-general"><strong>Change Email</strong></h3>
                            <ul class="pass-user">
                               <li>
                                    <label>
                                        <span class="txt-size">Current</span>
                                        <span style="font-size:15px"><b>{{ user.username }}</b></span>
                                        <input class="radius-general" type="text" style="visibility:hidden; width:0px" />                                        
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="txt-size">{{ email_form.email.label }}</span>
                                        <input class="radius-general" type="text" name="{{ email_form.email.html_name }}" />
                                    </label>
                                </li>
                            </ul>
                        </fieldset>
                        <label style="font-size:13px;">*Note that you will be required to validate email before change takes effect. 
                        </label><br /> <br />
                        <input class="button radius-general" type="submit" name="change_email" value="Change Email">
                    </form>    
                </div>
                <div class="box-deals box-border" style="margin-top:7px">
                    <form class="backend-setting" method="post">{% csrf_token %}
                     <fieldset>
                            <h3 class="margin-general"><strong>Change Password</strong></h3>
                            <ul class="pass-user">
                                <li>
                                    <label>
                                        <span class="txt-size">{{ password_form.old_password.label }}</span>
                                        <input class="radius-general" type="password" name="{{ password_form.old_password.html_name }}" />
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <span class="txt-size">{{ password_form.new_password.label }}</span>
                                        <input class="radius-general" type="password" name="{{ password_form.new_password.html_name }}" />
                                    </label>
                                </li>
                            </ul>
                        </fieldset>
                        <input class="button radius-general" type="submit" name="change_password" value="Change Password">
                    </form>    
                </div>
                  <!--Profile Picture-->
                <div class="box-deals box-border" style="margin-top:7px">
                    {% if user %}
                    <fieldset>
                        <h3 class="margin-general"><strong>Profile Picture</strong></h3>
                        <div class="relative">
                            <p class="message-confirm margin-general-25 radius-general ">Your profile image is managed by <a
                                    href="http://gravatar.com" target="_blank"> Gravatar.com</a></p>
                        </div>
                        <ul>
                            <ul class="link-name clear-fix radius-general">
                                <li class=" radius-general active clear-fix">
                                    <img alt="" src="{{ user_profile.get_avatar }}" class="gallery">
                                    {% if not user_profile.facebook_id %}<a class="right delete radius-general" href="http://gravatar.com" target="_blank">Your Gravatar</a>{% endif %}
                                </li>
                            </ul>
                            <div class="clean"></div>
                        </ul>
                    </fieldset>
                    {% endif %}
                </div>
            </div>
            {% include 'dashboard_menu.html' with current_page='user_profile' %}
        </div>
    </div>
</div>
{% endblock content %}
