{% extends "master.html" %}
{% block title %}Knotis.com - Create Offer{% endblock title %}

{% block content %} 

<center>
<h2>
<div id="offer_template" data-resourceuri="/api/offer/{{ offer_id }}" data-data="[]">
     ID:<span class="offer_id"></span>
     Content:<span class="content"></span>
     Price:<span class="price_regular"></span>
     Currency:<span class="currency"></span>
 </div>
</h2>
</center>

 <script type="text/javascript"> 
   $(function() { 
       $('#offer_template').render_data(); 
     }
   );
 </script>

<h2>
{{ offer_id }}
</h2>

{% endblock content %}
