{% extends 'knotis/layout/master_email.html' %}
{% load render_template_fragment %}
{% block subject %}High-five, you have a new follower.{% endblock subject %}

{% block header %}
    <h1 style="text-align: center;">
	<span style="color:#696969">
	    <span style="font-size:24px">You have a new follower on Knotis.</span>
	</span>
    </h1>
{% endblock %}

{% block content %}
    <div style="text-align: center;">
	<span style="font-size:18px">
	    <span style="color:#808080">@<strong>{{ username }}</strong> is now following you.</span>
	</span>
    </div>
{% endblock %}

{% block action %}
    <a class="mcnButton " title="View profile" href="{{ view_profile_link }}" target="_self" style="font-weight: normal;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">View profile</a>
{% endblock %}
