<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>{{ SERVICE_NAME }}</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
</head>
<body style="background-image: url('{{ STATIC_URL_ABSOLUTE }}images/email/bg-email-circle.jpg'); 
        background-repeat: no-repeat; background-position: top center;">
    <div style=" margin-left:auto; width:630px; margin-right: auto; 
         background:#fff; margin-top: 20px;
         border: 1px solid #bbb; border-radius:15px;">
    <table style="margin-left:auto; width:550px; margin-right:auto; margin-top:20px" >
    <!--Logo-->
    <tr >
        <td>
        <img style="float:left" alt="" src="{{ STATIC_URL_ABSOLUTE }}">
        <label style="float:left; margin-top:30px; color: #4c545b; font-family: Arial, Helvetica, sans-serif; font-size: 32px; font-weight: bold;">{{ SERVICE_NAME }}</label>
        </td>
    </tr>
    <!--Title-->  
    <tr>
        <td height="30" colspan="2"
            style=" text-align:left; color: #6f6f6f;
            font-family: Arial, Helvetica, sans-serif;; font-size: 21px; font-weight:bold;  
            border-bottom: 1px dashed #c1c1c1; padding-bottom:10px; padding-top:15px;">
            The following deals are now Available to you!
        </td>
    </tr>
    <!--Deals-->
    {{ for offer in offers }}
        <!--title-->
        <tr>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; 
                    color: #6f6f6f;   padding:15px; 
                    background:#009FC3; margin-top:20px; ">
                <p style=" margin-top:6px; margin-bottom:0; font-size: 30px; color:#6DA745;">
                    <a style="text-decoration: underline; color:#fff" target="_blank" href="{{ offer.public_url }}" >
                    {{ offer.title_formatted }}
                    </a>
                </p>
            </td>
        </tr>
        <!--info-->
        <tr>
            <td class="copy" valign="top"
                style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #6f6f6f; line-height: 22px; display:block; border-bottom: 1px dotted #ccc; padding-bottom:15px; ">
                <h3 style="margin-bottom:0px; color:#444; margin-top:30px;">Merchant:</h3>
                <p style=" margin-top:6px; margin-bottom:0;">
                    <a style="text-decoration: underline; color: #B5D334;" target="_blank" href="<?php echo base_url() ?>business/profile/<?= $deal->merchantId ?>" >
                    {{ offer.business.business_name.value }}
                    </a>       
                </p>
                <h3 style="margin-bottom:0px; color:#444; margin-top:30px;">Description:</h3>
                <p style=" margin-top:6px; margin-bottom:0;">{{ offer.description_formatted_html }}</p>
                <h3 style="margin-bottom:0px; color:#444; margin-top:30px;">Extended:</h3>
                <p style=" margin-top:6px; margin-bottom:0;">{{ offer.restrictions_formatted_html }}</p>
                <h3 style="margin-bottom:0px; color:#444; margin-top:30px;">Deal Ends:</h3>
                <p style=" margin-top:6px; margin-bottom:0;">
                    {{ offer.end_date|date:'%M %d,%Y - %h:%i %a' }}
                </p>
            </td>
        </tr>
        <!--price-->
        <tr>
            <td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #6f6f6f; 
                            line-height: 22px; display:block;  border-bottom: 1px dotted #ccc; 
                            padding-bottom:25px;">
                <h3 style="margin-bottom:0px; color:#444;">Ticket price:</h3>
                <p style=" margin-top:13px; margin-bottom:0; font-size:40px; color:#B5D334; font-weight:bold;">
                    ${{ offer.price_discount_formatted }}</p>
            </td>
        </tr>
    {{ endfor }}
    <!--Footer-->
    <tr>
        <td valign="top"
            style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #6f6f6f; line-height: 20px;">
            <p style="text-align:center; margin-top: 20px;">Need help? <a
                    style="text-decoration: underline; color: #B5D334;;" href="http://knotis.com/category/contact" target="_blank">Contact Us!</a>
            </p>
        </td>
    </tr> 
</table>
        </div>
</body>
</html>
