{% extends 'knotis/layout/master.html' %}
{% load thumbnail %}
{% load render_template_fragment %}
{% block title %}Knotis - Manage QR Code{% endblock title %}
{% block first %}{% endblock first %}
{% block header %}
{% render_fragment header %}
{% endblock header %}
{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      {% render_fragment nav_side %}
    </div>
    <div class="span10 content">
      <h2>Manage QR Code Scans</h2>
      <div class="relative closeinfo">
        <div class="message-confirm margin-general-25 radius-general ">QR Code url
          -> {{ BASE_URL }}/qrcode/{{ qrcode.id }}/</div>
        <div class="qrcode-manage"><a target="_blank" href="/qrcode/{{ qrcode.id }}/"><img
                                                                                         src="https://chart.googleapis.com/chart?chs=197x197&cht=qr&chl={{ qrcode_uri }}/&choe=UTF-8"
                                                                                         alt="QR code {{ business.name }}" title="QR code {{ business.name }}"/></a></div>
      </div>
      <div class="clean"></div>
      <form method="post">{% csrf_token %}
        <ul>
          <fieldset>
            <h3>Business Profile link</h3>
            <h4>Automatically send visitors to your Knotis Business Profile</h4>
            <label class="radio">
              <input id="id-business-profile-link" type="radio" value="profile" name="qrcode" {% if qrcode.qrcode_type == 'profile' %}checked{% endif %} /> Business Profile link</label>
          </fieldset>
          <fieldset>
            <h3>Link</h3>
            <h4>Configure an external link outside of Knotis. This link may be a
              different business profile, a special promo page, a video on YouTube or other custom URL
              you specify.</h4>
            <label class="radio">
              <input type="radio" name="qrcode"
                     value="link" {% if qrcode.qrcode_type == 'link' %}
                     checked{% endif %} /> Link
            </label>
            <input {% if qrcode.qrcode_type == 'link' %}value="{{ qrcode.uri }}"{% endif %}
                   placeholder="Enter the link – ie: http://www.google.com"
                   type="text" name="link_content">
          </fieldset>
          <fieldset>
            <h3>Video</h3>
            <label class="radio">
              <input type="radio" name="qrcode"
                     value="video" {% if qrcode.qrcode_type == 'video' %}
                     checked{% endif %} /> Video
            </label>
            <input {% if business.qrcode_type == 'video' %}value="{{ qrcode.uri }}"{% endif %}
                   placeholder="Enter the link to the video – ie: http://www.youtube.com"
                   type="text" name="video_content">
          </fieldset>
          {% if offers %}
          <fieldset>
            <h3>Offers</h3>
            <h4>Send visitors to one of your current Knotis Offers. Visitors will
              be sent directly to the offer page where they will find details and discover how to
              redeem a offer.</h4>
            {% for offer in offers %}
            <label class="radio">
              <input type="radio"
                     name="qrcode" {% if qrcode.qrcode_type == 'offer' and qrcode.uri == offer.public_url %}
                     checked{% endif %}
                     value="{{ offer.id }}"/> {% if offer.active %}[active]{% else %}[expired]{% endif %} {{ offer.title_formatted }}
            </label>
            {% endfor %}
          </fieldset>
          {% endif %}
          <input class="btn btn-primary" type="submit" name="saveQrcode" value="Set QR Link"/>
          {% if scans %}
          <fieldset>
            <h3><strong>History</strong></h3>
            {% for scan in scans %}
            <div>
              <div>{{ scan.uri }} ({{ scan.pub_date }})</div>
            </div>
            {% endfor%}
          </fieldset>
          {% endif %}
        </ul>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
{% block footer %}{% endblock footer %}
{% block last %}{% endblock last %}
