{% load render_template_fragment %}
<div class="mainContent">
    <div class='col-xs-12 text-center qrcodePath'>
        {% if is_individual %}
            <div class='connect-passport'>
                <h1>Press confirm<br> to recieve awesome discounts at local businesses!</h1>
                <form action="{{connect_url}}" method="POST">
                    {% csrf_token %}
                    <input class='btn btn-offers btn-lg btn-connect' type="submit" value="Confirm" />
                </form>
            </div>

        {% else %}
            <h1> Opps! </h1>
            <p>Switch from your business account to your consumer account to connnect. </p>
            <a class='no-deep' href='/identity/switcher/{{individual_identity.pk}}/'>Click Here to fix that.</a>
        {% endif %}

    </div>
</div>
