
{% extends 'knotis/layout/master_email.html' %}
{% load render_template_fragment %}

{% block header %}
    <h1 style="text-align: center;">
	<span style="color:#696969">
	    <span style="font-size:24px">Password reset confirmed.</span>
	</span>
    </h1>
{% endblock %}

{% block content %}
    <div style="text-align: center;">
	<span style="font-size:18px">
	    <span style="color:#808080">The password for&nbsp;<strong>{{ acount_name }}</strong> has been reset.</span>
	</span>
    </div>
{% endblock content %}

{% block action %}
    <a class="mcnButton " title="Login to my account" href="https://knotis.com/login" target="_self" style="font-weight: normal;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">Login to my account</a>
{% endblock %}

{% block help_text %}
    <em><a href="{{ cancel_link }}">Help!</a> I didn't request this.</em>
{% endblock %}

{% block text_content %}
You've gto yourself a new password.
The password for {{ account_name }} has been changed.

Click this link if you didn't request this: {{ cancel_link }}
{% endblock text_content %}
