
{% extends 'knotis/layout/master_email.html' %}
{% load render_template_fragment %}
{% block subject %}Knotis Password Reset{% endblock subject %}
{% block browser_link %}{{ browser_link }}{% endblock browser_link %}
{% block content %}
<h1>Forgot your password?<br />Let's get you a new one.</h1>
<p>You'll be resetting the password for the account<br /><b>{{ account_name }}</b></p>
<br />
<br />
<a class="button" href="{{ reset_link }}">Reset My Password</a>
<br />
<br />
<br />
{% endblock content %}
{% block text_content %}
Forgot your password? 
You'll be resetting the password for the account {{ account_name }}. 
Click the following link to reset your password: {{ reset_link }.
{% endblock %}
