
{% extends 'knotis/layout/master_email.html' %}
{% load render_template_fragment %}
{% block browser_link %}{{ browser_link }}{% endblock browser_link %}
{% if email_type == 'email' %}
{% block content %}
{% block subject %}Knotis Email Change{% endblock subject %}
<h1>You want to change your email, huh? Let's do it!</h1>
<p>You'll be resetting the email address for the account <b>{{ account_name }}</b>.</p>
<br />
<br />
<a class="button" href="{{ reset_link }}">Reset My Email Address</a>
<br />
<br />
<br />
{% endblock content %}
{% endif %}

{% if email_type == 'text' %}
{% block text_content %}
Click this link to reset the email address for the account {{ account_name }}: {{ reset_link }} 
{% endblock text_content %}
{% endif %}
