{% extends 'knotis/layout/master_email.html' %}
{% load render_template_fragment %}

{% if email_type == 'html' %}
    {% block header %}
	<h1 style="text-align: center;">
	    <span style="color:#696969">
		<span style="font-size:24px">Welcome! Please activate your account.</span>
	    </span>
	</h1>
    {% endblock %}    

    {% block browser_link %}{{ browser_link }}{% endblock browser_link %}

    {% block content %}
	<div style="text-align: center;">
	    <span style="font-size:18px">
		<span style="color:#808080">Click the button below to activate your account.</span>
	    </span>
	</div>
    {% endblock content %}

    {% block action %}
	<a class="mcnButton " title="Activate my account" href="{{ activation_link }}" target="_self" style="font-weight: normal;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">Activate my account</a>
    {% endblock %}

    {% block help_text %}
	<em><a href="http://www.knotis.com/support">Help!</a> I didn't request this.</em>
    {% endblock %}

{% endif %}

{% if email_type == 'text' %}
    {% block text_content %}
        Welcome to Knotis! We're glad you are here.
        Follow the url below to activate your account:
        {{ activation_link }}
    {% endblock text_content %}
{% endif %}
