
{% extends 'knotis/layout/master_email.html' %}
{% load render_template_fragment %}
{% block subject %}Knotis Password Reset Confirmation{% endblock subject %}
{% block browser_link %}{{ browser_link }}{% endblock browser_link %}
{% block content %}
<h1>You've got yourself a new password.</h1>
<p>The password for <b>{{ account_name }}</b> has been changed.</p>
<br />
<br />
<a class="button" href="{{ cancel_link }}">Help I Didn't Request This</a>
<br />
<br />
<br />
{% endblock content %}
{% block text_content %}
You've gto yourself a new password.
The password for {{ account_name }} has been changed.

Click this link if you didn't request this: {{ cancel_link }}
{% endblock text_content %}
