{% extends 'knotis/layout/master_email.html' %}
{% load render_template_fragment %}
{% block subject %}Knotis Password Reset Confirmation{% endblock subject %}

{% block header %}
    <h1 style="text-align: center;">
	<span style="color:#696969">
	    <span style="font-size:24px">Password reset confirmed.</span>
	</span>
    </h1>
{% endblock %} 

{% block content %}
    <div style="text-align: center;">
	<span style="font-size:18px">
	    <span style="color:#808080">The password for&nbsp;<strong>{{ account_name }}</strong> has been reset.</span>
	</span>
    </div>
    
{% endblock content %}

{% block help_text %}
    <em><a href="http://www.knotis.com/support">Help!</a> I didn't request this.</em>
{% endblock %}
