<form action="/auth/forgot/" role='form' id="id-forgot-form" method="post">
    <div class="form-group col-sm-12 forgotPassword">
	<p>Enter your email address to reset your password.</p>
	<input name="{{ form.email.html_name }}" maxlength="254" type="text" placeholder="you@example.com" class="form-control textinput textInput" id="email-input" value="{{ form.email.value|default_if_none:'' }}"> 
    </div>
    <div class="buttonHolder modal-footer forgotPassword">
	<input type="submit" name="forgot" value="Continue" class="btn btn-primary btn btn-primary" id="submit-id-forgot">
    </div>
</form>
