<form action="/login/" id="id-login-form" method="post">{% csrf_token %}
    <div class="singleAuth">
        <div class="authInputs">
            <input id="auth_username" name="{{ form.username.html_name }}" value="{{ form.username.value|default_if_none:'' }}" type="email" class="username" placeholder="Your E-mail"/>
            <input id="auth_password" name="{{ form.password.html_name }}" type="password" class="password" placeholder="Your Password"/>
        </div>

        <p class="forgotLink"><a href="">Forgot Password?</a></p>

        <div class="authButtons">
            <a href="/signup/" class="authBtn modal-link" data-modal-id="adminModal">Sign Up</a>
            <input name="login" type="submit" class="authBtn login" value="Log In" />
        </div>
        <p class="tos-text">I agree to the <a href="#">Terms Of Service</a></p>
    </div> 
</form>
