{% if is_reset_valid %}
<form action="/auth/reset/{{ user_id }}/{{ password_reset_key }}/" id="id-reset-form" class='form-horizontal' method="post">{% csrf_token %}
    <div class='col-sm-8 col-sm-offset-2'>
	<div class="form-group">
	    <label for='password-input-1' class='col-sm-5 control-label'>New Password</label>
	    <div class='col-sm-5'>
		<input name="{{ form.new_password1.html_name }}" type="password" class="form-control textinput textInput" id="password-input-1">
	    </div>
	</div>

	<div class="form-group">
	    <label for='password-input-2' class='col-sm-5 control-label'>Confirm Password</label>
	    <div class='col-sm-5'>
		<input type="password" id="password-input-2" name="{{ form.new_password2.html_name }}" class="form-control textinput textInput" >
	    </div> 
	</div>

	<div class="auth-info text-center form-group">
	    <p>Set a new password and we&rsquo;ll sign you into your account.</p>
	</div>

	<div class='text-center'>
	    <div class="buttonHolder">
		<input type="submit" name="signup" value="Change Password" class="btn btn-offers" id="submit-id-change-password"> 
	    </div>
	</div>
    </div>
</form>
{% else %}
<p>
  This password reset request {% if is_expired %}has expired{% else %}is invalid{% endif %}.
</p>
<p>
  If you are still having difficulties accessing your account <a id="id-forgot-link" href="/auth/forgot/">click here</a> to request another password change.
</p>
{% endif %}
