{% load render_template_fragment %}
<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">knotis</a>
      <div class="nav-collapse collapse">
	<div class="search-bar span8">
	  {% render_fragment search_bar %}
	</div>
	<ul class="nav pull-right">
	  <li><a href="#">About</a></li>
      {% if user.is_authenticated %}
      {% render_fragment identity_switcher %}
      <li><a href="/auth/logout/">Logout</a></li>
      {% else %}
	  <li><a id="sign-up" class="modal-link" href="/auth/signup/">Sign Up</a></li>
	  <li><a id="login" class="modal-link" href="/auth/login/">Login</a></li>
      {% endif %}
	</ul>
      </div>
    </div>
  </div>
</div>
