{% extends 'layout/master.html' %}
{% load render_template_fragment %}
{% block title %}{% endblock title %}
{% block first %}{% endblock first %}
{% block header %}
  {% render_fragment header %}
  {% render_fragment nav_top %}
{% endblock header %}
{% block content %}
<div class="container">
  <div class="row-fluid">
    <div class="span2">
      {% render_fragment nav_side %}
    </div>
    <div class="span10">
      {% render_fragment offer_grid %}
    </div>
  </div>
</div>
{% endblock content %}
{% block footer %}{% endblock footer %}
{% block last %}{% endblock last %}
