.modal-header.auth-header {
    height: 96px;
    text-align: center;
    padding: 10px;
    background-color: #0db09e;
    color: #fff;
    border: none;
}

.modal-header.auth-header button.close {
    color: #fff;
    font-size: 2em;
    opacity: 1.0;
    filter: alpha(opacity=100);
}
