.modal-header.auth-header {
    height: 96px;
    text-align: center;
    padding: 10px;
    background-color: #0db09e;
    color: #fff;
    border: none;
}

.modal-header.auth-header button.close {
    color: #fff;
    font-size: 2em;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.modal-footer.buttonHolder {
    background-color: inherit;
    padding: 14px 15px 0 0;
    text-align: left;
}

.modal-footer.buttonHolder > aside {
    margin-left: 2px;
}

.modal-footer.buttonHolder > aside > a {
    color: #26aae1;
}

.modal-body form {
    margin: 0;
}

form div.controls > input {
    width: 80%;
}

form div.auth-info {
    padding: 28px 0 0 0;
    margin: 0;
}

form div.auth-info > p {
    text-align: center;
    font-size: 1.8em;
    color: #808184;
}

