{% extends 'master.html' %}

{% block title %}Knotis - Contact{% endblock title %}

{% block content %}
<div id="content" class="back-offers">
    <div class="curve">
        <div class="wrapper clear-fix">
            <div class="box-offers box-border left">
                <h3 class="margin-general"><strong>Contact Knotis</strong></h3>
                <p class="txt-size margin-general">Get in touch using the contact form below or email us directly at <a href="mailto:support@knotis.com" title="Email support@knotis.com">support@knotis.com</a>. If you are using the contact form, please make sure to select the appropriate subject from the drop-down to ensure your question is answered quickly and accurately.</p>
                {% if feedback %}<div class="message-confirm margin-general message-info radius-general txt-size">{{ feedback }}<div class="clean"></div></div>{% endif %}
                <form method="post" class="contact">
                    <ul>
                        <li>
                            <label>
                                <input type="text" class="radius-general" name="{{ contact_form.name.html_name }}" value="{% firstof contact_form.name.value 'Your name'%}" onFocus="if(this.value=='Your name')this.value='';" onBlur="if(this.value=='')this.value='Your name';">
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="text" class="radius-general" name="{{ contact_form.email.html_name }}" value="{% firstof contact_form.email.value 'Your email' %}" onFocus="if(this.value=='Your email')this.value='';" onBlur="if(this.value=='')this.value='Your email';">
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="text" class="radius-general" name="{{ contact_form.business.html_name }}" value="{% firstof contact_form.business.value 'Business Name (optional)' %}" onFocus="if(this.value=='Business Name (optional)')this.value='';" onBlur="if(this.value=='')this.value='Business Name (optional)';">
                            </label>
                        </li>
                        <li class="margin-general">
                            <label>
                                <select name="category">
                                    <option>Select a topic</option>
                                    <option>Ask a Question</option>
                                    <option>Report a problem</option>
                                    <option>Feedback</option>
                                    <option>Request my city</option>
                                </select>
                            </label>
                        </li>
                        <li>
                            <textarea class="radius-general txt-size" name="body"></textarea>
                        </li>
                        <li>
                            <label>
                                <input class="button radius-general" type="submit" value="Send message">
                            </label>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="box-border colum-width right">
                <div class="padding-contact">
                <h3><strong>Business Owners</strong></h3>
                <p class="txt-size margin-general-25">Please visit our merchant center for help documentation and / or frequently asked questions. Otherwise, feel free to email us at <a href="mailto:support@knotis.com">support@knotis.com</a></p>
                <h3><strong>Press Inquiries</strong></h3>
                <p class="txt-size">Please send press inquiries to <a href="mailto:press@knotis.com"> press@knotis.com</a></p>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock content %}
