{% extends 'master.html' %}

{% block title %}Knotis - Dashboard{% endblock title %}

{% load thumbnail %}

{% block content %}
<div id="content" class="back-offers">
    <div class="curve">
        <div class="wrapper clear-fix relative">
            {% include 'account_notifications.html' %}
            <div class="box-offers box-border left">
                <div class="clear-fix margin-general">
                    <ul class="filtering-bar-dash clear-fix">
                        <li class="txt-size"><a class="first active" href="#">Offers</a></li>
                        <li class="txt-size"><a class="first" href="/dashboard/qrcodes/">QR Code Scans</a></li>
                        <li class="txt-size"><a class="coming-soon" href="#">Happy hour</a></li>
                        <li class="txt-size"><a class="coming-soon" href="#">Special event</a></li>
                    </ul>
                </div>
                <div class="offer_list_backend">
                    <div class="premiumoffers_filter margin-up">
                        <ul class="clear-fix">
                            <li><a class="active graphic-buttom" href="#" data-type="monthly">Monthly</a></li>
                            <li><a href="#" class="graphic-buttom" data-type="weekly">Weekly</a></li>
                            <li><a href="#" class="graphic-buttom" data-type="daily">Daily</a></li>
                        </ul>
                    </div>
                    <div class="clear-fix" id="graphic-offers">
                        {{ highchart }}
                    </div>
                    <ul class="information-dash ">
                        <li class="sold clear-fix radius-general">
                            <span class="left"><strong>Sold:</strong></span>
                            <span class="right second">{{ total_purchases }}</span>
                        </li>
                        <li class="revenue radius-general clear-fix">
                            <span class="left"><strong>Revenue:</strong></span>
                            <span class="right second">${{ total_revenue }}</span>
                        </li>
                    </ul>
                    {% if offer_purchase_map %}
                    {% for offer, purchases in offer_purchase_map.items %}
                    <div class="offers-div line-bottom clear-fix">
                        <div class="not-offers clear-fix">
                            <div class="offers-image radius-general left relative">
                                <div class="category food"></div>
                                <img alt=""
                                    {% thumbnail offer.image.image '72x72' as image %}
                                    src="{{ image.url }}"
                                    {% empty %}
                                    src="{{ STATIC_URL }}images/layouts/knotis-offer-image.jpg" width="72" height="72"
                                    {% endthumbnail %} />
                            </div>
                            <div class="offers-txt left">
                                <h5><strong>{{ offer.title_formatted }}</strong></h5>
                                <ul class="date-dash clear-fix">
                                    <li>{{ offer.start_date }}</li>
                                    <li>{{ offer.end_date }}</li>
                                </ul>
                                <a class="txt-size margin-general clear-fix business"
                                   alt="{{ offer.business.business_name.value }}"
                                   title="{{ offer.business.business_name.value }}" target="_blank"
                                   href="/{{ offer.business.backend_name }}/">{{ offer.business.business_name.value }}</a>
                            </div>
                        </div>
                        <div class="not-offers left select-sort">
                		    <label for="sortby" class="left-side2 txt-size">
                			  Sort By:
                		    </label>
                			<div class="right">
                        	  <select id="sortby">
                        		<option value="0" >Username</option>
                        		<option value="1" >Ticket #</option>
                			  </select>
                        	</div>
                        </div>
                        {% if purchases %}
                	    <span class="not-offers right">
                	      <a id="print-offers" href="/offers/print_unredeemed/" target="_blank" > 
                		    Print Unredeemed Offers <img class="print" src="{{ STATIC_URL }}images/layouts/print.png" />
                		  </a>
                		</span>
                        {% for purchase in purchases %}
                        <div class="offer-div clear-fix clean reedem-code radius-general ">
                            <ul class="left txt-size">
                                <li><strong>User:</strong> {{ purchase.user.username }}</li>
                                <li><strong>Code:</strong> #{{ purchase.redemption_code }}</li>
                                <li><strong>Purchase Date:</strong> {{ purchase.pub_date|date:'m/d/Y' }}</li>
                              </ul>
                            <ul class="left txt-size" >
                                <li><strong>Stock:</strong> {{ purchase.quantity }}</li>
                                <li><strong>Paid:</strong> ${{ purchase.value_formatted }}</li>
                                <li class="redeem"><strong>Redeemed:</strong> {{ purchase.redemptions }}</li>
                            </ul>
                            <form class="backend-setting" method="post">{% csrf_token %}
                                <div class="offers-action offers-action-dash radius-general right">
                                    {% if purchase.redemptions != purchase.quantity %}
                                    <input type="submit" class="button radius-general right"
                                               value="Redeem" name="redeem" />
                                    <label class="number-redeem right">
                                        <select name="quantity" >
                                            {% for n in purchase.unredeemed_values %}
                                            <option value="{{forloop.counter}}">{{ forloop.counter }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                    <input type="hidden" value="{{ purchase.id }}"
                                           name="transaction_id"/>
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="message-confirm message-info radius-general txt-size">No offers yet.</p>';
                    {% endif%}
                </div>
            </div>
            {% include 'dashboard_menu.html' with current_page='dashboard' %}
        </div>
    </div>
</div>
<script type="text/javascript" >
	$(function(){
	  var sortOffers = function($offers, index) {
	      var $rows = $('.offer-div',$offers);
	      $rows.sort(function(a, b){
	          var keyA = $.trim($('ul li:eq(' + index + ')',a).remove('strong').text().toLowerCase());
	          var keyB = $.trim($('ul li:eq(' + index + ')',b).remove('strong').text().toLowerCase());
	          if (keyA === keyB) { return 0; }
	          return (keyA > keyB) ? 1 : -1;

	      });
	      $.each($rows, function(index, row){
	        $offers.append(row);

	      });

	  };

	  var $offers = $('.offers-div').remove('.not-offers');
	  $offers.each(function(){
	      $this = $(this);
          sortOffers($(this), 0);
          $this.find('#sortby').change(function(event) {
    	      event.preventDefault();
    	  	  sortOffers($this, $(this).val());

    	  });
    	  
	  });
	  
	});
</script>
{% endblock content%}
