{% extends 'master.html' %}

{% block title %}Knotis - Dashboard{% endblock title %}

{% load thumbnail %}

{% block content %}
<div id="content" class="back-offers">
    <div class="curve">
        <div class="wrapper clear-fix relative">
            {% include 'account_notifications.html' %}
            <div class="box-offers box-border left">
                <div class="clear-fix margin-general">
                    <ul class="filtering-bar-dash clear-fix">
                        <li class="txt-size"><a class="first" href="/dashboard/">Offers</a></li>
                        <li class="txt-size"><a class="first active" href="/dashboard/qrcodes/">Qrcode Scans</a></li>
                        <li class="txt-size"><a class="coming-soon" href="#">Happy hour</a></li>
                        <li class="txt-size"><a class="coming-soon" href="#">Special event</a></li>
                    </ul>
                </div>
                <div class="offer_list_backend">
                    <div class="premiumoffers_filter margin-up">
                        <ul class="clear-fix">
                            <li><a class="active qrcode-buttom" href="#" data-type="monthly">Monthly</a></li>
                            <li><a href="#" class="qrcode-buttom" data-type="weekly">Weekly</a></li>
                            <li><a href="#" class="qrcode-buttom" data-type="daily">Daily</a></li>
                        </ul>
                    </div>
                    <div class="clear-fix" id="graphic-offers">
                        {{ highchart }}
                    </div>
                    <h3 class="margin-general"><strong>History</strong></h3>
                    {% for scan in scans %}
                    <div class="relative closeinfo">
                        <div class="message-confirm margin-general-25 radius-general ">{{ scan.uri }} ({{ scan.pub_date}})</div>
                    </div>
                    <div class="clean"></div>
                    {% endfor %}
                </div>
            </div>
            {% include 'dashboard_menu.html' with current_page='dashboard' %}
        </div>
    </div>
</div>
{% endblock content %}
