<div class="column-left-backend right clear-fix">
    {% if not user.is_staff %}
    {% if user_profile.is_business_owner %}
    <div class="box-border colum-width-menu margin-general right no-padding">
        <ul class="list-backend">
            <li class="relative">
                <a class=" add radius-general" href="/offers/create/">Create New Offer</a>
                {% if current_page == 'create_offer' %}<div class="arrow arrow-Edu"></div>{% endif %}
            </li>
        </ul>
    </div>
    <div class="box-border colum-width-menu margin-general  right no-padding">
        <ul class="list-backend">
            <li class="relative">
                <a class=" add-code radius-general" href="/qrcode/manage/">Manage QR Code</a>
                {% if current_page == 'manage_qrcode' %}<div class="arrow arrow-Tra"></div>{% endif %}
            </li>
        </ul>
    </div>
        <div class="box-border colum-width-menu margin-general-25 right no-padding">
        <ul class="list-backend">
            <li class="relative">
                <a class="add-ticket radius-general" href="/business/services/">Manage Service Subscriptions</a>
                {% if current_page == 'manage_services' %}<div class="arrow arrow-Hea"></div>{% endif %}
            </li>
        </ul>
    </div>
    {% endif %}
    <div class="box-border colum-width-menu margin-general-25 right no-padding">
        <ul class="list-backend">
            <li class="relative gradient-gray first">
                <h3 class="title-backend"><strong>My knotis</strong></h3>
            </li>
            {% if user_profile.is_business_owner %}
            <li class="relative">
                <a class="dash{% if current_page == 'dashboard' %}-active active{% endif %} first" href="/dashboard/">Dashboard</a>
                {% if current_page == 'dashboard' %}<div class="arrow"></div>{% endif %}
            </li>
            {% endif %}
            <li class="relative">
                <a class="offers02{% if current_page == 'offers_dashboard' %}-active active{% endif %}" href="/offers/dashboard/">Offers</a>
                {% if current_page == 'offers_dashboard' %}<div class="arrow"></div>{% endif %}
            </li>
            <li class="relative">
				<a class="happy{% if current_page == 'happy_hour' %}-active active{% endif %}" href="">Happy Hour</a>
                {% if current_page == 'happy_hour_dashboard' %}<div class="arrow"></div>{% endif %}
            </li>
            <li class="relative">
				<a class="events{% if current_page == 'events' %}-active active{% endif %} last" href="">Special Events</a>
                {% if current_page == 'events_dashboard' %}<div class="arrow"></div>{% endif %}
            </li>
        </ul>
    </div>
    <div class="box-border colum-width-menu margin-general-25 right no-padding">
        <ul class="list-backend">
            <li class="relative gradient-gray first">
                <h3 class="title-backend"><strong>Settings</strong></h3>
            </li>
            <li class="relative">
                <a class="profile{% if current_page == 'user_profile' %}-active active{% endif %} first"
                   href="/profile/">My profile</a>
                {% if current_page == 'user_profile' %}<div class="arrow"></div>{% endif %}
            </li>
            <li class="relative">
                <a class="subscription{% if current_page == 'subscriptions' %}-active active{% endif %}"
                   href="/subscriptions/">My Subscriptions</a>
                {% if current_page == 'subscriptions' %}<div class="arrow"></div>{% endif %}
            </li>
            {% if user_profile.is_business_owner %}
            <li class="relative">
                <a class="last business{% if current_page == 'business_profile' %}-active active{% endif %}"
                   href="/business/profile/">Business profile</a>
                {% if current_page == 'business_profile' %}<div class="arrow"></div>{% endif %}
            </li>
            {% endif %}
        </ul>
    </div>
    {% else %}
    <div class="box-border colum-width-menu right no-padding">
        <ul class="list-backend">
            <li class="relative gradient-gray first">
                <h3 class="title-backend"><strong>Admin Setting</strong></h3>
            </li>
            <li class="relative">
                <a class="dash first"
                   href="dynamic_pages">Dynamic pages</a>
            </li>
            <li class="relative">
                <a class="last premium"
                   href="/premium_offers">All Offers</a>
            </li>
            <li class="relative">
                <a class="last cities"
                   href="/locations/">Cities</a>
            </li>
            <li class="relative">
                <a class="last profile"
                   href="/users/">Users</a>
            </li>
        </ul>
    </div>
    {% endif %}
    {% if apps %}
    <div class="box-border colum-width-menu margin-general-25 right no-padding">
        <ul class="list-backend">
            <li class="relative gradient-gray first">
                <h3 class="title-backend"><strong>Apps</strong></h3>
            </li>
            {% for app in apps %}
            <li class="relative">
                <a class="profile{% if current_app == app.backend_name %}-active active{% endif %} first"
                   href="/profile/">{{ app.name }}</a>
                {% if current_app == app.backend_name %}<div class="arrow"></div>{% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
