{% extends 'master.html' %}

{% block title %}Knotis.com - Home{% endblock title %}

{% load thumbnail %}
{% block content %} 
<div class="header-bottom">
    <div class="curve curve01 curve02">
        <div class="wrapper back-curve clear-fix" >
            <div class="business-search-home">
                <div class="column-map right">
                    <form id="search_form" method="get" action="/offers/" class="principal">
                        <ul class="clear-fix">
                            <li class="radius-general">
                                <div style="display: none;" id="suggestions" class="suggestionsBox">
                                    <div id="autoSuggestionsList" class="suggestionList">
                                        &nbsp;
                                    </div>
                                </div>
                                <input type="text" value="{{ query }}" placeholder="search local businesses" class="search radius-general" id="business-search">
                            </li>
                            <li class="radius-general">
                                <a href="" name="link" class="button radius-general txt-size link-search">Search</a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="clear-fix">&nbsp;</div>
            <div id="content" class="content-home" data-href="/businesses/as_rows/" data-page="1"{% if query %} data-query="{{ query }}"{% endif %} >
                <a id="scroll-to-top" href="#" class="button-lead txt-size gradient-gray txt-center radius-general btn-grey">
                    <span>Scroll To Top</span>
                </a>
                {{ business_rows }}
            </div>
            <div class="more-results">
                <a class="button-lead txt-size clear-fix gradient-gray txt-center radius-general btn-grey load_more_results" href="#" >
                    <span>Load more results</span>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
