{% extends 'master.html' %}

{% block title %}Knotis - Manage Service Subscriptions{% endblock title %}

{% block content %}
<div id="content" class="back-offers ">
    <div class="curve">
        <div class="wrapper clear-fix relative">
            {% include 'account_notifications.html' %}
            <div class="box-offers box-border left">
                <h2 class="backend"><strong>Manage Service Subscriptions</strong></h2>
                {% include 'feedback.html' with feedback=feedback %}
                <ul class="information-dash margin-general-25 ">
                    <li class="revenue radius-general clear-fix">
                        <span class="left"><strong>Monthly Unlimited Service:</strong></span>
                        <span class="right second"> {% if user_profile.account_type == AccountTypes.BUSINESS_MONTHLY %}Yes{% else %}No{% endif %}</span>
                    </li>
                </ul>
                {% if user_profile.account_type != AccountTypes.BUSINESS_MONTHLY %}
                <form action="{{ settings.PAYPAL_URL }}" method="post">
                    <fieldset>
                        <h3 class="margin-general"><strong>Change Service</strong></h3>
                        <ul class="pass-user">
                            <li class="left">
                                <select name="quantity_1">
                                    <option value="1">Upgrade to Unlimited!</option>
                                </select>
                            </li>
                            <li class="base-price left">
                                ${{ subscription_price }}
                            </li>
                            <div class="clean"></div>
                            <li class="clear-fix">
                                {{ paypal_button }}
                            </li>
                        </ul>
                    </fieldset>
                </form>
                {% endif %}
            </div>
            {% include 'dashboard_menu.html' with current_page='manage_tickets' %}
        </div>
    </div>
</div>
{% endblock content %}
