<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
    <title>{% block title %}Knotis.com{% endblock %}</title>
    {% include 'meta.html' %}
    {% include 'styles.html' with maps=maps gallery=gallery do_upload=do_upload graphics=graphics %}
    {% include 'render_scripts.html'  with maps=maps gallery=gallery do_upload=do_upload graphics=graphics scripts=render_scripts %}
</head>
<body>
    {% include 'header.html' with cities=cities %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'footer.html' %}
    {% include 'scripts.html' with maps=maps gallery=gallery do_upload=do_upload graphics=graphics scripts=scripts %}
    {% if request.is_mobile %}<div class="hide" id="is-mobile" data-value="true" ></div>{% endif %}
</body>
</html>
