{% load thumbnail %}
<div class="offer_list_backend">
    {% if offers %}
    {% for offer in offers %}
    <div class="line-bottom clear-fix">
        <div class="offers-image radius-general left relative">
            <div class="ribbon-backend{% if not offer.available %}-inactive{% endif %}" ></div>
            <div class="category food"></div>
            <img alt=""
                 {% thumbnail offer.image.image '72x72' crop=offer.image.crop as image %}
                 src="{{ image.url }}"
                 {% empty %}
                 src="{{ STATIC_URL }}/images/layouts/knotis-offer-image.jpg"
                 {% endthumbnail %}
                 class="image-knotis-thumb"/>
        </div>
        <div class="offers-txt left">
            <h5><strong>{{ offer.title_formatted }}</strong></h5>
            <ul class="date-dash clear-fix">
                <li>{{ offer.start_date|date:'N j, Y - f a' }}</li>
                <li>{{ offer.end_date|date:'N j, Y - f a' }}</li>
            </ul>
            <a class="txt-size margin-general clear-fix business" alt="{{ offer.business.business_name.value }}"
               title="{{ offer.business.business_name.value }}" target="_blank"
               href="/{{ offer.business.backend_name }}/" >{{ offer.business.business_name.value }}</a>
            <p class="txt-size margin-general">{{ offer.description_100 }}</p>
            {% if not business %}
            <ul class="clear-fix txt-size date-offers">
                <li><strong>Purchased on: </strong>{{ offer.purchase_date }}</li>
                <li><strong>Offers:</strong> {{ offer.stock }}</li>
                <li><strong>Redeemed:</strong> {{ offer.redeemed }}</li>
            </ul>
            {% endif %}
        </div>
        <div class="offers-action radius-general right">
            {% if business %}
            {% if business != offer.business %}
            <a class="print button margin-general"
               href="/offers/print/{{ offer.id }}/" target="_blank">Print</a>
            {% else %}
            {% if offer.status != 'complete' %}
            <a class="print button margin-general"
               href="/offers/update/{{ offer.id }}/">Edit</a>
            {% endif %}
            <div class="clear-fix ">
                <a class="print button margin-general" target="_blank"
                   href="/offer/{{ offer.id }}/">View Offer</a>
            </div>
            {% if offer.status == 'current' %}
            <div class="clear-fix margin-general">
                <a class="{% if not offer.active %}play{% else %}pause{% endif %} relative playstop"
                   data-active="{% if offer.active %}true{% else %}false{% endif %}"
                   data-id="{{ offer.id }}"></a>
            </div>
            {% endif %}
            {% if offer.status == 'complete' %}
            <div class="clear-fix ">
                <a class="print button margin-general" href="/offers/rerun/{{ offer.id }}">Re-run Offer</a>
            </div>
            <div class="clear-fix ">
                <a id="softDeleteClick" class="print button margin-general" target="_blank" 
                   data-id="{{ offer.id }}">Delete Offer</a>
            </div>
            {% endif %}
            {% endif %}
            {% else %}
            {% if offer.stock %}
            <a class="print button margin-general"
               href="/offer/print/{{ offer.id }}" target="_blank">Print</a>
            {% endif %}
            <a class="print button margin-general"
               href="/offer/{{ offer.id }}" target="_blank">View Offer</a>
            {% endif%}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="message-confirm message-info radius-general txt-size">No offers here</p>
    {% endif %}
</div>
