{% load thumbnail %}
{% if offers %}
<ul class="slider-rounded">
    {% for offer in offers %}
    <li class="slider box-offers box-border">
        <div class="ribbon absolute"></div>
        <div class="clear-fix">
            <div class="offers-image radius-general left relative">
                <div class="category cat-{{ offer.category.name_short }}"></div>
                <a class="clear-fix  txt-size "
                   href="/offer/{{ offer.id }}/">
                    <img alt=""
                         {% thumbnail offer.image.image '72x72' as image %}
                         src="{{ image.url }}"
                         {% empty %}
                         src="{{ STATIC_URL }}images/layouts/knotis-offer-image.jpg"
                         {% endthumbnail %}
                         class="image-knotis-thumb"/>
                </a>
            </div>
            <div class="offers-txt left">
                <h5><strong><a href="/offer/{{ offer.id }}/">
                    {{ offer.title_formatted }}
                </a></strong></h5>
                <a class="txt-size margin-general clear-fix business-link"
                   href="/{{ offer.business.backend_name }}/"
                   target="_blank">{{ offer.business.business_name.value }}</a>
                <p class="txt-size txt-premium">{{ offer.description_100 }}</p>
            </div>
            <div class="offers-action radius-general right">
                <div class="offers-action-top  relative">
                    <div class="arrow-small absolute"></div>
                    <p class="txt-center">savings</p>
                    <em class="txt-center txt-white clear-fix">${{ offer.savings }}</em>
                </div>
                <a class="clear-fix txt-center txt-size gradient-gray"
                   href="/offer/{{ offer.id }}/">View Offer</a>

            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% if offers|length > 1 %}
<div class="paginate">
    <ul>
        <li class="knotis-slider-left"></li>
        {% for offer in offers %}
        <li class="knotis-slider-button"></li>
        {% endfor %}
        <li class="knotis-slider-right"></li>
    </ul>
</div>
{% endif %}
{% endif %}
