{% extends 'master.html' %}

{% block title %}Knotis - Offers{% endblock title %}

{% block content %}
<div id="content" class="back-offers">
    <div class="curve">
        <div class="wrapper clear-fix relative">
            {% include 'account_notifications.html' %}
            <div class="box-offers box-border left">
                <div class="clear-fix relative">
                    <ul class="filtering-bar filtering-bar-dash clear-fix  offerlist_backend">
                        {% if identity.identity_type == IdentityTypes.BUSINESS %}
                        <li class="txt-size"><a id="createdOffersA"  class="first active" href="#" data-filter="created">Created Offers</a></li>
                        <li class="txt-size"><a id="currentOffersA" href="#" data-filter="current">Current Offers</a></li>
                        <li class="txt-size"><a id="completedOffersA" href="#" data-filter="complete">Completed Offers</a></li>
                        {% endif %}
                        <li class="txt-size"><a  href="#" class="{% if identity.identity_type != IdentityTypes.BUSINESS %}first active{% endif %}" data-filter="purchased">Purchased</a></li>
                        <li class="txt-size"><a href="#" data-filter="redeemed">Used</a></li>
                    </ul>
                    <div id="ajaxBusy" class="absolute"><img src="{{ STATIC_URL }}/images/ajaxloading.gif" title="Loading" alt="loading"/> </div>
                </div>
                <div class="offer_list_backend">
                    {% include 'offers_list_manage.html' with offers=offers business=business %}
                </div>
            </div>
            {% include 'dashboard_menu.html' with current_page='offers_dashboard' %}
        </div>
    </div>
</div>
{% endblock content %}
