{% extends 'master.html' %}

{% block title %}Knotis - Merchant Terms of Use{% endblock title %}

{% block content %}
<div id="content" class="back-offers">
    <div class="curve">
    	<div class="wrapper clear-fix">
        	<div class="box-offers box-border left">
            	<div class="txt-size margin-general static-content">
            	    <h3>Merchant Terms of Use</h3>
                    <p>By participating in this self-promotion program you (hereinafter referred to as "you" or "Merchant" or "advertiser") acknowledge that you have read, understand and accept the rules and regulations outlined below. Knotis INC and/or knotis.com reserves the right to update and change these rules from time to time.</p>
        			<p>Knotis INC and/or knotis.com  makes no representations or warranties and there are no conditions of any kind, express or implied, statutory or otherwise, with respect to this self- serve program or the Vouchers offered through this self-promotion advertising program, including without limitation:</p>
        			<p>Implied warranties of merchantability, fitness for a particular purpose, title and non-infringement; any implied warranty arising from course of offering or usage of trade; any obligation, liability, right, claim or remedy in tort, whether or not arising from the negligence of Knotis INC and/or knotis.com.</p>
        			<p>This self-promotion program is open to any merchant that has registered an account with Knotis INC and/or knotis.com and has provided  payment (if required) and certain information as required by the registration form.</p>
        			<p>Knotis INC and/or knotis.com  may, at its sole discretion and without notice, terminate the right of any participant in this self-promotion program or user of the website to participate in this self-promotion program or use the website.</p>
        			<p>This self-promotion program is governed by and construed in accordance with the laws of the State of Washington. You agree to comply with all applicable laws, statutes and regulations regarding participation in this self-promotion advertising program and use of the website.</p>
        			<p>You and Knotis INC and/or knotis.com each have the right to terminate each voucher campaign for any or no reason at any time during this self-promotion program process or during the campaign. To the extent such termination is made by Knotis INC and/or knotis.com without cause, Knotis INC and/or knotis.com will provide the Merchant with a pro-rata refund, less any fees.</p>
        			<h3>How the knotis Self-promotion Program Works</h3>
        			<p>Merchants may create a promotion to be displayed on knotis.com  in accordance with Knotis INC and/or knotis.com’s platform and mobile app(s) (free accounts do not get promoted through knotis.com’s platform and/or mobile app(s)).</p>
        			<p>The promotion will be published on knotis.com and its other marketing channels, including but not limited to daily emails and mobile platform(s). Knotis INC and/or knotis.com will offer the Vouchers for sale and cease publishing the Vouchers once it has reached the maximum number proposed by the Merchant. Once a Voucher is delivered to the purchaser, the Merchant shall be solely responsible for all customer service in connection with the Voucher and for supplying all goods and services specified in the Voucher, including refunds.</p>
        			<p>Knotis INC and/or knotis.com reserves the right, at its sole discretion and without notice, to extend, terminate or modify this self-promotion program at its sole discretion, including but not limited to in the event of unforeseen technical difficulties that alter the proper functioning of the self-promotion program. Voucher campaigns may be placed online 24 hours per day on knotis.com  (with the exception of technical difficulties, regularly scheduled maintenance and/or forced major events). It is your responsibility to monitor the outcome and status of your voucher campaigns on knotis.com.</p>
        			<p>During and after this self-promotion voucher campaign, you may receive emails or other messages confirming the number of vouchers that you have sold. These communications are for informational purposes only. Their transmission or omission do not constitute any change in the status of your campaign.</p>
        			<h3>Payment</h3>
        			<p>Knotis INC and/or knotis.com will collect the redemption amount for each Voucher for which a purchaser has fully paid. Knotis INC and/or knotis.com will then forward an amount of the then-collected Remittance Amount Total to Merchant, less any merchant and processing fees.</p>
        			<h3>Miscellaneous</h3>
        			<p>All information collected in connection with this self-promotion program shall be subject to the <a href="/privacy/">Privacy Policy</a> set forth on knotis.com and incorporated herein.</p>
        			<p>The User Agreement set forth on knotis.com is incorporated herein.</p>
				</div>
        	</div>
        	<div class="box-border colum-width right">
            	<div class="padding-contact">
            		<h3><strong>Business Owners</strong></h3>
            		<p class="txt-size margin-general-25">
						Please visit our merchant center for help documentation and / or frequently asked questions. Otherwise, feel free to email us at <a href="mailto:support@knotis.com">support@knotis.com</a>
					</p>
					<h3><strong>Press Inquiries</strong></h3>
					<p class="txt-size">Please send press inquiries to <a href="mailto:press@knotis.com">  press@knotis.com</a></p>
				</div>
			</div>
		</div>
    </div>
</div>
{% endblock content%}
