<div class="name-user absolute radius-general clear-fix">
    <div class="image left ">
    	<img src="{{ avatar_uri }}"/>
    </div>
    <p class="txt-size-12 txt-white left clear-fix">
        <strong>{{ username_truncated }}</strong>
    </p>
    <div class="arrow-user right"></div>
    <div class="option-user absolute radius-general">
        <div class="option-user-inset radius-general">
            <div class="arrow-popup arrow-popup02 arrow-popup-user"></div>
            <h3><strong>My stuff</strong></h3>
            <ul class="menu-user">
                {% if user_profile.is_business_owner %}
                <li><a href="/dashboard/" >{{ header_dashboard }}</a></li>
                {% endif %}
                <li><a href="/offers/dashboard/">{{ header_offers }}</a></li>
            </ul>
            <ul class="menu-user">
                <li><a href="/profile/">{{ header_profile }}</a></li>
                <li><a href="/subscriptions/">{{ header_subscriptions }}</a></li>
                {% if user_profile.is_business_owner %}
                <li><a href="/business/profile/" >{{ header_business_profile }}</a></li>
                {% endif %}
            </ul>
            <ul class="face">
                <li>
                	<a href="/auth/logout/" >{{ header_sign_out }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
