div.create-tile {
    display: inline-block;
    width: 180px;
}

div.create-tile div.create-tile-plus p {
    color: #8B8A8A;
}

div.create-tile div.create-tile-type p {
    background-color: #2076B8;
}

@media (min-width: 1200px) {
    div.create-tile {
    }

    div.create-tile div.create-tile-plus p {
    }

    div.create-tile div.create-tile-type p {
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    div.create-tile {
    }

    div.create-tile div.create-tile-plus p {
    }

    div.create-tile div.create-tile-type p {
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    div.create-tile {
    }

    div.create-tile div.create-tile-plus p {
    }

    div.create-tile div.create-tile-type p {
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    div.create-tile {
    }

    div.create-tile div.create-tile-plus p {
    }

    div.create-tile div.create-tile-type p {
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    div.create-tile {
    }

    div.create-tile div.create-tile-plus p {
    }

    div.create-tile div.create-tile-type p {
    }
}

@media (max-width: 480px) {
    div.create-tile {
    }

    div.create-tile div.create-tile-plus p {
    }

    div.create-tile div.create-tile-type p {
    }
}
