.knotis-bold {
    font-weight: bold;
}

.knotis-price-big {
    color: #00ae99;
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 95px;
}

.small-space {
    margin-top: 10px;
}

.navbar a.brand {
    background: url('/static/knotis/img/knotis.png') no-repeat;
    height: 40px;
    width: 144px;
    margin-left: 15px;
}

div.container-fluid div.row-fluid div.content {
    background-color: #fff;
    margin: 16px;
    padding: 16px;
}

/*
  Bootstrap Overrides
*/

body {
    background-color: #E5E5E5;
}

@media (max-width: 979px) {
    body {
        padding-right: 0;
        padding-left: 0;
    }
}

a {
    color: #0DB09E;
    text-decoration: none;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.modal-header {
    padding: 0;
}

.modal-header h3 {
    font-weight: lighter;
}

.nav-list {
    border: 1px solid #D8D8D8;
    border-top: 0;
    border-bottom: 2px solid #D8D8D8;
    background-color: #fff;
    margin: 16px 0 0 15px;
}

.nav-list > li {
    border-bottom: 1px solid #F5F5F5;
}

.nav-list > li > a {
    color: #808184;
}

.nav-list > li > a.on, .nav-list > li > a:hover {
    background-color: #EEEEEE;
    border-left: 2px solid #427FED;
    color: #000;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .modal {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border: 1px;
    border-color: #D9D9D9;
    border-top-color: #C0C0C0;
    border-style: solid;
}

.btn {
    padding: 2px 8px;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin: 2px;
}

.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #03948E;
    background-image: none;
    filter: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #00726E;
    border-color: #285e8e;
}

.input-append .btn:last-child {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 14px;
    padding: 4px 8px;
}

.navbar-inner {
    min-height: 40px;
    padding-right: 0;
    padding-left: 0;
    background-color: #fefefe;
    background-image: none;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}

.modal.fade.in {
    top: 30%;
}

.input-append.date {
    padding: 0 0 10px 0;
}