.knotis-bold {
    font-weight: bold;
}

.knotis-price-big {
    color: #00ae99;
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 95px;
}

.small-space {
    margin-top: 10px;
}

.navbar a.brand {
    background: url('/static/knotis/img/knotis.png') no-repeat;
    height: 40px;
    width: 105px;
    margin-left: -5px;
}

/*
Bootstrap Overrides
*/
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.modal-header {
    padding: 0;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .modal {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border: 0px;
}

.btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: 2px;
}

.modal, .modal.fade.in {
    top: 20%;
}
