body.knotis {
    font-family: "Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #808184;
}

body.knotis form {
    margin: 0;
}

body.knotis form label {
    color: #808184;
    margin: 0 0 0 2px;
    padding: 0;
    line-height: 1em;
}

.knotis-bold {
    font-weight: bold;
}

.knotis-price-big {
    color: #00ae99;
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 95px;
}

.small-space {
    margin-top: 10px;
}

.navbar a.brand {
    background: url('/static/knotis/img/knotis.png') no-repeat;
    height: 40px;
    width: 144px;
    margin-left: 15px;
}

div.container-fluid div.row-fluid div.content {
    background-color: #fff;
    margin: 16px 16px 16px 16px;
    padding: 16px;
}

/*
  Bootstrap Overrides
*/

body {
    background-color: #E5E5E5;
}

@media (max-width: 979px) {
    body {
        padding-right: 0;
        padding-left: 0;
    }
}

a {
    color: #0DB09E;
    text-decoration: none;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.modal-header {
    padding: 0;
}

.modal-header h3 {
    font-weight: lighter;
}

.nav-list {
    border: 1px solid #D8D8D8;
    border-top: 0;
    border-bottom: 2px solid #D8D8D8;
    background-color: #fff;
    margin: 16px 0 0 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.nav-list > li {
    border-bottom: 1px solid #F5F5F5;
}

.nav-list > li > a {
    color: #808184;
}

.nav-list > li > a.on {
    border-left: 2px solid #427FED;
    padding-left: 13px;
    color: #000;
}

.nav-list > li > a:hover {
    background-color: #EEEEEE;
    border-left: 2px solid #427FED;
    padding-left: 13px;
    color: #000;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: 1px;
    border-color: #D9D9D9;
    border-top-color: #C0C0C0;
    border-style: solid;
}

.modal {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: none;
}

.btn {
    padding: 2px 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin: 2px;
    background-image: none;
    filter: none;
    margin: 0;
}

.btn-to-top {
    left: 42.445%;
    width: 25%;
    position: fixed;
    z-index: 256;
    opacity: 0.95;
}

div.row-fluid.load-more {
    text-align: center;
}

button.btn-load-more {
    width: 75%;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #fff;
  background-color: #808184;
  *background-color: #808184;
  background-image: none;
  background-repeat: no-repeat;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #0db09e;
}

.btn-knotis-action {
  color: #808184;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #F4F5F5;
  *background-color: #F4F5F5;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-color: #D8D9D8;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-knotis-action:hover,
.btn-knotis-action:active,
.btn-knotis-action.active,
.btn-knotis-action.disabled,
.btn-knotis-action[disabled] {
  color: #808184;
  background-color: #EEEFEF;
  *background-color: #EEEFEF;
  background-image: none;
  background-repeat: no-repeat;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.btn-knotis-action:active,
.btn-knotis-action.active {
  background-color: #003399 \9;
}

.btn-knotis-action img.action-icon {
    width: 20px;
    height: 20px;
    padding: 2px;
}

.btn-knotis-action > span {
    vertical-align: middle;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #097B6F;
    border-color: #285e8e;
}

.input-append .btn:last-child {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 14px;
    padding: 4px 8px;
}

.input-append .btn:last-child.btn-search {
    background-image: url('/static/knotis/img/search.png');
    background-repeat: no-repeat;
    width: 35px;
    background-size: 22px 22px;
    background-position: 5px;
}

.navbar-inner {
    min-height: 40px;
    padding-right: 0;
    padding-left: 0;
    background-color: #fefefe;
    background-image: none;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}

.input-append.date {
    padding: 0 0 10px 0;
}