div.grid-tile {
    border: 1px solid black;
}

div.grid-tile.small-tile {
    width: 180px;
    height: 256px;
}

div.grid-tile.small-tile div.tile-create {
    text-align: center;
    color: #8B8A8A;
}

div.grid-tile.small-tile div.tile-create p.tile-create-plus {
    font-size: 8.0em;
    line-height: normal;
    margin-top: 20px;
}

div.grid-tile.small-tile div.tile-create p.tile-create-text {
    font-size: 1.6em;
    line-height: normal;
    height: 66px
}

div.grid-tile.small-tile div.tile-create div.tile-footer {
    background-color: #2076B8;
    color: #FFFFFF;
    border-top: 1px solid #D8D9D8;
}