div.grid-tile {
    border: 1px solid #E5E5E5;
    cursor: pointer;
    background-color: #fff;
}

div.grid-tile.small-tile {
    width: 180px;
    height: 256px;
    display: inline-block;
    text-align: center;
}

div.grid-tile.small-tile div.tile-create {
    color: #8B8A8A;
}

div.grid-tile.small-tile div.tile-create p.tile-create-plus {
    font-size: 8.0em;
    line-height: normal;
    margin-top: 20px;
}

div.grid-tile.small-tile div.tile-create p.tile-create-text {
    font-size: 1.6em;
    line-height: normal;
    height: 66px
}

div.grid-tile.small-tile div.tile-create div.tile-footer {
    background-color: #2076B8;
    color: #FFFFFF;
}

div.grid-tile.small-tile div.tile-header img.tile-image {
    height: 120px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #D8D9D8;
}

div.grid-tile.small-tile div.tile-header {
    height: 160px;
}

div.grid-tile.small-tile div.tile-header img.tile-badge {
    position: relative;
    top: -37px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    border: 1px solid #D8D9D8;
    width: 70px;
    height: 70px;
    background: #FFFFFF;
}

div.grid-tile.small-tile div.tile-body {
    height: 75px;
}

div.grid-tile.small-tile div.tile-body p.tile-title {
    font-size: 1.25em;
    overflow: hidden;
    height: 1.25em;
}

div.grid-tile.small-tile div.tile-footer {
    border-top: 1px solid #D8D9D8;
}
