{% extends 'master.html' %}

{% block title %}Knotis - Change Your Password{% endblock title %}

{% block content %}
<div id="content" class="back-offers">
    <div class="curve">
        <div class="wrapper clear-fix">
            <div class="box-offers box-border left">
                <h3 class="margin-general"><strong>Can't sign in? Change your password</strong></h3>
                {% if user_profile %}
                    <p class="txt-size margin-general-25">Please {{ user.username }} save it in a safe place this time
                    :-) </p>
                    <div class="search-offers-back radius-general">
                        <form method="post" id="resetpassword">{% csrf_token %}
                            <label>
                                <input class="radius-general" type="password" placeholder="Enter your new Password"
                                       name="{{ reset_form.new_password1.html_name }}" id="password_new">
                            </label>
                            <label>
                                <input class="radius-general" type="password" placeholder="Repeat your Password please"
                                       name="{{ reset_form.new_password2.html_name }}" id="repeatpassword">
                            </label>
                            <label>
                                <input class="button radius-general" type="submit" name="change" value="Change">
                            </label>
                        </form>
                    </div>
                {% endif %}
                {% if feedback %}
                <div class="message-confirm message-warn radius-general txt-size">{{ feedback }}</div>
                {% endif %}
            </div>
            <div class="box-border colum-width right">
                <div class="padding-contact">
                    <h3><strong>Business Owners</strong></h3>
                    <p class="txt-size margin-general-25">Please visit our merchant center for help documentation and /
                        or frequently asked questions. Otherwise, feel free to email us at
                        <a href="mailto:press@knotis.com"> press@knotis.com</a></p>
                    <h3><strong>Press Inquiries</strong></h3>
                    <p class="txt-size">Please send press inquiries to <a href="mailto:press@knotis.com">
                        press@knotis.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
