{% load i18n %}
{% load include_select %}

<div class="hero-unit">
  <h2>{{ViewName}} - {{ ModelName }} </h2>
  <p><a class="btn btn-primary btn-large" href="/{{ ModelName|lower }}/?method=put">{% trans "Edit All" %}</a>
  <a class="btn btn-primary btn-large" href="/{{ ModelName|lower }}/?method=put&new=1">{% trans "Create" %}</a>
  <a class="btn btn-primary btn-large">Learn more »</a></p>
  </p>
</div>
<div class="row-fluid">
  <div id="wookmarkcontainer" style="position:relative;overflow:hidden">
    {% for object in object_list %}
    <div class="well wookmarkbox">
      <p><a class="btn" href="/{{ ModelName|lower }}/{{ object.pk }}/">{% trans "Details" %}</a>
      <a class="btn" href="/{{ ModelName|lower }}/{{ object.pk }}/?method=put">{% trans "Edit" %}</a>
      <a class="btn" href="/{{ ModelName|lower }}/{{ object.pk }}/?method=delete">{% trans "Delete" %}</a></p>
      </p>
      {% include_select 'boxed.html' %}
    </div>
    {% endfor %}
  </div>
</div>
<script>
  function startWookmark() {
    container = $("#wookmarkcontainer");
    boxes = $(".wookmarkbox");
    boxes.width('300').css({'padding':0,'margin':0});
    boxes.wookmark({container:container, itemWidth:300,offset:5,autoResize:true});
  }
  $(document).ready(startWookmark);
</script>
