{% if fixed_side_nav %}<div data-spy="affix" class="span2" >{% endif %}
     <ul class="nav nav-list side-nav" id="accordion-nav" >
       {% for item in navigation_items %}
       <li{% if item.item_type == NAVIGATION_TYPES.HEADER %} class="nav-header" {% else %}
             {% if item.item_type == NAVIGATION_TYPES.DIVIDER %} class="divider" {% endif %}{% endif %}
             {% if item.has_children %} data-target="#{{ item.id }}" {% endif %}>
         {% if item.item_type == NAVIGATION_TYPES.LINK %}<a href="{{ item.uri }}">{{ item.title }}</a>
         {% else %}
         {{ item.title }}
         {% endif %}
         {% if item.has_children %}
         <ul id="{{ item.id }}" class="collapse" >
           {% for sub_item in item.children.all_ordered %}
           {% if sub_item.item_type == NAVIGATION_TYPES.LINK %}
           <li><a href="{{ sub_item.uri }}">{{ sub_item.title }}</a></li>
           {% endif %}
           {% endfor %}
         </ul>
         {% endif %}
       </li>
       {% endfor %}
       {% if establishments %}
       <li class="nav-header">My Establishments</li>
       {% for establishment in establishments %}
       <li><a href="/id/{{ establishment.id }}/">{{ establishment.name }}</a>
         {% endfor %}
         {% endif %}
     </ul>
{% if fixed_side_nav %}</div>{% endif %}
{% if fixed_side_nav %}<div class="fixed-side-nav-space">&nbsp;</div>{% endif %}
