{% load render_template_fragment %}
<!-- SubNav-->
<div class="subNav">
    <div class="row">
        <div class="col-lg-12">
            <ul>
                <li><a {% if purchase_filter == 'unused' %} class="active" {% endif %} href="/my/purchases/unused/">Unused</a></li>
                <li><a {% if purchase_filter == 'used' %} class="active" {% endif %} href="/my/purchases/used/">Used</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- // End SubNav -->
<div class="container-fluid myPurchases mainContent">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <h1>Purchases</h1>
        </div>
    </div>

    <div class="row" data-id="id-purchases">
        {% render_fragment my_purchases_grid %}
    </div>
</div>
