<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="">
        <title>Knotis Template | Voucher</title>

        <!-- Custom Styles -->
        <link href="{{ static_files }}knotis/consumer/css/printed_voucher_screen.css" rel="stylesheet" type="text/css"> 

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>

    <body>
        <div class="container">
            <header>
                <div class="row">
                    <div class="col-xs-12">
                        <a href="#"><img src="{{ static_files }}knotis/consumer/img/_knotis_logo.png" alt="Knotis"/></a>
                    </div>
                </div>
            </header>

            <!-- Insert template specific content here -->
            <div class="contentBlock">
                <div class="voucher">

                    <div class="row">
                        <img class="coverPhoto" src="{{ static_files }}knotis/consumer/img/bg_business.jpg"/>
                        <div class="col-xs-12">
                            <a href="#"><img class="busLogo" src="{{ static_files }}knotis/consumer/img/logo_sushi.png"/></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 offerTitle">
                            <h1>$50 to spend on Sushi and Sake</h1>
                        </div>
                    </div>

                    <div class="row busTitle">
                        <div class="col-xs-12">
                            <a href="#">Blue C Sushi</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <img class="qrCode" src="{{ static_files }}knotis/consumer/img/img_qrCode.png"/>
                        </div>
                    </div>

                    <div class="row dataPoint">
                        <div class="col-xs-12">
                            <h4>Voucher Number</h4>
                            <p>LSA1234567</p>
                        </div>
                    </div>                    


                    <div class="row dataPoint">
                        <div class="col-xs-12">
                            <h4>Owner Of Voucher</h4>
                            <p>David D. Ortiz</p>
                        </div>
                    </div>                    


                    <div class="row dataPoint">
                        <div class="col-xs-12">
                            <h4>Valid Through</h4>
                            <p>September, 30, 2014</p>
                        </div>
                    </div>                    


                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Instructions</h2>
                            <ol>
                                <li>1) Pull up voucher on mobile phone (or print it out).</li>
                                <li>2) Present this voucher to the merchant upon arrival</li>
                                <li><b>Enjoy!</b></li>
                            </ol>
                        </div>                   
                    </div>                     

                    <div class="row">
                        <div class="col-xs-12">
                            <h4>The Fine Print</h4>
                            <ol>
                                <li>Limit (1) Per Person</li>
                                <li>1 additional as a gift</li>
                                <li>May be used across multiple visits/orders</li>
                                <li>Residual funds may be applied toward shipping costs</li>
                                <li>Tax not included</li>
                            </ol>
                        </div>                   
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Except where noted in the Fine Print:</h4>
                            <ol>
                                <li>No cash value back</li>
                                <li>Tax and gratuity are not included</li>
                                <li>Entire value must be used in one visit</li>
                                <li>Cannot be combined with any other promotion</li>
                            </ol>
                            <a href="#">Knotis Terms and Conditions</a>

                            <p>Promotional value <b>EXPIRES April, 01 2014</b></p>
                            <p>You can always use this voucher for the amount paid ($40) which will never expire.</p>
                        </div>                   
                    </div>                      

                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Need Assistance?</h2>
                            <a href="#">Call: 206-429-5049</a>
                            <a href="#">E-mail: support@knotis.com</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>
