{% extends 'knotis/layout/modal_base.html' %}
{% load thumbnail %}
{% load render_static_file %}
<!-- Custom Styles -->
<link href="{{ STATIC_URL_ABSOLUTE }}" rel="stylesheet" type="text/css">

{% block header %} 
{% endblock %}

{% block body %} 
    {% if format == 'json' %}
	{% if styles %}
	    {% for style in styles %}
		<style>{% render_static_file style %}</style>
	    {% endfor %}
	{% endif %}
    {% endif %}

<div class="modal-header voucher-cta">
    <a class="btn close" href="">
	<span aria-hidden="true">X</span>
	<span class="sr-only">Close</span>
    </a>
    <h4 class="modal-title" id="myModalLabel">Present to Merchant</h4>
</div>

<div class="voucher">
    <div class="row">
        {% thumbnail business_cover.image.image 'x312' crop=business_cover.crop as img %}
        <img class="coverPhoto" src="{{ img.url }}"/>
        {% endthumbnail %}
        <div class="col-xs-12">
            {% thumbnail business_logo.image.image 'x130' crop=business_logo.crop as img %}
		<a target="_blank" href="{{ BASE_URL }}/id/{{ transaction.offer.owner.pk }}/">
		    <img class="busLogo" src="{{ img.url }}"/>
		</a>
            {% endthumbnail %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 offerTitle">
            <h1>{{ transaction.offer.title }}</h1>
        </div>
    </div>

    <div class="row busTitle">
        <div class="col-xs-12">
            <a target="_blank" href="{{ BASE_URL }}/id/{{ transaction.offer.owner.pk }}/">{{ transaction.offer.owner.name }}</a>
        </div>
    </div>

    {% if qrcode %}
	<div class="row">
	    <div class="col-xs-12">
		<img class="qrCode" src="{{ STATIC_URL_ABSOLUTE }}knotis/consumer/img/img_qrCode.png"/>
	    </div>
	</div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12 voucher-info">
            <h4>Transaction ID:</h4>
            <p>{{ transaction.redemption_code }}</p>
        </div>
    </div>

    <div class='row'>
	<div class='col-xs-12 voucher-info'>
	    <h4>Restrictions:</h4>
	    <p>{{ transaction.offer.restrictions }}</p>
	</div>
    </div>

    {% if transaction.offer.end_time %}
	<div class="row voucher-info">
	    <div class="col-xs-12">
		<h4>Valid Through</h4>
		<p>{{ transaction.offer.end_time|date:'F, j Y'|default:'Forever' }}</p>
	    </div>
	</div>                    
    {% endif %}

    <div class='row modal-cta'>
	<a class='btn btn-primary' data-dismiss="modal" href=''>Close</a>
    </div>

</div>
{% endblock body %}
