{% load render_template_fragment %}
<div class="mainContent">
    <div class='col-xs-12 text-center qrcodePath'>
        {% if identity_type == IdentityTypes.ESTABLISHMENT or identity_type == IdentityTypes.INDIVIDUAL %}
            <div class='connect-passport'>
                <h1>Enter {{random_pin}}<br> to redeem</h1>
                <form action="{{redeem_url}}" class='form-inline' data-id="id-redeem-pin" method="POST">
                    {% csrf_token %}
                    <input class='form-control' type="text" name="pin" placeholder="PIN" />
		    <br>
		    <br>
                    <input type="hidden" name="pin_check" value="{{random_pin}}" />
                    <input class='btn btn-offers btn-lg btn-connect' type="submit" value="Redeem" />
                </form>
                <div class="error-row">
                    <p id="error-text">&nbsp;</p>
                </div>
            </div>

        {% else %}
            <h1> Oops! You're the wrong identity type for this! </h1>
            {% render_fragment identity_switcher %}
        {% endif %}
    </div>
</div>
{% if format == 'json' %}
    {% for script in post_scripts %}
        <script src="{{STATIC_URL}}{{script}}"></script>
    {% endfor %}
{% endif %}
