<form class="form-horizontal" id="{{ product_form.helper.form_id }}" action="{{ product_form.helper.form_action }}" >
  <div class="control-group">
    <label class="control-label">Select Type</label>
    <div class="controls">
      <input name="product_type" type="radio" value="credit" />
      <input class="span1" name="credit_price" type="text" value="20" />
      <span>for</span>
      <input class="span1" name="credit_value" type="text" value="40" />
      <span>Discount (%50)</span>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input name="product_type" type="radio" value="physical" />
      <input name="product_title" type="text" placeholder="Product" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Enter Price</label>
    <div class="controls">
      <input class="span1" name="product_price" type="text" value="20" />
      <span>discounted value</span>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input class="span1"  name="product_value" type="text" value="40" />
      <span>regular price (retail value)</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Enter Quantity</label>
    <div class="controls">
      <input class="span1" name="offer_stock" type="text" value="100" />
      <span>items for sale</span>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input name="offer_unlimited" type="checkbox" value="unlimited" />
      <span>unlimited</span>
    </div>
  </div>
  <div>
    <button type="button" class="pull-left btn" data-dismiss="modal">Delete Offer</button>
    <button type="submit" class="pull-right btn btn-primary">Next</button>
  </div>
</form>

