{% extends 'knotis/layout/modal_base.html' %}
{% load thumbnail %}
{% block header %}{% endblock header %}
{% block body %}

<div id="offer-modal">
    <div class="row">
	{% thumbnail offer_banner_image.image.image '339x400' crop=offer_banner_image.crop as image %}
        <div class="col-lg-6 col-xs-12 visible-xs offerHero" style="background-image: url('{{ image.url }}');background-size: cover;">
        {% empty %}
        <div class="col-lg-6 col-xs-12 visible-xs offerHero" style="background-image: url('{{ STATIC_URL }}knotis/img/default-offer-banner.png');background-size: cover;">
        {% endthumbnail %}
            <div class="overlay"></div>
            <a href="/id/{{ offer.owner.pk }}/">
                {% thumbnail business_badge_image.image.image '72x72' crop=business_badge_image.crop as image %}
                <img src="{{ image.url }}" />
                {% empty %}
                <img class="profile-badge" src="{{ STATIC_URL }}/knotis/offer/img/default-offer-badge.png" />
                {% endthumbnail %}
            </a>
	    <button class="btn close" type='button' data-dismiss='modal'><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
            <h1>${{ offer.price_discount_formatted }}</h1>
            <h2>{{ offer.owner.name }}</h2>
        </div>

        <div class="col-sm-6 col-xs-12 offerDetails">
            <h1>{{ offer.title }}</h1>
            <p>{{ offer.description }}</p>

            <ul>
                <li><span>Expires:</span> {{ offer.end_time }}</li>
                <li><span>{{ offer.savings_percent}}%</span> Savings</li>
                <li><span>{{ offer.purchased }}</span> Purchased</li>
            </ul>
        </div>

        {% if IdentityTypes.INDIVIDUAL == current_identity.identity_type %}
        <a class="btn buyBtn modal-link no-deep" href="/offer/{{ offer.pk}}/buy/">Purchase Offer</a>
        {% endif %}

        {% thumbnail offer_banner_image.image.image '339x400' crop=offer_banner_image.crop as image %}
        <div class="col-sm-6 col-xs-12 hidden-xs offerHero" style="background-image: url('{{ image.url }}');background-size: cover;">
            {% empty %}
            <div class="col-sm-6 col-xs-12 hidden-xs offerHero" style="background-image: url('{{ STATIC_URL }}knotis/img/default-offer-banner.png');background-size: cover;">
                {% endthumbnail %}
                <div class="overlay"></div>
                <a class='business-link' href="/id/{{ offer.owner.pk }}/">
                    {% thumbnail business_badge_image.image.image '72x72' crop=business_badge_image.crop as image %}
                    <img src="{{ image.url }}" />
                    {% empty %}
                    <img class="profile-badge" src="{{ STATIC_URL }}/knotis/offer/img/default-offer-badge.png" />
                    {% endthumbnail %}
                </a>
		<button class="btn close" type='button' data-dismiss='modal'><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
                <h1>${{ offer.price_discount_formatted }}</h1>
                <h2>{{ offer.owner.name }}</h2>
            </div>
        </div>
    </div> 

    {% endblock body %}
