<div class="col-lg-3 col-xs-12 offerItem">
    <div class="busCover">
        <img alt="Please make me real!" src="http://placekitten.com/300/140/" />
        <div class="overlay"></div>
    </div>
    <div class="tileContent">
        <div class="row">
            <div>There are currently no offers available, but they're coming! Please check back soon!</div>
            <div>If you let a dev write copy, it will say 'penis' on your website.</div>
            {{ action_button_content }}
        </div>
    </div>
</div>
