<form class="form-horizontal" id="{{ form.form_id }}" action="{{ form.form_action }}" method="{{ form.form_method }}" >
  <input type="hidden" name="{{ form.id.html_name }}" value="{{ form.id.value }}" />
  <div class="control-group">
    <label class="control-label">Enter Title</label>
    <div class="controls">
      <input type="text" name="{{ form.title.html_name }}" value="{{ form.title.value }}" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Synopsis</label>
    <div class="controls">
      <textarea rows="5" name="{{ form.description.html_name }}">{{ form.description.value }}</textarea>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Restrictions</label>
    <div class="controls">
      <textarea rows="5" name="{{ form.restrictions.html_name }}">{{ form.restrictions.value }}</textarea>
    </div>
  </div>
  <div>
    <button type="button" class="pull-left btn">Back</button>
    <button type="button" class="pull-left btn" data-dismiss="modal">Delete Offer</button>
    <button id="id-submit-details" type="submit" class="pull-right btn btn-primary">Next</button>
    <button type="button" class="pull-right btn btn-primary">Save &amp; Preview</button>
  </div>
</form>
<script src="{{ STATIC_URL }}knotis/offer/js/edit_details.js"></script>
