{% extends 'knotis/layout/master_email.html' %}
{% load render_template_fragment %}
{% load thumbnail %}

{% if email_type == 'html' %}
    {% block header %}
	<h1 style="text-align: center;">
	    <span style="color:#696969">
		<span style="font-size:24px">You have a new offer from username.</span>
	    </span>
	</h1>
    {% endblock %}

    {% block content %}

	{% thumbnail offer.banner_image.image.image '500' cropbox=offer.banner_image.crop as image %}
	    <img align="center" alt="" src="{{ settings.BASE_URL }}{{ image.url }}" width="563" style="max-width:563px; padding-bottom: 0; display: inline !important; vertical-align: bottom; border-radius: 4px;" class="mcnImage">
	{% endthumbnail %}

	<div style="text-align: center;">
	    <span style="font-size:18px">
		<span style="color:#808080">{{ offer.title }}
		    <br>
		    <strong>${{ offer.price_discount }}</strong>
		</span>
	    </span>
	</div>
    
    {% endblock %}

    {% block action %}
	<a class="mcnButton " title="View offer" href="{{ settings.BASE_URL }}/offer/{{ offer.pk }}/buy/" target="_self" style="font-weight: normal;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">View offer</a>
    {% endblock %}
{% endif %}

{% if email_type == 'text' %}
    {% block text_content %}
	{{ offer.owner.name }} just added {{ offer.title }} to their offerings. 
	Follow the url below to purchase it:
	{{ settings.BASE_URL }}/offer/{{ offer.pk }}/buy/
    {% endblock text_content %}
{% endif %}
