{% extends 'knotis/layout/master.html' %}
{% load thumbnail %}
{% load render_template_fragment %}
{% block title %}Knotis - My Offers{% endblock title %}
{% block first %}{% endblock first %}
{% block header %}
{% render_fragment header %}
{% render_fragment nav_top %}
{% endblock header %}
{% block content %}
<div class="container-fluid">
  <div class="row-fluid main-row">
    <div class="span2 side-nav">
      {% render_fragment nav_side %}
    </div>
    <div class="span10 grid">
      {% render_fragment offers_grid %}
    </div>
  </div>
</div>
{% endblock content %}
{% block footer %}{% endblock footer %}
{% block last %}{% endblock last %}
