<form class="form-horizontal" id="{{ form.form_id }}" action="{{ form.form_action }}" method="{{ form.form_method }}" >
  {{ form.offer }}
  <div class="control-group">
    <label class="control-label">When to send offer</label>
    <div class="controls">
      <div id="id-start-time" class="input-append date">
        <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text" name="{{ form.start_time.html_name }}" value="{{ form.start_time.value|default_if_none:'' }}" placeholder="Start Time" />
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
      </div>
    </div>
    <div class="controls">
      <div id="id-end-time" class="input-append date">
        <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text" name="{{ form.end_time.html_name }}" value="{{ form.end_time.value|default_if_none:'' }}" placeholder="End Time" />
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
      </div>
    </div>
    <div class="controls">
      {{ form.no_time_limit }} <span class="help-text">No time limit - run until it sells</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Where to send offer</label>
    {{ form.publish }}
  </div>
  <div>
    <button type="button" class="pull-left btn">Back</button>
    <button type="button" class="pull-left btn" data-dismiss="modal">Delete Offer</button>
    <button id="id-submit-details" type="submit" class="pull-right btn btn-primary">Next</button>
    <button type="button" class="pull-right btn btn-primary">Save &amp; Preview</button>
  </div>
</form>
