{% load render_template_fragment %}
{% load replace %}
<script src="https://checkout.stripe.com/checkout.js" ></script>
<div class="col-lg-12 col-xs-12 text-center offers-hero">
    
    <h1 class='text-white'>{{offer.title|replace:"/Passport/" }}</h1>
	<h2 class='text-white'>Passport</h2>
    <p class='text-center text-white'>Pay ${{offer_price_discount}} and receive all the offers below - a savings of over ${{offer_price_retail}}.</p>

    <input class='btn btn-offers btn-lg' id="stripe-button" type="button" class="btn btn-primary" value="BUY" />
    <input type="hidden" id="item-price" value="{{ offer.price_discount }}" />
    <input type="hidden" id="total-price" value="{{ offer.price_discount }}" />
    <form id="stripe-form" action="/stripe/charge/" method="POST">{% csrf_token %}
        <input type="hidden" name="transaction_context" value="{{ transaction_context }}" />
        <input type="hidden" name="offerId" value="{{ offer_id }}" />
    </form>
    <input type="hidden" name="stripe_api_key" value="{{ STRIPE_API_KEY }}" />
    <input type="hidden" name="business_name" value="{{ business_name }}" />
    <input type="hidden" name="description" value="{{ offer_title }}" />
    <input type="hidden" name="offer_price" value="{{ offer_price }}" />
    <select class="span2 hidden" name="quantity_1" id="selectquantity" data-money="{{ offer.price_discount }}" >
        <option value="1" >1</option>
    </select>
    <div class="wtb-button"><a href="/offers/passport/{{offer_id}}/passport-distribution/">Wanna buy a paper copy?</a></div>
</div>
<div class="offers">
    <div class="container-fluid mainContent">
        <div class="row">
            {% render_fragment passport_offers_grid %}
        </div>
    </div>
</div>
{% if format == 'json' %}
    {% for script in post_scripts %}
        <script src="{{STATIC_URL}}{{script}}"></script>
    {% endfor %}
{% endif %}
