{% load render_template_fragment %}
<div class="col-lg-12 col-xs-12 text-center offers-hero">
	<h1 class='text-white'>BALLARD</h1>
	<h2 class='text-white'>Passport</h2>
	<p class='text-center text-white'>Pay $15 and receive all the offers below - a savings of over $650.</p>
	<button class='btn btn-offers btn-lg'>BUY</button>
</div>
<div class="offers">
    <div class="mainContent">
       
        {% render_fragment passport_offers_grid %}
    </div>
</div>
{% if format == 'json' %}
    {% for script in post_scripts %}
        <script src="{{STATIC_URL}}{{script}}"></script>
    {% endfor %}
{% endif %}
