{% extends 'knotis/layout/modal_base.html' %}
{% block body %}
<div class="container wtb">
		<div class="row wtb-header"><div class="col-lg-12 col-xs-12">Ballard Passport books are available:</div></div>
		<div class="row wtb-row">
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/15541236-3c5d-45a4-827f-4faaa4144e94/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/static/knotis/identity/img/profile_default.png" />
				<br />Anima Mundi<br />5410 NW 22nd St</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/d24b70ab-da8e-3e7f-bbed-1e25b2812d56/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/33/85/33859a721c053498ab28490afea2786e.jpg" />
				<br />Annie's Art and Frame<br />2212 NW Market St</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/6805563d-8161-3688-b553-4afbdecf36d8/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/f1/0d/f10d2ec2d413b3c16e14077b25c01b61.jpg" />
				<br />Ballard Chamber of Commerce<br />2208 NW Market St</a></div>		
		</div>
		<div class="row wtb-row">
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/5671362b-7e0c-43aa-a21d-2bdb08667bab/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/static/knotis/identity/img/profile_default.png" />
				<br />Bauhaus Coffee<br />2001 NW Market St</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/949b53e1-cee6-3a14-b7b8-368e92ec6ab8/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/35/d7/35d7f5ab50d50dea43addb1c84203198.jpg" />
				<br />BikeSport<br />4550 9th Ave NW</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/9cd6b730-f4b1-3e52-a383-3998ce782ff5/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/static/knotis/identity/img/profile_default.png" />
				<br />Bliss<br />3501 Fremont Ave N</a></div>
		</div>
		<div class="row wtb-row">
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/4150e667-3258-3607-a452-effc495e58ee/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/d8/40/d840267f6fff4aa20baf39f1af1c8947.jpg" />
				<br />Camelion Design<br />5330 Ballard Ave NW</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/ac58d9c4-9346-38ab-9941-d286534b290b/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/14/79/14795e49f5bf9e2cfcb1010a63d8abd8.jpg" />
				<br />Cupcake Royale<br />2052 NW Market St</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/ae47df0c-351c-3d1d-b8f7-510fb9ced039/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/d4/23/d423b2afe54e6315ba8ac360a991ee8f.jpg" />
				<br />DIGS<br />2002 NW Market St</a></div>		
		</div>
		<div class="row wtb-row">
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/049bb9b6-2c36-33de-ac05-807a10700b49/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/9d/86/9d860215726831b2989d29c77db94da1.jpg" />
				<br />Dockside Solutions<br />7001 Seaview Ave NW</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/046cf338-1d0c-3479-b2aa-ebf98864af85/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/static/knotis/identity/img/profile_default.png" />
				<br />Dream<br />3427 Fremont Place N</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/4406b49e-b827-4157-8561-aa7bcf10cc1c/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/10/87/1087464b525f65f0e85dcd5e04fea491.jpg" />
				<br />Duque Salon<br />5348 Ballard Ave NW</a></div>
		</div>
		<div class="row wtb-row">		
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/82ea494c-4a30-3b09-a44e-dcb57758b011/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/81/1d/811d43e1b25440388ea17c47d026f970.jpg" />
				<br />Electric Bikes NW<br />4810 17th Ave NW</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location">
				<img class="wtb-img"src="https://knotis.com/static/knotis/identity/img/profile_default.png" />
				<br />His Word Found Here<br />5404 22nd Ave NW</div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/f10ba756-13f0-374a-83ba-c3bdca9f928e/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/3b/fc/3bfcb02286cad55d598efd656c84e337.jpg" />
				<br />Hot Cakes Molten Chocolate Cakery<br />5427 Ballard Ave NW</a></div>		
		</div>
		<div class="row wtb-row">
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/61135656-789c-351c-88b7-d86a8fdae30b/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/3e/c6/3ec60769271ad0ae4c5afaa0ea73d028.jpg" />
				<br />Jax Joon<br />5346 Ballard Ave NW</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/c1f8079c-b0dd-35bb-b6e7-729d0655d008/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/41/76/41769fb98d0f58a3ff9be76a11bd7905.jpg" />
				<br />Kavu<br />5419 Ballard Ave NW</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/366e4dd1-6df6-4532-b1d4-fb6fe4fa0b4e/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/d9/09/d909ea26b3bc8cdec36cea9f6055769c.jpg" />
				<br />Love Love Darling<br />5346 Ballard Ave NW</a></div>		
		</div>
		<div class="row wtb-row">
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/78f355ec-f42f-3080-81fd-737c58b4af6e/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/e7/47/e74770e32aa4d33a2b13144847300ba3.jpg" />
				<br />re-souL<br />5319 Ballard Ave NW</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/ab59d13f-3d10-360b-bf8e-5814ed4af8e9/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/c3/cf/c3cfe778930dad5b48834ec0878f2cdc.jpg" />
				<br />Romanza Gifts Ballard<br />2206 NW Market St</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/f77c976a-1ca4-3318-bb67-34e8836f78f9/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/d7/93/d7937486a4bde66725bf9ad4ca26f977.jpg" />
				<br />Secret Garden Books<br />2214 NW Market St</a></div>		
		</div>
		<div class="row wtb-row">
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/03ec5431-c10e-4dfb-8322-9b77cd97231e/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/5d/dc/5ddc9fa3682d00c9527ae23db22e0ea8.jpg" />
				<br />Toast	<br />5615 24TH Ave NW #102</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/837c3199-914c-3a8d-b068-37be74f0507d/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/static/knotis/identity/img/profile_default.png" />
				<br />Venue<br />5408 22nd Ave NW</a></div>
		</div>
	<div class="row wtb-header"><div class="col-lg-12 col-xs-12">Queen Anne Passport books are available:</div></div>
		<div class="row wtb-row">
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/3822bba2-b095-3f53-be8d-28575baaeb0e/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/23/f3/23f38ea1488a4d3e232fb3ba1fd4a472.jpg" />
				<br />Avenue Arts<br />1621 Queen Anne Ave N</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/9cd6b730-f4b1-3e52-a383-3998ce782ff5/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/static/knotis/identity/img/profile_default.png" />
				<br />Bliss<br />3501 Fremont Ave N</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/c211a9ee-0097-3cef-869a-1eaf4487a6da/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/23/eb/23ebd6a105299c7e15238627038e8b5b.jpg" />
				<br />Blue Highway Games<br />2203 Queen Anne Ave N</a></div>
		</div>
		<div class="row wtb-row">
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/f91a54d4-b729-47e2-a014-85fc69b69a9d/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/2c/89/2c89bcdb6c5d83bec9d469005cc5cf51.jpg" />
				<br />Cederberg Tea House<br />1417 Queen Anne Ave N</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/046cf338-1d0c-3479-b2aa-ebf98864af85/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/static/knotis/identity/img/profile_default.png" />
				<br />Dream<br />3427 Fremont Place N</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/2503d658-f306-31e8-85b4-eaeb4ac8c7c5/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/8e/40/8e40a3741a39faca4868254f42cf1e41.jpg" />
				<br />El Diablo Coffee<br />1811 Queen Anne Ave N</a></div>		
		</div>
		<div class="row wtb-row">
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/7d4ef011-ab9e-41db-bff6-9245761948e0/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/50/fa/50fa86e55e8c7c5b367b817ce9712b59.jpg" />
				<br />Emerald City Smoothie<br />1835 Queen Anne Ave N</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/8c39d1d6-1be4-45a6-be78-62e9a355673b/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/17/4e/174eb5d662b9ddfbdca23f993d16e3c6.jpg" />
				<br />Four Winds<br />1521 Queen Anne Ave N</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/4c320359-ef40-4e17-8aee-a7d9a2641a09/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/6e/5f/6e5f4472a1b05030f06b08e09260e024.jpg" />
				<br />Le Reve<br />1805 Queen Anne Ave N</a></div>		
		</div>
		<div class="row wtb-row">
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/1e920afb-9b08-4fac-bed3-c52fc7d97965/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/ee/0f/ee0f099343b3d0e558fdb71d919de0e9.jpg" />
				<br />OFIT Gym<br />400 2nd Ave W #200</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/ad81aca8-52fa-47dd-84bb-c5ba8ae25e85/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/8b/26/8b2672ae73a469cc7cea6c4140e0d644.jpg" />
				<br />Peridot<br />532 Queen Anne Ave N</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/847389a3-5128-4362-93df-4f8f05294b90/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/55/54/55549450b30542f7406c788cbecf2dd3.jpg" />
				<br />Queen Anne Book Co.<br />1811 Queen Anne Ave N</a></div>
		</div>
		<div class="row wtb-row">
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/1f20a861-8824-3696-b0d9-fe43fb6f9191/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/5c/cf/5ccf4a63197e1511106a806e8460bda0.jpg" />
				<br />Queen Anne Dispatch<br />2212 Queen Anne Ave N</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/7eedb6ac-a0a3-4ad3-9121-4d31747e2d14/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/ed/8e/ed8e639b04c415e49b0f8ba3a0638756.jpg" />
				<br />Stuhlberg's<br />1801 Queen Anne Ave N</a></div>
			<div class="col-lg-4 col-xs-4 wtb-location"><a href="https://knotis.com/id/732569e2-1d0a-3391-8a33-a6ac98ff82c9/" class="no-deep">
				<img class="wtb-img"src="https://knotis.com/media/cache/9c/68/9c689e66957f759bcea88e58d6015e60.jpg" />
				<br />Three Birds<br />2107 Queen Anne Ave N</a></div>
		</div>

</div>
{% endblock body %}
