{% extends 'knotis/layout/modal_base.html' %}
{% block body %}
<div class="container wtb">
    <div class="row wtb-header"><div class="col-lg-12 col-xs-12">Buy Ballard Passport Books Here:</div></div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/15541236-3c5d-45a4-827f-4faaa4144e94/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/static/knotis/identity/img/profile_default.png" />
            <br />Anima Mundi<br />5410 NW 22nd St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/d24b70ab-da8e-3e7f-bbed-1e25b2812d56/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/33/85/33859a721c053498ab28490afea2786e.jpg" />
            <br />Annie's Art and Frame<br />2212 NW Market St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/6805563d-8161-3688-b553-4afbdecf36d8/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/f1/0d/f10d2ec2d413b3c16e14077b25c01b61.jpg" />
            <br />Ballard Chamber of Commerce<br />2208 NW Market St</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/5671362b-7e0c-43aa-a21d-2bdb08667bab/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/e9/ac/e9acc31c6c5a07ef2c3b1331a95483ec.jpg" />
            <br />Bauhaus Coffee<br />2001 NW Market St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/949b53e1-cee6-3a14-b7b8-368e92ec6ab8/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/35/d7/35d7f5ab50d50dea43addb1c84203198.jpg" />
            <br />BikeSport<br />4550 9th Ave NW</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/9cd6b730-f4b1-3e52-a383-3998ce782ff5/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/79/c8/79c8b5660a6ec8fd74a287c7e57f7360.jpg" />
            <br />Bliss<br />3501 Fremont Ave N</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/4150e667-3258-3607-a452-effc495e58ee/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/d8/40/d840267f6fff4aa20baf39f1af1c8947.jpg" />
            <br />Camelion Design<br />5330 Ballard Ave NW</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/ac58d9c4-9346-38ab-9941-d286534b290b/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/14/79/14795e49f5bf9e2cfcb1010a63d8abd8.jpg" />
            <br />Cupcake Royale<br />2052 NW Market St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/ae47df0c-351c-3d1d-b8f7-510fb9ced039/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/d4/23/d423b2afe54e6315ba8ac360a991ee8f.jpg" />
            <br />DIGS<br />2002 NW Market St</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/049bb9b6-2c36-33de-ac05-807a10700b49/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/9d/86/9d860215726831b2989d29c77db94da1.jpg" />
            <br />Dockside Solutions<br />7001 Seaview Ave NW</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/046cf338-1d0c-3479-b2aa-ebf98864af85/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/a5/2e/a52e49032c076750571986003a85da13.jpg" />
            <br />Dream<br />3427 Fremont Place N</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/4406b49e-b827-4157-8561-aa7bcf10cc1c/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/10/87/1087464b525f65f0e85dcd5e04fea491.jpg" />
            <br />Duque Salon<br />5348 Ballard Ave NW</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/82ea494c-4a30-3b09-a44e-dcb57758b011/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/81/1d/811d43e1b25440388ea17c47d026f970.jpg" />
            <br />Electric Bikes NW<br />4810 17th Ave NW</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <img class="wtb-img" src="https://knotis.com/static/knotis/identity/img/profile_default.png" />
            <br />His Word Found Here<br />5404 22nd Ave NW </div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/f10ba756-13f0-374a-83ba-c3bdca9f928e/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/3b/fc/3bfcb02286cad55d598efd656c84e337.jpg" />
            <br />Hot Cakes Molten Chocolate Cakery<br />5427 Ballard Ave NW</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/61135656-789c-351c-88b7-d86a8fdae30b/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/3e/c6/3ec60769271ad0ae4c5afaa0ea73d028.jpg" />
            <br />Jax Joon<br />5346 Ballard Ave NW</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/c1f8079c-b0dd-35bb-b6e7-729d0655d008/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/41/76/41769fb98d0f58a3ff9be76a11bd7905.jpg" />
            <br />Kavu<br />5419 Ballard Ave NW</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/366e4dd1-6df6-4532-b1d4-fb6fe4fa0b4e/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/d9/09/d909ea26b3bc8cdec36cea9f6055769c.jpg" />
            <br />Love Love Darling<br />5346 Ballard Ave NW</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/78f355ec-f42f-3080-81fd-737c58b4af6e/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/e7/47/e74770e32aa4d33a2b13144847300ba3.jpg" />
            <br />re-souL<br />5319 Ballard Ave NW</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/ab59d13f-3d10-360b-bf8e-5814ed4af8e9/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/c3/cf/c3cfe778930dad5b48834ec0878f2cdc.jpg" />
            <br />Romanza Gifts Ballard<br />2206 NW Market St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/f77c976a-1ca4-3318-bb67-34e8836f78f9/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/d7/93/d7937486a4bde66725bf9ad4ca26f977.jpg" />
            <br />Secret Garden Books<br />2214 NW Market St</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/03ec5431-c10e-4dfb-8322-9b77cd97231e/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/5d/dc/5ddc9fa3682d00c9527ae23db22e0ea8.jpg" />
            <br />Toast<br />5615 24TH Ave NW #102</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/837c3199-914c-3a8d-b068-37be74f0507d/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/5c/64/5c64078b7051c5bf0d81c6a96ba52830.jpg" />
            <br />Venue<br />5408 22nd Ave NW</a></div>
    </div>
    <div class="row wtb-header"><div class="col-lg-12 col-xs-12">Buy Belltown Passport Books Here:</div></div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/79229858-2b58-44f5-842f-25b2ce98e13c/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/da/a9/daa9a3b39f105931fb3fd440d7895538.jpg" />
            <br />2nd Leash on Life<br />220 Blanchard St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <img class="wtb-img" src="https://knotis.com/static/knotis/identity/img/profile_default.png" />
            <br />Bear and the Bee<br />2211 2nd Ave    </div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/64097bf7-b042-407d-a5e7-ee948451b817/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/18/3a/183afbd2e9a28489daae43c30232d6e5.jpg" />
            <br />demi-lune<br />2514 4th Ave</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/b2d0609d-a48e-475d-83a2-7c3f98e2b971/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/0c/69/0c69acda006c6905fe3ca872d4b35515.jpg" />
            <br />Drip City<br />2929 1st Ave</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/70b5463e-8c6c-3416-a52d-e7acbe2e6311/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/d5/9c/d59cd0e4d80bb70812887957f1a2de94.jpg" />
            <br />Holy Cannoli<br />2720 3rd Ave</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/690a3d41-bdc6-4adf-a674-b949fae095ed/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/fa/d4/fad433e7cab50073a832bffb33a2feee.jpg" />
            <br />House of Style<br />2301 1st Ave</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/25e41da4-84f1-4607-bee5-bc9e0c2c605e/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/9d/a9/9da9b45a3f4e78a5d0ccf873debbcddb.jpg" />
            <br />Seattle Custom Framing<br />2815 2nd Ave</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/5721517f-e767-3578-9dce-c136b3a804f7/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/86/39/8639a80d98ffad45fa67311ee907824e.jpg" />
            <br />Street Bean Espresso<br />2702 3rd Ave</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/c2f72399-de2e-4029-a7d6-05cd36475ed4/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/e0/95/e095e941ca4ac39899a3dedcc4b15171.jpg" />
            <br />The Framery<br />2519 4th Ave</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/48781b70-b38a-3acc-8359-47f032266365/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/d5/95/d5957ab2df2b058559d2e66aef9917f0.jpg" />
            <br />The Yellow Leaf Cupcake Co<br />2209 4th Ave</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/d024b681-d57a-44e6-ad11-3ade87f33707/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/b6/36/b636143675322d506b68009682904987.jpg" />
            <br />Tune hi-fi<br />2121 1st Ave</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/5fec6ea2-0485-4e8b-aff8-8da8d2eb95f4/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/5e/ea/5eea1ebc69b71c6beb48750c6ef1f017.jpg" />
            <br />Via Solferino<br />2520 1st Ave</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/9e7a378e-0727-461c-bb48-6ebfeaad9c31/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/70/f9/70f95d191f910b13cd0038430ecdd5d5.jpg" />
            <br />Vittles Bistro<br />2330 2nd Ave</a></div>
    </div>
    <div class="row wtb-header"><div class="col-lg-12 col-xs-12">Buy Capitol Hill Passport Books Here:</div></div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/15f90712-d824-4eb7-a89d-62f7f378c64e/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/a3/b3/a3b3c75d9a68577bad7a5229fbcd6a67.jpg" />
            <br />35th North<br />1100 E Pike St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/daf82a66-290e-3bd2-a0b7-5c113cbd7a10/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/fb/3c/fb3c8a64ba1aefdf431e11bf5de8c9bd.jpg" />
            <br />Artful Dodger Tattoo &amp; Comics<br />1715 E Olive Way</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/c2427441-b674-4379-978e-30a7d83daa2b/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/e5/04/e504d93b4ca94386bf33523592f42843.jpg" />
            <br />Atomic Cosmetics<br />617 E Pike St</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/a18206c9-38fc-3ccd-ad55-be49e2e59bd8/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/6d/66/6d66a6d1d672a4e8a30e816bee6e9807.jpg" />
            <br />Brenthaven<br />921 E Pine St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/cef9bf9c-419b-4bb3-8ca6-127667de66b7/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/8f/92/8f923b725b437b099cc7e14f8c0a054c.jpg" />
            <br />Broadway Locksmith<br />918 E John St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/7bf4e24f-9d33-4fe8-8f83-11151aa8073f/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/5b/38/5b38dccc89280d2eb3d7f122e74ca792.jpg" />
            <br />Desert Sun<br />1809 E Olive Way</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/ae058fa5-76c9-45fe-a267-aad3d3ebbfab/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/1d/7b/1d7bf8d14a9435060624a145941397bc.jpg" />
            <br />Elliott Bay Book Company<br />1521 10th Ave</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/167cce3c-4342-4cf6-ab97-e0d0467d1ec3/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/87/8b/878b9a114fa983f2e2cf5fdd8568f222.jpg" />
            <br />Fuel Coffee<br />610 19th Ave E</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/93636547-8a4c-4293-a8f8-3404afd2920f/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/d2/b2/d2b2f0cd6cc64ea31636b852d13b9eab.jpg" />
            <br />Gamma Ray Games<br />501 E Pine St</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/e9a20857-b30b-454b-9fbf-6a21c487d124/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/5e/96/5e9675d45bd430ea947866ec94ec8f84.jpg" />
            <br />Gentle Dental<br />535 Broadway E</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/4d96e3c2-59ec-3f9c-b020-bd3d09ef28be/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/01/20/0120ce4173871f7c6823a50275512a2c.jpg" />
            <br />High 5 Pie<br />1400 12th Ave</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/79a41a4a-d524-313b-bb0a-3f5730c254f3/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/67/72/677282524eaec75f333b9250150312a1.jpg" />
            <br />Holy Smoke<br />1556 E Olive Way</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/7128847f-a44e-46d0-b7de-85b584f1262a/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/47/cb/47cb2832d9bf3cf7b16377a79a7586ba.jpg" />
            <br />OOLA Distillery<br />1314 E Union St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/2ae32df2-41df-4839-973c-1e1532398ba1/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/0e/46/0e4603707341fc68a106068f22792aa3.jpg" />
            <br />Pacific Supply<br />1417 12th Ave</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/3f39e637-1d04-4367-bc2d-2f639950d14d/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/a6/3f/a63fb2021262ed75507b71a6c25b6595.jpg" />
            <br />Paris Eastside<br />816 E Pike St,</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/ffa5c536-0b4c-3f74-8058-4093984231e6/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/58/80/5880c1f7120525c5cdefca30da97f31f.jpg" />
            <br />Retail Therapy<br />905 E Pike St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/3e59c183-65aa-3fbc-a710-d5f8a56d7a93/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/0b/5d/0b5dfd48a67cccd72c5642b48c176a63.jpg" />
            <br />Retrofit HOME<br />1103 E Pike St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/d86454c7-e402-38c7-9a2e-5775f7dfbaaf/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/92/c6/92c6d5f7450e507b0b6beca79d7f47d9.jpg" />
            <br />Sugarpill<br />900 E Pine St</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/47e5ca6e-2d43-3753-bc74-d7d39c47c739/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/5e/da/5eda44a9c3f1bbb6794b5f11443e49e3.jpg" />
            <br />underU4men<br />709 Broadway E</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/43a04055-1de9-37c8-94e1-93ce5286577d/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/67/c9/67c9b0835b9061f58b116c45f2cf2ed7.jpg" />
            <br />zpizza<br />1620 Broadway</a></div>
    </div>
    <div class="row wtb-header"><div class="col-lg-12 col-xs-12">Buy Fremont Passport Books Here:</div></div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/9cd6b730-f4b1-3e52-a383-3998ce782ff5/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/79/c8/79c8b5660a6ec8fd74a287c7e57f7360.jpg" />
            <br />Bliss<br />3501 Fremont Ave N</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/4e5d88e6-df04-4d1d-a263-1df2f67f3864/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/25/e7/25e79712f4ee67461d6ca04a32b97294.jpg" />
            <br />Burnt Sugar<br />601 N 35th St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/9248a8ee-e5bd-4d2b-96c4-c74354644889/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/7d/80/7d80a4c66702ec646919d8749870dbd9.jpg" />
            <br />Comedy Sportz<br />3509 Fremont Ave N</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/0232dc7a-a7a8-4afe-bf00-9ff0c8d6c927/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/ea/ee/eaee4947a034456571c32cd29ccd7627.jpg" />
            <br />District Fabric<br />513 N 36th St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/046cf338-1d0c-3479-b2aa-ebf98864af85/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/a5/2e/a52e49032c076750571986003a85da13.jpg" />
            <br />Dream<br />3427 Fremont Pl N</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/a0f7635f-4293-4eb3-a444-f65e436ca0fe/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/2d/c8/2dc870fe0d01e0ba5fed45268e2c829f.jpg" />
            <br />Dumpling Tzar<br />3516 Fremont Pl N</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/cc38c97d-70b4-4c00-a10f-1d3b59f577d0/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/2c/f4/2cf44376faceefe45098aed2eb329af2.jpg" />
            <br />Fremont Dock Sports Bar<br />1102 N 34th St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/89120ab2-01ad-4c36-a5ad-79a647d7d357/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/f8/43/f843184f94a6fa8021ef84f2f188be64.jpg" />
            <br />Pipe + Row<br />611 N 35th St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/8cea383f-0256-35f7-8d8f-8e5823aa0bde/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/19/ab/19ab6d6aa8c0235205b307aecb553b33.jpg" />
            <br />Show Pony<br />702 N 35th St</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/1343cbfa-a12f-4220-821e-69b4ad55bd09/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/f0/cf/f0cf2696d1707617178a713d74b46163.jpg" />
            <br />Stone Way Cafe<br />3510 Stone Way N</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/4b060dae-04f1-4377-8ef6-6b2e7a79edb8/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/00/d5/00d5c878e6ce7819b83ad7249172e388.jpg" />
            <br />The Indoor Sun Shoppe<br />160 N Canal St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/bcc78662-42ea-4b44-b0c8-1deeae0789d3/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/0e/77/0e77fe96887c234194bf88b8f482fe99.jpg" />
            <br />The Sweet Spot<br />3507 Evanston Ave N</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/d9581c24-3613-41d5-9143-1057859c0114/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/1a/21/1a21102d9e09c4150376cc34f54d7e5e.jpg" />
            <br />Urban Float<br />3420 Fremont Ave N</a></div>
    </div>
    <div class="row wtb-header"><div class="col-lg-12 col-xs-12">Buy Greenlake &amp; Wallingford Passport Books Here:</div></div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/d6a300c0-b9ed-464e-983f-696fb166df8d/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/97/65/9765f771fa4406931199530ce419bb92.jpg" />
            <br />Assistance League<br />1415 N 45th St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/c4cb5109-acb6-45d4-b78c-84517134eb4e/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/5b/b5/5bb5cca2d5821eee8cfe55cce2b546cb.jpg" />
            <br />Bottleworks<br />1710 N 45th St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/5639878c-6b28-4d1e-b0ff-378f1cb6ee6b/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/c9/ff/c9ff29dd7f97fc3c0d2acf79c13872b3.jpg" />
            <br />City Cellars<br />1710 N 45th St</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/968a3126-218d-449f-845a-315ccc9fc42e/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/9b/67/9b67a3fbc5c0094543d2709596d99e47.jpg" />
            <br />Crackerjacks<br />1815 N 45th St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/586cdc69-0fbd-4a54-810a-3623ad0a6b30/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/a5/34/a534cd74f0d0a27bfdc8effeb7f4b85a.jpg" />
            <br />Fuel Coffee<br />1705 N 45th St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/24866c0b-61b2-35f5-8600-f5c4c5173c8e/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/18/c2/18c2cc55b282bcf9f247bd0bdf30dfb0.jpg" />
            <br />Gregg's Cycles<br />7007 Woodlawn Ave NE</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/be33f02c-70ea-476a-9b55-72bd228a0ab2/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/40/8b/408b9b2680fa71d20c7e50b21d8807ea.jpg" />
            <br />Harold's Fine Lighting<br />1912 N 45th St</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/cf434d8b-2692-4909-9ad3-e2b66bcb82b0/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/a4/d2/a4d2bcd40bb40a0f6a07cc01ab00ceec.jpg" />
            <br />The Weaving Works<br />6514 Roosevelt Way NE</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/3ed67584-de03-49a3-8add-35f08ef2b755/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/db/90/db90ebdbb230a29eae30c500e83c6590.jpg" />
            <br />The Yogurt Way<br />1026 NE 65th St</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/fc375482-6364-4d7e-a13f-423cfcccf78d/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/17/e3/17e3a9cffac977ebeef4d5f98e86a51e.jpg" />
            <br />Yazdi<br />1815 N 45th St</a></div>
    </div>
    <div class="row wtb-header"><div class="col-lg-12 col-xs-12">Buy Queen Anne Passport Books Here:</div></div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/3822bba2-b095-3f53-be8d-28575baaeb0e/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/23/f3/23f38ea1488a4d3e232fb3ba1fd4a472.jpg" />
            <br />Avenue Arts<br />1621 Queen Anne Ave N</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/9cd6b730-f4b1-3e52-a383-3998ce782ff5/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/79/c8/79c8b5660a6ec8fd74a287c7e57f7360.jpg" />
            <br />Bliss<br />3501 Fremont Ave N</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/c211a9ee-0097-3cef-869a-1eaf4487a6da/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/23/eb/23ebd6a105299c7e15238627038e8b5b.jpg" />
            <br />Blue Highway Games<br />2203 Queen Anne Ave N</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/f91a54d4-b729-47e2-a014-85fc69b69a9d/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/2c/89/2c89bcdb6c5d83bec9d469005cc5cf51.jpg" />
            <br />Cederberg Tea House<br />1417 Queen Anne Ave N</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/046cf338-1d0c-3479-b2aa-ebf98864af85/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/a5/2e/a52e49032c076750571986003a85da13.jpg" />
            <br />Dream<br />3427 Fremont Place N</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/2503d658-f306-31e8-85b4-eaeb4ac8c7c5/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/8e/40/8e40a3741a39faca4868254f42cf1e41.jpg" />
            <br />El Diablo Coffee<br />1811 Queen Anne Ave N</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/7d4ef011-ab9e-41db-bff6-9245761948e0/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/50/fa/50fa86e55e8c7c5b367b817ce9712b59.jpg" />
            <br />Emerald City Smoothie<br />1835 Queen Anne Ave N</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/8c39d1d6-1be4-45a6-be78-62e9a355673b/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/17/4e/174eb5d662b9ddfbdca23f993d16e3c6.jpg" />
            <br />Four Winds<br />1521 Queen Anne Ave N</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/4c320359-ef40-4e17-8aee-a7d9a2641a09/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/6e/5f/6e5f4472a1b05030f06b08e09260e024.jpg" />
            <br />Le Reve<br />1805 Queen Anne Ave N</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/1e920afb-9b08-4fac-bed3-c52fc7d97965/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/ee/0f/ee0f099343b3d0e558fdb71d919de0e9.jpg" />
            <br />OFIT Gym<br />400 2nd Ave W #200</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/ad81aca8-52fa-47dd-84bb-c5ba8ae25e85/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/8b/26/8b2672ae73a469cc7cea6c4140e0d644.jpg" />
            <br />Peridot<br />532 Queen Anne Ave N</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/847389a3-5128-4362-93df-4f8f05294b90/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/55/54/55549450b30542f7406c788cbecf2dd3.jpg" />
            <br />Queen Anne Book Co.<br />1811 Queen Anne Ave N</a></div>
    </div>
    <div class="row wtb-row">
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/1f20a861-8824-3696-b0d9-fe43fb6f9191/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/5c/cf/5ccf4a63197e1511106a806e8460bda0.jpg" />
            <br />Queen Anne Dispatch<br />2212 Queen Anne Ave N</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/7eedb6ac-a0a3-4ad3-9121-4d31747e2d14/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/ed/8e/ed8e639b04c415e49b0f8ba3a0638756.jpg" />
            <br />Stuhlberg's<br />1801 Queen Anne Ave N</a></div>
        <div class="col-lg-4 col-xs-4 wtb-location">
            <a href="https://knotis.com/id/732569e2-1d0a-3391-8a33-a6ac98ff82c9/" class="no-deep">
            <img class="wtb-img" src="https://knotis.com/media/cache/9c/68/9c689e66957f759bcea88e58d6015e60.jpg" />
            <br />Three Birds<br />2107 Queen Anne Ave N</a></div>
    </div>
</div>
{% endblock body %}
