{% load thumbnail %}

        <div class="col-lg-4 col-xs-12 offerItem">
            <a href="/offer/detail/{{ offer.pk }}/" class="modal-link">
                <div class="busCover">
                    {% thumbnail offer_banner_image.image.image '240x161' crop=offer_banner_image.crop as image %}
                    <img src="{{ image.url }}" alt="{{ offer.title }}"/>
                    {% empty %}
                    <img class="tile-image"  alt="{{ offer.title }}" src="http://placekitten.com/240/161/" />
                    {% endthumbnail %}
                    <div class="overlay"></div>
                </div>
            </a>
            <div class="offerContent">
                <div class="row">
                    <div class="col-lg-10 col-xs-10">
                        {% thumbnail business_badge_image.image.image '80x80' crop=business_badge_image.crop as image %}
                        <img class="busLogo" src="{{ image.url }}" alt="{{ offer.title }}"/>
                        {% empty %}
                        <img class="tile-badge" src="http://placekitten.com/80/80/" />
                        {% endthumbnail %}
                    </div>
                    <div class="col-lg-1 col-xs-1">
<!-- 
                       <div class="dropdown">
                            <a data-toggle="dropdown" href=""><img class="iconMore" src="/assets/img/icon_more_offerItem.png"/></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li><a href="">Extra Link</a></li>
                            </ul>
                        </div>
-->
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <h1>{{ offer.title }}</h1>
                        {% if offer.owner %}
                            <a class="busLink" href="id/{{ offer.owner.id }}/">Profile</a>
                        {% endif %}
<!--                        <a href="" class="btnFollow" href="">Follow</a>                                          -->
<!--                        <p class="location"><img src="assets/img/icon_location.png"/> <span>0.2 Miles</span></p> -->
                    </div>
                </div>
            </div>
        </div>


