{% load thumbnail %}
<div class="col-lg-3 col-xs-6 offerItem">
    <a href="/offer/detail/{{ offer.pk }}/" class="modal-link">
        <div>
            {% thumbnail offer_banner_image.image.image 'x140' cropbox=offer_banner_image.crop as image %}
            <div class="busCover" style="background: url('{{ image.url }}') no-repeat;background-color: #2cc397;background-size: cover;background-position:50%;" alt="{{ offer.title }}"></div>
            {% empty %}
            <img class="defaultImg" alt="{{ offer.title }}" src="{{ STATIC_URL }}knotis/offer/img/default-offer-image.png" />
            {% endthumbnail %}
            <div class="overlay"></div>
        </div>
    </a>
    <div class="tileContent">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <a href="/id/{{ offer.owner.pk }}/">
                    {% thumbnail business_badge_image.image.image '92x92' cropbox=business_badge_image.crop as image %}
                    <img class="busLogo" src="{{ image.url }}" alt="{{ offer.title }}"/>
                    {% empty %}
                    <img class="busLogo" src="{{ STATIC_URL }}knotis/img/default_profile_badge.png" />
                    {% endthumbnail %}
                </a>
            </div>
        </div>
        <div class="row tileSpacing">
            <div class="col-lg-12 col-xs-12">
                <h1>{{ offer.title }}</h1>
                <h2><a href="/id/{{ offer.owner.pk }}/">{{ offer.owner.name }}</a></h2>
            </div>
        </div>
	    {% if offer_action == None %}
        <div class="row">
	        {% else %}
	        <div class="row">
	            {% endif %}
                <div class="col-lg-12 col-xs-12">
	                {% if offer.offer_type == OfferTypes.DARK and offer.restrictions %}
		            <p class='minimumSpend'>{{ offer.restrictions }}</p>
		            {% endif %}
                    {% if offer_action == 'buy' %}
                    <a class="busLink no-deep" data-target-id="main-content" href="/offer/{{ offer.pk }}/buy/">Buy</a>
                    {% endif %}
                    {% if offer_action == 'pause' %}
                    {% if offer.active %}
                    <a class="busLink no-deep toggle-offer" data-offer-id="{{ offer.pk }}" href="/">Pause</a>
                    {% else %}
                    <a class="busLink no-deep toggle-offer" data-offer-id="{{ offer.pk }}" href="/">Resume</a>
                    {% endif %}
                    {% endif %}
                    {% if offer_action == 'redeem' %}
                    <a class="busLink no-deep redeem-offer" data-offer-id="{{ offer.pk }}" href="/">Redeem</a>
                    {% endif %}
                    {% if offer_action == 'edit' %}
                    <a class="busLink" data-target-id="main-content" href="/offer/create/?id={{ offer.pk }}">Edit</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
