{% extends 'master.html' %}

{% block title %}Knotis|Print Offers{% endblock title %}

{% block content %}
<div id="content" class="back-offers">
    <div class="curve">
    <div class="wrapper">
        <div class="box-border box-print">
            {% for p in purchases %}
            <h2 class="txt-right line-padd relative">
                <div class="logo-print"><img src="{{ STATIC_URL }}images/layouts/logo-print.png" title="logo" alt="logo"/></div>
                <span class="left first"><a href="#" onclick="window.print();"> <img class="print" src="{{ STATIC_URL }}images/layouts/print.png"></a></span><br /><br /><br />
                <span>Ticket number: #{{ p.redemption_code }}</span></h2>
            {% endfor %}
            <div class="txt-print clear-fix">
                <h3 class="margin-general-25"><strong>{{ purchase.offer.title_formatted }}</strong></h3>
                <div class="left-print">
                    <h4 class="margin-general"><strong>Description:</strong></h4>
                    <p class="txt-size margin-general-25">{{ purchase.offer.description.value }}</p>
                    <h4 class="margin-general"><strong>Fine Print:</strong></h4>
                    <p class="txt-size margin-general-25">{{ purchase.offer.restrictions.value }}</p>
                    {% for p in purchases %}
                    <h4 class="margin-general"><strong>Purchase date:</strong></h4>
                    <p class="txt-size margin-general-25">{{ p.pub_date }}</p>
                    <h4 class="margin-general"><strong>Number of offers:</strong></h4>
                    <p class="txt-size margin-general-25">{{ p.quantity }}</p>
                    {% endfor %}
                </div>
                <div class="right-print">
                    <h4 class="margin-general"><strong>For:</strong></h4>
                    <p class="txt-size margin-general-25">{{ user.username }}</p>
                    <h4 class="margin-general"><strong>Redeem:</strong></h4>
                    <p class="txt-size margin-general-25">
                        {{ purchase.business.business_name.value }}</br>
                        {{ purchase.business.address.value.value }}</br>
                        {{ purchase.business.phone.value.value }}</br>
                    </p>
                </div>
                <div class="right-print">
                    <h4 class="margin-general"><strong>Ticket Price:</strong></h4>
                    <h3><strong>${{ purchase.value_formatted }}</strong></h3>
                </div>
            </div>
            <ul class="clear-fix margin-general-25">
                <li class="txt-size">Print this voucher or save it to your phone</li>
                <li class="txt-size second">Take it with you to the location above</li>
                <li class="txt-size third">What are you waiting for? That's all there is to it</li>
            </ul>
            <p class="txt-size txt-center">Still need more help? Email us at <a href="mailto:support@knotis.com">support@knotis.com</a></p>
        </div>
    </div>
   </div>
</div>
{% endblock content %}
