<div class="row-fluid sections">

  <div class="span5">
    <div class="row-fluid">
      <div class="span12 about">
        {{ about|safe }}
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span12 ratings">
       {{ ratings|safe }}
      </div>
    </div>
  </div>

  <div class="span5">
    <div class="row-fluid">
      <div class="span12 photos">
        {{ photos|safe }}
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span12 location">
        {{ location|safe }}
      </div>
    </div>
  </div>

</div>

