<div class="row-fluid">
  <div class="span6 about-section about-description">
    {{ about_markup|safe }}
  </div>
  
  <div class="span6 about-section about-carousel">
    {{ carousel_markup|safe }}
  </div>
</div>

<div class="row-fluid">
  {% if location_markup %}
  <div class="span6 about-section about-location">
    {{ location_markup|safe }}
  </div>
  {% endif %}

</div>

{% if yelp_markup or twitter_markup %}
<div class="row-fluid">  
  {% if yelp_markup %}
  <div class="span6 about-section about-yelp">
    {{ yelp_markup|safe }}
  </div>
  {% endif %}
  {% if twitter_markup %}
  <div class="span6 about-section about-twitter">
    {{ twitter_markup|safe }}
  </div>
  {% endif %}
</div>
{% endif %}
