<h4>Photos</h4>

<div id="about_carousel" class="carousel slide" style="width:500px; height: 400px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for index, url in images %}
    <li data-target="#about_carousel" data-slide-to="{{ index }}" class="active"></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    {% for index, url in images %}
    <div class="item {% if index == 0 %}{{ 'active' }}{% endif %}">
      <img src="{{ url }}">
      <div class="carouse-caption">
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#about_carousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#about_carousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

{% if is_manager %}<a class="upload-photo">Upload Photos</a>{% endif %}

