<h4>Photos</h4>

<div id="about_carousel" class="carousel slide" style="width:500px; height: 400px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for index, url in images %}
    <li data-target="#about_carousel" data-slide-to="{{ index }}" class="active"></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    {% for index, url, alt in images %}
    <div class="item {% if index == 0 %}{{ 'active' }}{% endif %}">
      <img src="{{ url }}" alt="{{ alt }}">
      <div class="carouse-caption">
	{{ alt }}
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#about_carousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#about_carousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
<a class="upload-photo">Upload Photos</a>
<script type="text/javascript">
    (function($){
      $('#about_carousel').carousel({
        interval: 2000
      });

    $('a.upload-photo').click(function(event){
	event.preventDefault();
	var identity_id = $('div#id-identity-id').attr('data-identity-id');

	$.ajaxmodal({
	    href: '/image/upload',
	    modal_settings: {
		backdrop: 'static'
	    },
	    on_open: function(data, status, request){

		$('#file-uploader').sickle({
		    do_upload: true,
		    params: {
			type: 'image'
		    },
		    aspect: 5.12,
		    related_object_id: identity_id,
		    context: 'business_profile_carousel',
		    done: function(data){
			$('modal-box').modal('hide');
		    }
		});		
	    }
          });
        });

    })(jQuery);
</script>

