{% load thumbnail %}

<h4>Photos</h4>

<div id="about_carousel" class="carousel slide" style="width:500px; height: 400px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for index, _ in images %}
    <li data-target="#about_carousel" data-slide-to="{{ index }}" {% if index == 0 %}class="active"{% endif %} style="list-style: none;"></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for index, image in images %}
    {% thumbnail image.image.image '500x400' crop=image.crop as img %}
    <div class="item {% if index == 0 %}active{% endif %}">
      <div style="display:block; width:500px; height:400px; overflow:hidden; background:url('{{ img.url }}') no-repeat;"></div>
      <!--<img style="width:500px; height:auto;" src="{{ img.url }}" />-->
    </div>
    {% endthumbnail %}
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#about_carousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#about_carousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

{% if is_manager %}<a class="upload-photo" data-business-id="{{ establishment_parent.id }}">Upload Photos</a>{% endif %}

