
<div class="about-description">
<h4>About Us</h4>
{% if is_manager %}
<a class="pull-right edit_about">Edit</a>
<a class="pull-right close_edit_about" style="display: none;">Close without Saving</a>
{% endif %}

<div id="about-us">
  {% if is_manager %}
  <form id="about-us-form" class="editable toggleable hide">
    <input id="id-business-id" type="hidden" value="{{ establishment.id }}" />
    
    <!--
	Be careful when editing the ids. The server parses endpoint types
	out of them. 
	The id strings are passed on the server and used in processing. 
      -->

    <label for="business-name">Business Name:</label>
    <input 
       id="business-name"
       class="edit-endpoint"
       type="text"
       placeholder="Enter your business's name here..."
       data-initial-value="{{ establishment.name }}" />
    <br />

    <label for="business-address">Business Address:</label>
    <a 
       id="business-address"
       class="edit-endpoint"
       type="text"
       data-latitude="{{ address_latitude }}"
       data-longitude="{{ address_longitude }}"
       data-initial-value="{{ address }}">
      {{ address }}
    </a>

    <label for="endpoint-phone">Phone Number:</label>
    <input 
       id="endpoint-phone" 
       class="edit-endpoint" 
       type="text" 
       placeholder="000-000-0000" 
       data-endpoint-id="{{ phone.id }}"
       data-endpoint-type="{{ phone.endpoint_type }}"
       data-initial-value="{{ phone.value }}" />
    <br />
    
    <label for="endpoint-email">Email:</label>
    <input 
       id="endpoint-email" 
       class="edit-endpoint" 
       type="text" 
       placeholder="we@example.com" 
       data-endpoint-id="{{ email.id }}"
       data-endpoint-type="{{ email.endpoint_type }}"
       data-initial-value="{{ email.value }}" />
    <br />

    <label for="endpoint-twitter">Twitter Handle:</label>
    <input 
       id="endpoint-twitter" 
       class="edit-endpoint" 
       type="text" 
       placeholder="handle" 
       data-endpoint-id="{{ twitter.id }}"
       data-endpoint-type="{{ twitter.endpoint_type }}"
       data-initial-value="{{ twitter.value }}" />
    <br />

    <label for="endpoint-facebook">Facebook Name:</label>
    <input 
       id="endpoint-facebook" 
       class="edit-endpoint" 
       type="text" 
       placeholder="facebook.username"
       data-endpoint-id="{{ facebook.id }}"
       data-endpoint-type="{{ facebook.endpoint_type }}"
       data-initial-value="{{ facebook.value }}" />
    <br />

    <label for="endpoint-yelp">Yelp Handle:</label>
    <input 
       id="endpoint-yelp"
       class="edit-endpoint"
       placeholder="yelp handle"
       data-endpoint-id="{{ yelp.id }}"
       data-endpoint-type="{{ yelp.endpoint_type }}"
       data-initial-value="{{ yelp.value }}" />
    <br />

    <label for="endpoint-website">Website:</label>
    <input 
       id="endpoint-website" 
       class="edit-endpoint" 
       type="text" 
       placeholder="website" 
       data-endpoint-id="{{ website.id }}"
       data-endpoint-type="{{ website.endpoint_type }}"
       data-initial-value="{{ website.value }}" />
    <br />

    <label for="business_description">Description:</label>
    <textarea 
       id="business-description"
       class="edit-endpoint description" 
       rows="20"
       placeholder="Lorem Ipsum ...">
      {{ description }}
    </textarea>
    <br />
    
    <input id="submit-business-info" type="submit" value="Save and Close" />
  </form>
  {% endif %}
  
  <div class="viewable toggleable">
    <div class="social-buttons">
      {% if twitter.value %}
      <a class="updateable-endpoint twitter" href="{{ twitter.uri }}">
	<img src="/static/knotis/identity/img/icon-twitter.png" alt="Twitter"></img>
      </a>
      {% endif %}
      
      {% if facebook.value %}
      <a class="updateable-endpoint facebook" href="{{ facebook.uri }}">
	<img src="/static/knotis/identity/img/icon-facebook.png" alt="Facebook"></img>
      </a>
      {% endif %}
      
      {% if yelp.value %}
      <a class="updateable-endpoint yelp" href="{{ yelp.uri }}">
	<img src="/static/knotis/identity/img/icon-yelp.png" alt="Yelp"></img>
      </a>
      {% endif %}
    </div>
    <div class="about-us">
      {{ description }}
    </div>
  </div>
</div>
</div>
