{% if address %}

<h4>Location</h4>
<div id="about-map"/>
<p>{{ address }}</p>
<div class="establishment-contact-loc-address">{{ address }}</div>

<input type="hidden" 
	   id="establishment-contact-loc-details"
	   data-latitude="{{ latitude }}"
	   data-longitude="{{ longitude }}" />

<script>
  $(function(){
      // display the map on the about page. 
    var latLng = new google.maps.LatLng(parseFloat($('#establishment-contact-loc-details').attr('data-latitude')),
					 parseFloat($('#establishment-contact-loc-details').attr('data-longitude')));

    var initialize = function(){
        var mapOptions = {
            center: latLng,
            zoomControl: false,
            scaleControl: false,
            draggable: false,
            navigationContol: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            zoom: 16
        };
        var map = new google.maps.Map(document.getElementById('about-map'), mapOptions);

	    var markerOptions = {
	        position: latLng,
	        map: map
	    };
	    var marker = new google.maps.Marker(markerOptions);
        map.setZoom(16);
    }
    
    google.maps.event.addDomListener(window, 'load', initialize);

  });
</script>

{% endif %}
