{% if twitter_has_feed or yelp_has_feed %}
<h4 class="title-and-selector">
Ratings &amp; Reviews

<ul id="AboutFeedTab" class="nav nav-tabs pull-right">
  {% if twitter_has_feed %}
  <li class="twitter tab active">
    <div class="twitter tab">&nbsp;</div>
  </li>
  {% endif %}

  {% if yelp_has_feed %}
  <li class="yelp tab">
    <div class="yelp tab">&nbsp;</div>
  </li>
  {% endif %} 
</ul>
</h4>
{% endif %}

<div id="AboutFeedTabContent" class="tab-content">
  {% if twitter_has_feed %}
  <div id="twitter" class="tab-pane active">{{ twitter_markup }}</div>
  {% endif %}

  {% if yelp_has_feed %}
  <div id="yelp" class="tab-pane">{{ yelp_markup }}</div>
  {% endif %}
</div>
