<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <section class="welcomeModal">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Welcome to Knotis!</h1>
                        <p>First thing's first. Tell us your name so that we can personalize your Knotis experience. This name will be used publically on Knotis.</p>
                        <form id="id-individual-form" action="/identity/first/" method="POST">{% csrf_token %}
                            <input name="id" type="hidden" value="{{ identity_id|default:'' }}" />
                            <input name="identity_type" type="hidden" value="{{ identity_type|default:'0' }}" />
                            <input name="name" placeholder="Enter your name" type="text" value="{{ identity_name|default:'' }}" />
                            <input type="submit" value="Continue" class="btn" />
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
