{% load thumbnail %}
{% load render_template_fragment %}
<div class="profileBusiness">
    <div class="container-fluid mainContent">
        {% thumbnail profile_banner.image.image '1920x500' crop=profile_banner.crop as header %}
        <div class="hero" style="background-image: url('{{ header.url }}');">
        {% empty%}
        <div style="background-image: url(/knotis/identity/img/default_profile_banner_{{ profile_banner_color|default:'darkgrey' }}.png));">
        {% endthumbnail %}

            <div class="row">

                <div class="heroOverLay">
                </div>

                <div class="col-lg-12 columns">
                    <div class="heroInfo">
                        {% thumbnail profile_badge.image.image '120x120' crop=profile_badge.crop as img %}
                            <img src="{{ img.url }}"/>
                        {% empty %}
                            <img width="120" height="120" src="{{ default_profile_logo_uri }}" class="{% if is_manager %}change-profile-badge-link{% endif %}" />
                        {% endthumbnail %}
                        <h1>{{ establishment.name }}</h1>
                        {% if address %}
                            <h2>{{ address }}</h2>
                        {% endif %}
                        <a href="">Follow</a>
                    </div>
                </div>
            </div>
            {% if is_manager %}
                <a class="change-profile-cover-link">Change Cover Image</a>
            {% endif %}
            <div class="heroOverlay"></div>
        </div>

        <div class="subNav">
            <div class="row">
                <div class="col-lg-12">
                    <ul>
                        <li class="active">
                            <a href="/id/{{establishment.id}}/about/">About</a>
                        </li>
                        <li>
                            <a href="/id/{{establishment.id}}/contact/">Contact</a>
                        </li>
                        <li>
                            <a href="/id/{{establishment.id}}/location/">Location</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row profileContent">

            <div>
                {{ profile_content }}
            </div>
        </div>
    </div>
    <div id="id-identity-id" data-establishment-id="{{ establishment.id }}" data-business-id="{{ business.id }}" ></div>
</div>
