<div id="id-identity-switcher" class="dropdown">
  <a class="dropdown-toggle" id="id-identity-dropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
    {% for identity in available_identities %}
    {% if identity.id == request.session.current_identity_id %}
    <img src="http://placehold.it/18x18" />
    {{ identity.name }}
    <b class="caret"></b>
    {% endif%}
    {% endfor %}
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="id-identity-dropdown">
    {% for identity in available_identities %}
    {% if identity.id != request.session.current_identity_id %}
    <li>
      <a href="/identity/switcher/{{ identity.id }}/">
        <img src="http://placehold.it/18x18" />
        {{ identity.name }}
      </a>
    </li>
    {% endif%}
    {% endfor %}
    <li class="divider" role="presentation"></li>
    <li><a href="/auth/logout/">Logout</a></li>
  </ul>
</div>
