{% load thumbnail %}
<div class="grid-tile small-tile" >
  <div class="tile-header">
    {% thumbnail identity.header_image.image.image '120x120' crop=identity.header_image.crop as image %}
    <img class="tile-image" alt="{{ identity.name }}" src="{{ image.url }}" />
    {% empty %}
    <img class="tile-image"  alt="{{ identity.name }}" src="{{ STATIC_URL }}knotis/offer/img/default-offer-image.png" />
    {% endthumbnail %}
    {% thumbnail identity.badge_image.image.image '60x60' crop=identity.badge_image.crop as image %}
    <img class="tile-badge" src="{{ image.url }}" />
    {% empty %}
    <img class="tile-badge" src="{{ STATIC_URL }}knotis/offer/img/default-offer-badge.png" />
    {% endthumbnail %}
  </div>
  <div class="tile-body">
    <p class="tile-title">{{ identity.name }}</p>
    <button class="btn btn-primary action">Follow</button>
  </div>
  <div class="tile-footer">{% if stats %}{{ stats }}{% else %}McLean???{% endif %}</div>
</div>
