{% load thumbnail %}
{% load render_template_fragment %}

<div class="col-lg-3 col-xs-6 offerItem" data-id="identityTile">
    <a class="tileLink" href="/id/{{ identity.pk }}/">
        <div class="busCover">
            {% thumbnail banner_image.image.image 'x135' crop=banner_image.crop as image %}
            <div style="background: url('{{ image.url }}') no-repeat;background-color: #2cc397;background-size: cover;background-position:50%;" class="busCover"></div>
            {% empty %}
            <img class="tile-image defaultImg"  alt="{{ identity.name }}" src="{{ STATIC_URL }}knotis/identity/img/default_profile_banner_{{ profile_banner_color|default:'darkgrey' }}.png"/>
            {% endthumbnail %}
            <div class="overlay"></div>
        </div>
        <div class="tileContent tileContentIdentity">
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <a href="/id/{{ identity.pk }}/">
                        {% thumbnail badge_image.image.image '80x80' crop=badge_image.crop as image %}
                        <img class="busLogo" src="{{ image.url }}" alt="{{ identity.name }}"/>
                        {% empty %}
                        <img class="img-circle tile-badge defaultImg busLogo" src="{{ STATIC_URL }}/knotis/img/default_profile_badge.png" />
                        {% endthumbnail %}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <h1>{{ identity.name }}</h1>
                    {% if action_button %}{{ action_button }}{% endif %}
                    <p class="location"> {{ address }} </p>
                </div>
            </div>
        </div>
    </a>
</div>
