.voucher .row {
  margin-right: -15px;
  margin-left: -15px;
  padding: 10px;
}

.voucher header {
  text-align: center;
  padding-top: 20px;
}

.voucher header img {
  max-width: 50px;
}

.voucher .contentBlock {
  margin: 20px auto;
  background: white;
  border-radius: 5px;
  max-width: 640px;
  box-shadow: 0 3px 0 #f0f0f0;
}

.voucher {
  text-align: center;
  border-radius: 5px;
}

.voucher a {
  color: #06ad9c;
}

.voucher ol li, .voucher ul li {
  padding: 0 0;
}

.voucher ul li {
  border-top: 1px solid #cecece;
  width: 80%;
  margin: 0 auto;
}

.voucher h1 {
  font-weight: 300;
  font-size: 1.9em;
  margin-top: 15px;
}

.voucher h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 20px;
  font-size: 14px;
  padding-bottom: 10px;
  margin: 0 0;
}

.voucher .coverPhoto {
    width: auto;
    height: 200px;
}

.voucher .busLogo {
  max-width: 130px;
  position: relative;
  top: -50px;
  box-shadow: 0 1px 0 #c0c0c0;
  border-radius: 50%;
  margin-bottom: -70px;
}

.voucher .busTitle a {
  color: #06ad9c;
  font-weight: 300;
  font-size: 1.2em;
  text-decoration: none;
}

.voucher .qrCode {
  max-width: 70%;
  margin-bottom: 20px;
}

.voucher .dataPoint {
  border-top: 1px solid #cecece;
  padding: 5px 0;
  width: 90%;
  margin: 0 auto;
}

.voucher .dataPoint h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

.voucher .print-break-before {
    page-break-before: always
}
