div#id-profile-cover {
    text-align: center;
    position: relative;
    background-image: url('/static/knotis/img/default_profile_banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1920px 376px;
    width: 100%;
    height: 376px;
}

div#id-profile-cover img#profile-badge {
    margin-top: 50px;
    width: 170px;
    height: 170px;
}

div#id-profile-title h2 {
    color: white;
}

div#id-profile-spacer p {
    min-height: 10px;
    background-color: #ffffff;
}

div#id-profile-cover img[data-add-image]:hover {
    cursor: pointer;
}

img.img-cover {
    max-width: 100%;
}

@media (min-width: 768px) {
    div#id-profile-cover div#id-profile-contact {
        position: absolute;
        left: 3em;
        top: 4em;
        text-align: left;
    }

}

a.change-profile-cover-link {
    position: absolute;
    right: 2%;
    bottom: 2%;
}

div.column-box {
    columns: 2;
}

/* Profile About Section Divs */

.about-section {
    background: #fff;
    padding: 24px;
}

.about-description {
    
}

.about-carousel {
    overflow: hidden;
}

.about-location {
    min-width: 300px;
    min-height: 300px;
}

#map {
    width: 100%;
    min-height: 300px;
}


.about-yelp {

}

.about-twitter {

}

/* Profile About About Endpoint Form */
.edit-endpoint {
    width: 380px;
    position: relative;
    left: 20px;
}

