div#id-profile-cover {
    text-align: center;
    /*background-color: #b5d334;*/
    padding: 35px 0 16px 0;
    position: relative;
}

img#profile-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 290px;
    z-index: -50;
}

div#id-profile-title h2 {
    color: white;
}

div#id-profile-spacer p {
    min-height: 10px;
    background-color: #ffffff;
}

div#id-profile-cover img[data-add-image]:hover {
    cursor: pointer;
}

img.img-cover {
    max-width: 100%;
}

@media (min-width: 768px) {
    div#id-profile-cover div#id-profile-contact {
        position: absolute;
        right: 2%;
        top: 12%;
        text-align: right;
    }

}

a.change-profile-cover-link {
    position: absolute;
    right: 2%;
    bottom: 2%;
}