{% load thumbnail %}
<div class="controls">
    {% for r in rows %}
    <div class="control-group">
        {% if render_images %}
        <img
             {% thumbnail r.image.image.image image_dimensions crop=r.image.crop as img %}
             src="{{ img.url }}"
             {% endthumbnail %}
             />
        {% endif %}
        {% if r.title %}
        <span>{{ r.title }}</span>
        {% endif %}
        <input {% if r.checked %}checked {% endif %}{% if r.disabled %}disabled {% endif %}type="{% if select_multiple %}checkbox{% else %}radio{% endif %}" class="radio" name="{{ field_name }}{% if select_multiple%}_{{ forloop.counter0 }}{% endif %}" value="{{ r.item.id }}" />

        {% if r.action %}
        <a 
           data-method="{{ r.action.method }}"
           class="item-action {{ r.action.class }}"
           href="{{ r.action.url }}?id={{ r.item.id }}" >{{ r.action.name }}</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
<scrpit src="{{ STATIC_URL }}knotis/layout/js/item_select.js"></script>
{% if item_select_scripts %}
{% for script in item_select_scripts %}
<script src="{{ STATIC_URL }}{{ script }}"></script>
{% endfor %}
{% endif %}
