{% load thumbnail %}
{% if images %}
<ul class="link-name images-gallery">
    {% for image in images %}
    <ul class="link-name clear-fix radius-general">
        <li class="radius-general active clear-fix">
            <img
                alt="{{ alt_text }}"
                {% thumbnail image.image dimensions crop=image.crop as img %}
                src="{{ img.url }}"
                {% endthumbnail %}
                class="{{ image_class }}" />
                <a class="right delete radius-general delete-image" 
                    href="#" 
                    data-image-id="{{ image.id }}" >delete</a>
                <a class="right crop radius-general" 
                    href="#" 
                    data-image-id="{{ image.id }}" >crop</a>
                {% if business %}
                <a class="right{% if image == business.primary_image %} noheadimage{% else %} active{% endif %} principal delete radius-general headimage"
                    data-business-id="{{ business.id }}"                
                    data-image-id="{{ image.id }}"
                    href="#">Primary</a>
                {% endif %}
        </li>
    </ul>
    {% endfor %}
</ul>
<div class="clean"></div>
{% endif %}
