.qq-uploader { }

.qq-upload-button {
    border: 1px solid #26869b;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 #428897;
    box-shadow: 1px 2px 1px #b0dfe9 inset;
    -moz-box-shadow: 1px 2px 1px #b0dfe9 inset;
    -webkit-box-shadow: 1px 2px 1px #b0dfe9 inset;
    background: #77c8d9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: -moz-linear-gradient(top, #77c8d9 0%, #49b8d0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #77c8d9), color-stop(100%, #49b8d0));
    background: -webkit-linear-gradient(top, #77c8d9 0%, #49b8d0 100%);
    background: -o-linear-gradient(top, #77c8d9 0%, #49b8d0 100%);
    background: -ms-linear-gradient(top, #77c8d9 0%, #49b8d0 100%);
    font-size: 1.5em;
    padding: 6px 23px 5px 23px;
    cursor: pointer;
    width:100px;
}
.qq-upload-button-hover {}
.qq-upload-button-focus {}

.qq-upload-drop-area {

}
.qq-upload-drop-area span {

}
.qq-upload-drop-area-active {}

.qq-upload-list {}
.qq-upload-list li { -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {

}

.qq-upload-size {float:right;}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("../images/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:12px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}