.supportModal {
    text-align: center;
    width: 100%;
    position: relative;
}

.supportModal label {
    font-size: 14px;
    display: inline-block;
    width: 27%;
    vertical-align: top;
    text-align: right;
    padding: 12px 20px 0;
}

.supportModal .support-forms {
    position: relative;
    left: -55px;
}

.supportModal .support-buttons {
    width: 50%;
    margin: 10px auto;
    position: relative;
    left: 50px;
    top: 13px;
}

.supportModal .support-buttons input {
    background: #2cc397;
    border: 0;
    color: white;
    font-size: 15px;
    display: inline-block;
    width: 100%;
}

.supportModal .support-buttons a {
    color: #c0c0c0;
    font-size: 15px;
    margin: 10px 0;
    display: inline-block;
}

.support-forms input, .supportModal .support-forms textarea {
    display: inline-block;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 3px;
    padding: 10px;
    width: 50%;
    outline: 0;
    background: #FFFFFF;
    margin: 0 0 10px 0;
}

.supportModal h1 {
    font-size: 32px;
    color: #7C7C7C;
    margin: 20px 8px;
}

.supportModal select {
    border: 0;
    outline: 0;
    display: inline-block;
    height: 40px;
    text-indent: 12px;
    font-size: 15px;
    margin: 0 0 25px;
}
